webavs-web/src/main/resources/xsd/acor/eahv-iv-common-4-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.eahv-iv.ch/xmlns/eahv-iv-common/4" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0"
	xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010-f/5" 
	xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011-f/7" 
	xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044-f/4" 
	xmlns:eCH-0046="http://www.ech.ch/xmlns/eCH-0046-f/3" 
	xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" 
	xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097/1" 
	xmlns:eahv-iv-common="http://www.eahv-iv.ch/xmlns/eahv-iv-common/4">
	<xs:annotation>
		<xs:documentation xml:lang="de">
			Basistypen für die Meldungen der Schweizerischen Steuerkonferenz.
			Dieses Schema enthält auch eine Vorlage für den Header von SSK Messages.
			Diese Vorlage muss für konkrete Implementierungen kopiert werden.
			Der Report Header und die Report Message ist ebenfalls hier definiert.
			Sie werden in der Regel nicht abgeleitet, können also direkt verwendet werden.
			Aus diesen Grund ist bereits ein reportHeader und ein eventReport definiert.
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010-f/5" schemaLocation="eCH-0010-5-0f.xsd"/>
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0011-f/7" schemaLocation="eCH-0011-7-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044-f/4" schemaLocation="eCH-0044-4-1f.xsd"/>
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0046-f/3" schemaLocation="eCH-0046-3-0f.xsd"/>
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4" schemaLocation="eCH-0058-4-0.xsd" />
    <xs:import namespace="http://www.ech.ch/xmlns/eCH-0097/1" schemaLocation="eCH-0097-1-0f.xsd"/>
    
	<xs:simpleType name="vatNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Typdefinition Mehrwertsteuernummer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	<xs:simpleType name="dossierNumberFETType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Typdefinition ESTV Dossiernummer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="oldVnType">
		<xs:restriction base="xs:unsignedLong">
			<xs:pattern value="[1-9][0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentKindType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9][0-9])+(\.[0-9][0-9])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="naturalPersonsOASIDIType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Erweitert eCH-0044:personIdentificationType and schränkt Particle Occurrences ein.
				Ausserdem wird das neue Element "address" eingeführt.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="officialName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="firstName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="sex" type="eCH-0044:sexType" minOccurs="0"/>
			<xs:element name="dateOfBirth" type="eCH-0044:datePartiallyKnownType" minOccurs="0"/>
			<xs:element name="vn" type="eCH-0044:vnType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>checksum.groovy</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="oldVn" type="eahv-iv-common:oldVnType" minOccurs="0"/>
			<xs:element name="otherPersonId" type="eCH-0044:namedPersonIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="address" type="eCH-0010:addressInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Postadresse (neues Feld)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nationality" type="eCH-0011:nationalityType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="headerType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Ableitung von eCH-0058:headerType.
				Dieser Typ kann nicht direkt benutzt werden. Er muss für jede Meldung abgeleitet werden
				und kann dann für die Meldung (für alle Meldungen bei Meldungsprozessen mit mehreren Meldungen),
				die Weiterleitung, das Rektifikat und den Widerruf benutzt werden.
				Typ sollte möglichst synchron gehalten werden mit eahv-iv-common:headerType
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderId" type="eCH-0058:participantIdType"/>
			<xs:element name="recipientId" type="eCH-0058:participantIdType"/>
			<xs:element name="messageId" type="eCH-0058:messageIdType"/>
			<xs:element name="referenceMessageId" type="eCH-0058:messageIdType"/>
			<xs:element name="ourBusinessReferenceID" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="yourBusinessReferenceId" type="eCH-0058:businessReferenceIdType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="businessProcessId" type="eCH-0058:businessProcessIdType"/>
			<xs:element name="messageType" type="eCH-0058:messageTypeType"/>
			<xs:element name="subMessageType" type="eCH-0058:subMessageTypeType"/>
			<xs:element name="sendingApplication" type="eCH-0058:sendingApplicationType"/>
			<xs:element name="subject" type="eCH-0058:subjectType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="messageDate" type="xs:dateTime" minOccurs="0" maxOccurs="0"/>
			<xs:element name="action">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
						<xs:enumeration value="8">
							<xs:annotation>
								<xs:documentation xml:lang="de">Fehlerreport / negativeReport</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="9">
							<xs:annotation>
								<xs:documentation xml:lang="de">Meldungsreport / positiveReport</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="testDeliveryFlag" type="eCH-0058:testDeliveryFlagType"/>
			<xs:element name="responseExpected" type="eCH-0058:responseExpectedType" default="false"/>
			<xs:element name="businessCaseClosed" type="eCH-0058:businessCaseClosedType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contactInformationType">
		<xs:sequence>
			<xs:element name="name" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="department" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="phone" type="eCH-0046:phoneNumberType"/>
			<xs:element name="email" type="eCH-0046:emailAddressType"/>
			<xs:element name="other" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="infoType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				Ableitung von eCH-0058:infoType. Dieser Typ kann nicht direkt benutzt werden. Er muss für jede Meldung abgeleitet werden und kann dann für die Meldung (für alle Meldungen bei Meldungsprozessen mit mehreren Meldungen), die Weiterleitung, das Rektifikat und den Widerruf benutzt werden. Typ sollte möglichst synchron gehalten werden mit eahv-iv-common:infoType
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="negativeReport" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="notice" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="code">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="5"/>
												<xs:maxLength value="5"/>
												<xs:pattern value="([EW][0-9]{4})|(0{5})"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="codeDescription" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="1"/>
												<xs:maxLength value="300"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="faultyField" minOccurs="0" maxOccurs="unbounded">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="timestamp" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="comment" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="5000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="data" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="echoRequest" type="xs:anyType" minOccurs="0"/>
									<xs:element name="xsdVersion" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="1"/>
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="additionalData" type="xs:anyType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="positiveReport" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="notice">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="code">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:length value="5"/>
												<xs:pattern value="(([W][0-9]{4})|(0{5}))"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="codeDescription" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="1"/>
												<xs:maxLength value="300"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="faultyField" minOccurs="0" maxOccurs="unbounded">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="timestamp" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="comment" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="5000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="data" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="echoRequest" type="xs:anyType" minOccurs="0"/>
									<xs:element name="xsdVersion" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="1"/>
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="additionalData" type="xs:anyType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="attachmentType">
		<xs:sequence>
			<xs:element name="title" type="eahv-iv-common:attachmentTitleType"/>
			<xs:element name="documentDate" type="eahv-iv-common:documentDateType"/>
			<xs:element name="leadingDocument" type="eahv-iv-common:leadingDocumentType"/>
			<xs:element name="sortOrder" type="eahv-iv-common:sortOrderType"/>
			<xs:element name="documentFormat" type="eahv-iv-common:documentFormatType">
				<xs:annotation>
					<xs:documentation xml:lang="de">MIME-Typ des Dokuments. Erlaubte MIME-Typen müssen pro Message bestimmt werden</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentType" type="eahv-iv-common:documentKindType"/>
			<xs:element name="file" type="eahv-iv-common:attachmentFileType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="attachmentTitleType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="attachmentFileType">
		<xs:sequence>
			<xs:element name="pathFileName" type="eahv-iv-common:pathFileNameType"/>
			<xs:element name="internalSortOrder" type="eahv-iv-common:sortOrderType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="pathFileNameType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="250"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[A-Za-z0-9/_\-.]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="leadingDocumentType">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="sortOrderType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="documentFormatType">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="documentDateType">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:element name="eventReport">
		<xs:annotation>
			<xs:documentation xml:lang="de">Root element für Message von Protokollquittungen und fachlichen Rückmeldungen</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="eahv-iv-common:headerType"/>
				<xs:element name="info" type="eahv-iv-common:infoType"/>
			</xs:sequence>
			<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="header">
		<xs:annotation>
			<xs:documentation xml:lang="de">Root element für Header von Protokollquittungen und fachlichen Rückmeldungen</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="eahv-iv-common:headerType">
					<xs:attribute name="minorVersion" type="xs:integer" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="info" type="eahv-iv-common:infoType"/>
</xs:schema>
