webavs-web/src/main/resources/wsdl/wirr/xsd/ebsv-c031/1/ebsv-c031-000000-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Naef (OFIT) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebsv-c001="http://www.bsv.admin.ch/xmlns/ebsv-c001/1" xmlns:ebsv-c004="http://www.bsv.admin.ch/xmlns/ebsv-c004/1" xmlns:ebsv-c005="http://www.bsv.admin.ch/xmlns/ebsv-c005/1" xmlns:ebsv-c007="http://www.bsv.admin.ch/xmlns/ebsv-c007/1" xmlns:ebsv-c011="http://www.bsv.admin.ch/xmlns/ebsv-c011/1" xmlns:ebsv-c015="http://www.bsv.admin.ch/xmlns/ebsv-c015/1" xmlns:ebsv-c016="http://www.bsv.admin.ch/xmlns/ebsv-c016/1" xmlns:ebsv-c023="http://www.bsv.admin.ch/xmlns/ebsv-c023/1" xmlns:ebsv-c024="http://www.bsv.admin.ch/xmlns/ebsv-c024/1" xmlns:ebsv-c025="http://www.bsv.admin.ch/xmlns/ebsv-c025/1" xmlns:ebsv-c029="http://www.bsv.admin.ch/xmlns/ebsv-c029/1" xmlns:ebsv-c030="http://www.bsv.admin.ch/xmlns/ebsv-c030/1" xmlns:ebsv-c031="http://www.bsv.admin.ch/xmlns/ebsv-c031/1" targetNamespace="http://www.bsv.admin.ch/xmlns/ebsv-c031/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0">
	<!-- Ce fichier est issu du fichier TRAX annoncesRente-types.xsd -->
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c001/1" schemaLocation="../../ebsv-c001/1/ebsv-c001-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c004/1" schemaLocation="../../ebsv-c004/1/ebsv-c004-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c005/1" schemaLocation="../../ebsv-c005/1/ebsv-c005-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c007/1" schemaLocation="../../ebsv-c007/1/ebsv-c007-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c011/1" schemaLocation="../../ebsv-c011/1/ebsv-c011-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c015/1" schemaLocation="../../ebsv-c015/1/ebsv-c015-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c016/1" schemaLocation="../../ebsv-c016/1/ebsv-c016-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c023/1" schemaLocation="../../ebsv-c023/1/ebsv-c023-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c024/1" schemaLocation="../../ebsv-c024/1/ebsv-c024-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c025/1" schemaLocation="../../ebsv-c025/1/ebsv-c025-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c029/1" schemaLocation="../../ebsv-c029/1/ebsv-c029-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c030/1" schemaLocation="../../ebsv-c030/1/ebsv-c030-000000-1-0.xsd"/>
	<xs:complexType name="SkalaBerechnung_Type" abstract="false">
		<xs:annotation>
			<xs:documentation>calcul d'échelle</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Skala" type="ebsv-c023:Rentenskala_Type"/>
			<xs:element name="BeitragsdauerVor1973">
				<xs:annotation>
					<xs:documentation>AAMM</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ebsv-c007:BeitragsdauerVor1973_Type">
						<xs:maxInclusive value="25.00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BeitragsdauerAb1973" type="ebsv-c007:BeitragsdauerAb1973_Type">
				<xs:annotation>
					<xs:documentation>AAMM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnrechnungVor1973FehlenderBeitragsmonate" type="ebsv-c007:AnrechnungVor1973FehlenderBeitragsmonate_Type">
				<xs:annotation>
					<xs:documentation>mois de cotisations manquantes entre 1948 et 1972</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnrechnungAb1973Bis1978FehlenderBeitragsmonate" type="ebsv-c007:AnrechnungAb1973Bis1978FehlenderBeitragsmonate_Type">
				<xs:annotation>
					<xs:documentation>mois de cotisations manquantes entre 1973 et 1978</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeitragsjahreJahrgang" type="ebsv-c007:BeitragsjahreJahrgang_Type">
				<xs:annotation>
					<xs:documentation>nombre d'années</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SkalaBerechnung_WeakType" abstract="false">
		<xs:annotation>
			<xs:documentation>calcul d'échelle</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Skala" type="ebsv-c023:Rentenskala_Type" minOccurs="0"/>
			<xs:element name="BeitragsdauerVor1973" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AAMM</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ebsv-c007:BeitragsdauerVor1973_Type">
						<xs:maxInclusive value="25.00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BeitragsdauerAb1973" type="ebsv-c007:BeitragsdauerAb1973_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AAMM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnrechnungVor1973FehlenderBeitragsmonate" type="ebsv-c007:AnrechnungVor1973FehlenderBeitragsmonate_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>mois de cotisations manquantes entre 1948 et 1972</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnrechnungAb1973Bis1978FehlenderBeitragsmonate" type="ebsv-c007:AnrechnungAb1973Bis1978FehlenderBeitragsmonate_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>mois de cotisations manquantes entre 1973 et 1978</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeitragsjahreJahrgang" type="ebsv-c007:BeitragsjahreJahrgang_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>nombre d'années</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DJE9Beschreibung_Type">
		<xs:sequence>
			<xs:element name="DurchschnittlichesJahreseinkommen" type="ebsv-c015:BetragFR_Type"/>
			<xs:element name="BeitragsdauerDurchschnittlichesJahreseinkommen" type="ebsv-c007:BeitragsdauerDurchschnittlichesJahreseinkommen_Type">
				<xs:annotation>
					<xs:documentation>AAMM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AngerechneteEinkommen" type="ebsv-c024:AngerechneteEinkommen_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DJE9Beschreibung_WeakType">
		<xs:sequence>
			<xs:element name="DurchschnittlichesJahreseinkommen" type="ebsv-c015:BetragFR_Type" minOccurs="0"/>
			<xs:element name="BeitragsdauerDurchschnittlichesJahreseinkommen" type="ebsv-c007:BeitragsdauerDurchschnittlichesJahreseinkommen_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AAMM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AngerechneteEinkommen" type="ebsv-c024:AngerechneteEinkommen_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DJE10Beschreibung_Type">
		<xs:sequence>
			<xs:element name="DurchschnittlichesJahreseinkommen" type="ebsv-c015:BetragFR_Type"/>
			<xs:element name="BeitragsdauerDurchschnittlichesJahreseinkommen" type="ebsv-c007:BeitragsdauerDurchschnittlichesJahreseinkommen_Type">
				<xs:annotation>
					<xs:documentation>AAMM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GesplitteteEinkommen" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DJE10Beschreibung_WeakType">
		<xs:sequence>
			<xs:element name="DurchschnittlichesJahreseinkommen" type="ebsv-c015:BetragFR_Type" minOccurs="0"/>
			<xs:element name="BeitragsdauerDurchschnittlichesJahreseinkommen" type="ebsv-c007:BeitragsdauerDurchschnittlichesJahreseinkommen_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AAMM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GesplitteteEinkommen" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Gutschriften9_Type">
		<xs:sequence minOccurs="0">
			<xs:element name="DJEohneErziehungsgutschrift" type="ebsv-c015:BetragFR_Type">
				<xs:annotation>
					<xs:documentation>en francs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AngerechneteErziehungsgutschrift" type="ebsv-c015:BetragFR_Type">
				<xs:annotation>
					<xs:documentation>en francs</xs:documentation>
					<xs:documentation>en francs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnzahlErziehungsgutschrift" type="ebsv-c024:AnzahlErziehungsgutschrift9_Type">
				<xs:annotation>
					<xs:documentation>nombre d'années</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Gutschriften9_WeakType">
		<xs:sequence>
			<xs:element name="DJEohneErziehungsgutschrift" type="ebsv-c015:BetragFR_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>en francs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AngerechneteErziehungsgutschrift" type="ebsv-c015:BetragFR_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>en francs</xs:documentation>
					<xs:documentation>en francs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnzahlErziehungsgutschrift" type="ebsv-c024:AnzahlErziehungsgutschrift9_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>nombre d'années</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Gutschriften10_Type">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation xml:lang="fr">fractions d'années</xs:documentation>
			</xs:annotation>
			<xs:element name="AnzahlErziehungsgutschrift" type="ebsv-c025:AnzahlErziehungsgutschrift10_Type" minOccurs="0"/>
			<xs:element name="AnzahlBetreuungsgutschrift" type="ebsv-c025:AnzahlBetreuungsgutschrift10_Type" minOccurs="0"/>
			<xs:element name="AnzahlUebergangsgutschrift" type="ebsv-c025:AnzahlUebergangsgutschrift10_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IVDaten9_Type">
		<xs:sequence>
			<xs:element name="IVStelle" type="ebsv-c016:IVStelle9_weakType"/>
			<xs:element name="Invaliditaetsgrad" type="ebsv-c023:Invaliditaetsgrad_numType"/>
			<xs:element name="Gebrechensschluessel" type="ebsv-c023:Gebrechensschluessel_numWeakType"/>
			<xs:element name="Funktionsausfallcode" type="ebsv-c023:IVFunktionsausfall_numWeakType" minOccurs="0"/>
			<xs:element name="DatumVersicherungsfall" type="ebsv-c007:AHVDatumJM_Type"/>
			<xs:element name="IstFruehInvalid" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
                        survenance de l'invalidité justifiant la rente avant 25 ans révolus ?
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IVDaten9_shortType">
		<xs:sequence>
			<xs:element name="IVStelle" type="ebsv-c016:IVStelle9_weakType"/>
			<xs:element name="Invaliditaetsgrad" type="ebsv-c023:Invaliditaetsgrad_numType"/>
			<xs:element name="DatumVersicherungsfall" type="ebsv-c007:AHVDatumJM_Type"/>
			<xs:element name="IstFruehInvalid" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
                        survenance de l'invalidité justifiant la rente avant 25 ans révolus ?
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IVDaten9_WeakType">
		<xs:sequence>
			<xs:element name="IVStelle" type="ebsv-c016:IVStelle9_weakType" minOccurs="0"/>
			<xs:element name="Invaliditaetsgrad" type="ebsv-c023:Invaliditaetsgrad_numType" minOccurs="0"/>
			<xs:element name="Gebrechensschluessel" type="ebsv-c023:Gebrechensschluessel_numWeakType" minOccurs="0"/>
			<xs:element name="Funktionsausfallcode" type="ebsv-c023:IVFunktionsausfall_numWeakType" minOccurs="0"/>
			<xs:element name="DatumVersicherungsfall" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
			<xs:element name="IstFruehInvalid" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        survenance de l'invalidité justifiant la rente avant 25 ans révolus ?
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IVDaten10_Type">
		<xs:sequence>
			<xs:element name="IVStelle" type="ebsv-c016:IVStelle_weakType"/>
			<xs:element name="Invaliditaetsgrad" type="ebsv-c023:Invaliditaetsgrad_numType"/>
			<xs:element name="Gebrechensschluessel" type="ebsv-c023:Gebrechensschluessel_numWeakType"/>
			<xs:element name="Funktionsausfallcode" type="ebsv-c023:IVFunktionsausfall_numWeakType" minOccurs="0"/>
			<xs:element name="DatumVersicherungsfall" type="ebsv-c007:AHVDatumJM_Type"/>
			<xs:element name="IstFruehInvalid" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
                        survenance de l'invalidité justifiant la rente avant 25 ans révolus ?
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IVDaten10_shortType">
		<xs:sequence>
			<xs:element name="IVStelle" type="ebsv-c016:IVStelle_weakType"/>
			<xs:element name="Invaliditaetsgrad" type="ebsv-c023:Invaliditaetsgrad_numType"/>
			<xs:element name="DatumVersicherungsfall" type="ebsv-c007:AHVDatumJM_Type"/>
			<xs:element name="IstFruehInvalid" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
                        survenance de l'invalidité justifiant la rente avant 25 ans révolus ?
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IVDaten10_WeakType">
		<xs:sequence>
			<xs:element name="IVStelle" type="ebsv-c016:IVStelle_weakType" minOccurs="0"/>
			<xs:element name="Invaliditaetsgrad" type="ebsv-c023:Invaliditaetsgrad_numType" minOccurs="0"/>
			<xs:element name="Gebrechensschluessel" type="ebsv-c023:Gebrechensschluessel_numWeakType" minOccurs="0"/>
			<xs:element name="Funktionsausfallcode" type="ebsv-c023:IVFunktionsausfall_numWeakType" minOccurs="0"/>
			<xs:element name="DatumVersicherungsfall" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
			<xs:element name="IstFruehInvalid" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        survenance de l'invalidité justifiant la rente avant 25 ans révolus ?
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IVDatenHE9_Type">
		<xs:sequence>
			<xs:element name="IVStelle" type="ebsv-c016:IVStelle9_weakType"/>
			<xs:element name="Gebrechensschluessel" type="ebsv-c023:Gebrechensschluessel_numWeakType"/>
			<xs:element name="Funktionsausfallcode" type="ebsv-c023:IVFunktionsausfall_numWeakType" minOccurs="0"/>
			<xs:element name="DatumVersicherungsfall" type="ebsv-c007:AHVDatumJM_Type"/>
			<xs:element name="ArtHEAnspruch">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IVDatenHE9_shortType">
		<xs:sequence>
			<xs:element name="IVStelle" type="ebsv-c016:IVStelle9_weakType"/>
			<xs:element name="DatumVersicherungsfall" type="ebsv-c007:AHVDatumJM_Type"/>
			<xs:element name="ArtHEAnspruch">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IVDatenHE9_WeakType">
		<xs:sequence>
			<xs:element name="IVStelle" type="ebsv-c016:IVStelle9_weakType" minOccurs="0"/>
			<xs:element name="Gebrechensschluessel" type="ebsv-c023:Gebrechensschluessel_numWeakType" minOccurs="0"/>
			<xs:element name="Funktionsausfallcode" type="ebsv-c023:IVFunktionsausfall_numWeakType" minOccurs="0"/>
			<xs:element name="DatumVersicherungsfall" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
			<xs:element name="ArtHEAnspruch" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IVDatenHE_Type">
		<xs:sequence>
			<xs:element name="IVStelle" type="ebsv-c016:IVStelle_weakType"/>
			<xs:element name="Gebrechensschluessel" type="ebsv-c023:Gebrechensschluessel_numWeakType"/>
			<xs:element name="Funktionsausfallcode" type="ebsv-c023:IVFunktionsausfall_numWeakType" minOccurs="0"/>
			<xs:element name="DatumVersicherungsfall" type="ebsv-c007:AHVDatumJM_Type"/>
			<xs:element name="ArtHEAnspruch">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IVDatenHE_shortType">
		<xs:sequence>
			<xs:element name="IVStelle" type="ebsv-c016:IVStelle_weakType"/>
			<xs:element name="DatumVersicherungsfall" type="ebsv-c007:AHVDatumJM_Type"/>
			<xs:element name="ArtHEAnspruch">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IVDatenHE_WeakType">
		<xs:sequence>
			<xs:element name="IVStelle" type="ebsv-c016:IVStelle_weakType" minOccurs="0"/>
			<xs:element name="Gebrechensschluessel" type="ebsv-c023:Gebrechensschluessel_numWeakType" minOccurs="0"/>
			<xs:element name="Funktionsausfallcode" type="ebsv-c023:IVFunktionsausfall_numWeakType" minOccurs="0"/>
			<xs:element name="DatumVersicherungsfall" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
			<xs:element name="ArtHEAnspruch" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Rentenvorbezug_Type">
		<xs:sequence>
			<xs:element name="AnzahlVorbezugsjahre" type="ebsv-c007:AnzahlVorbezugsjahre_Type"/>
			<xs:element name="Vorbezugsdatum" type="ebsv-c007:Vorbezugsdatum_Type"/>
			<xs:element name="Vorbezugsreduktion" type="ebsv-c015:BetragFR_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Rentenvorbezug_WeakType">
		<xs:sequence>
			<xs:element name="AnzahlVorbezugsjahre" type="ebsv-c007:AnzahlVorbezugsjahre_Type" minOccurs="0"/>
			<xs:element name="Vorbezugsdatum" type="ebsv-c007:Vorbezugsdatum_Type" minOccurs="0"/>
			<xs:element name="Vorbezugsreduktion" type="ebsv-c015:BetragFR_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Rentenaufschub_Type">
		<xs:sequence>
			<xs:element name="Aufschubsdauer" type="ebsv-c007:Aufschubsdauer_Type">
				<xs:annotation>
					<xs:documentation>AMM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Abrufdatum" type="ebsv-c007:Abrufdatum_Type"/>
			<xs:element name="Aufschubszuschlag" type="ebsv-c015:BetragFR_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Rentenaufschub_WeakType">
		<xs:sequence>
			<xs:element name="Aufschubsdauer" type="ebsv-c007:Aufschubsdauer_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AMM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Abrufdatum" type="ebsv-c007:Abrufdatum_Type" minOccurs="0"/>
			<xs:element name="Aufschubszuschlag" type="ebsv-c015:BetragFR_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FamilienAngehoerige_Type">
		<xs:annotation>
			<xs:documentation>Description des liens familiaux dans le cadre d'une rente</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VNr1Ergaenzend" type="ebsv-c023:VersichertennummerErgaenzend_Type" minOccurs="0"/>
			<xs:element name="VNr2Ergaenzend" type="ebsv-c023:VersichertennummerErgaenzend_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Rentenmeldung_Type" abstract="true">
		<xs:annotation>
			<xs:documentation>basetype: Annonce générique d'une prestation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type"/>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type"/>
			<xs:element name="Leistungsberechtigte">
				<xs:annotation>
					<xs:documentation>
                        Données conernant l'ayant droit valables au début du mois de rapport ou du mois de fin de droit
                        à la prestation
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:any namespace="##any" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:any namespace="##any" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Abgangsmeldung_Type">
		<xs:annotation>
			<xs:documentation>
                Annonce générique d'une diminution de prestation (annonce est identique pour 9e/10e et
                ordinaire/extraordinaire/API)
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type"/>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0"/>
			<xs:element name="LeistungsberechtigtePerson">
				<xs:annotation>
					<xs:documentation>
                        Données conernant l'ayant droit valables au début du mois de rapport ou du mois de fin de droit
                        à la prestation
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Versichertennummer" type="ebsv-c001:Versichertennummer11oder13Stellen_Type">
							<xs:annotation>
								<xs:documentation xml:lang="fr">Numéro d'assuré de l'ayant droit</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c023:Leistungsart_alle_Revisionen_strongType"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZuwachsmeldungO9_Type">
		<xs:annotation>
			<xs:documentation>Annonce d'une nouvelle rente ordinaire (9e révision)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type"/>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0"/>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_Type"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c024:OrdentlicheRente9_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type"/>
						<xs:element name="Berechnungsgrundlagen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Niveaujahr" type="ebsv-c007:AHVDatumJ_Type"/>
									<xs:element name="SkalaBerechnung" type="ebsv-c031:SkalaBerechnung_Type"/>
									<xs:element name="DJEBeschreibung" type="ebsv-c031:DJE9Beschreibung_Type"/>
									<xs:element name="Gutschriften" type="ebsv-c031:Gutschriften9_Type"/>
									<xs:element name="IVDaten" type="ebsv-c031:IVDaten9_Type" minOccurs="0"/>
									<xs:element name="IVDatenEhefrau" type="ebsv-c031:IVDaten9_Type" minOccurs="0"/>
									<xs:element name="FlexiblesRentenAlter" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Rentenaufschub" type="ebsv-c031:Rentenaufschub_Type"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
						<xs:element name="KuerzungSelbstverschulden" type="ebsv-c023:KuerzungSelbstverschulden_Type" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AenderungsmeldungO9_Type">
		<xs:annotation>
			<xs:documentation>Annonce d'une nouvelle rente ordinaire (9e révision)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type"/>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0"/>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_WeakType"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c024:OrdentlicheRente9_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type" minOccurs="0"/>
						<xs:element name="Berechnungsgrundlagen" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Niveaujahr" type="ebsv-c007:AHVDatumJ_Type" minOccurs="0"/>
									<xs:element name="SkalaBerechnung" type="ebsv-c031:SkalaBerechnung_WeakType" minOccurs="0"/>
									<xs:element name="DJEBeschreibung" type="ebsv-c031:DJE9Beschreibung_WeakType" minOccurs="0"/>
									<xs:element name="Gutschriften" type="ebsv-c031:Gutschriften9_WeakType" minOccurs="0"/>
									<xs:element name="IVDaten" type="ebsv-c031:IVDaten9_WeakType" minOccurs="0"/>
									<xs:element name="IVDatenEhefrau" type="ebsv-c031:IVDaten9_WeakType" minOccurs="0"/>
									<xs:element name="FlexiblesRentenAlter" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Rentenaufschub" type="ebsv-c031:Rentenaufschub_WeakType" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
						<xs:element name="KuerzungSelbstverschulden" type="ebsv-c023:KuerzungSelbstverschulden_Type" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZuwachsmeldungAO9_Type">
		<xs:annotation>
			<xs:documentation>Annonce d'une nouvelle rente extraordinaire 9e révision</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type"/>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0"/>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_Type"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c024:AusserordentlicheRente9_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type"/>
						<xs:element name="MonatsbetragErsetzteOrdentlicheRente" type="ebsv-c015:BetragFR_Type" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
                                    mensualité de la RO remplacée en raison du minimum garanti;
                                </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Berechnungsgrundlagen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Niveaujahr" type="ebsv-c007:AHVDatumJ_Type" minOccurs="0"/>
									<xs:element name="EinkommensgrenzenCode" type="ebsv-c024:EinkommensgrenzenCode_Type">
										<xs:annotation>
											<xs:documentation>
                                                REO soumise aux limites de revenu: oui/non ?
                                            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MinimalgarantieCode" type="ebsv-c024:MinimalgarantieCode_Type">
										<xs:annotation>
											<xs:documentation>
                                                REO en tant que minimum garanti: oui/non ?
                                            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SkalaBerechnung" type="ebsv-c031:SkalaBerechnung_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>dans le cas de minimum garanti</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DJEBeschreibung" type="ebsv-c031:DJE9Beschreibung_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>dans le cas de minimum garanti</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Gutschriften" type="ebsv-c031:Gutschriften9_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>dans le cas de minimum garanti</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IVDaten" type="ebsv-c031:IVDaten9_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>AI</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IVDatenEhefrau" type="ebsv-c031:IVDaten9_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>le cas échéant</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
						<xs:element name="KuerzungSelbstverschulden" type="ebsv-c023:KuerzungSelbstverschulden_Type" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AenderungsmeldungAO9_Type">
		<xs:annotation>
			<xs:documentation>Annonce d'une nouvelle rente extraordinaire 9e révision</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type"/>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0"/>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_WeakType"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c024:AusserordentlicheRente9_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type" minOccurs="0"/>
						<xs:element name="MonatsbetragErsetzteOrdentlicheRente" type="ebsv-c015:BetragFR_Type" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
                                    mensualité de la RO remplacée en raison du minimum garanti;
                                </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Berechnungsgrundlagen" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Niveaujahr" type="ebsv-c007:AHVDatumJ_Type" minOccurs="0"/>
									<xs:element name="EinkommensgrenzenCode" type="ebsv-c024:EinkommensgrenzenCode_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
                                                REO soumise aux limites de revenu: oui/non ?
                                            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MinimalgarantieCode" type="ebsv-c024:MinimalgarantieCode_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
                                                REO en tant que minimum garanti: oui/non ?
                                            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SkalaBerechnung" type="ebsv-c031:SkalaBerechnung_WeakType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>dans le cas de minimum garanti</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DJEBeschreibung" type="ebsv-c031:DJE9Beschreibung_WeakType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>dans le cas de minimum garanti</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Gutschriften" type="ebsv-c031:Gutschriften9_WeakType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>dans le cas de minimum garanti</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IVDaten" type="ebsv-c031:IVDaten9_WeakType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>AI</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IVDatenEhefrau" type="ebsv-c031:IVDaten9_WeakType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>le cas échéant</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
						<xs:element name="KuerzungSelbstverschulden" type="ebsv-c023:KuerzungSelbstverschulden_Type" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZuwachsmeldungHE9_Type">
		<xs:annotation>
			<xs:documentation>Annonce d'une nouvelle prestation API (9e révision)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type"/>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0"/>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_Type"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c024:Hilflosenentschaedigungen9_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type"/>
						<xs:element name="Berechnungsgrundlagen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IVDaten" type="ebsv-c031:IVDatenHE9_Type">
										<xs:annotation>
											<xs:documentation>données AI en cas de API</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AenderungsmeldungHE9_Type">
		<xs:annotation>
			<xs:documentation>Annonce d'une nouvelle prestation API (9e révision)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type"/>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0"/>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_WeakType"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c024:Hilflosenentschaedigungen9_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type" minOccurs="0"/>
						<xs:element name="Berechnungsgrundlagen" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IVDaten" type="ebsv-c031:IVDatenHE9_WeakType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>données AI en cas de API</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZuwachsmeldungO10_Type">
		<xs:annotation>
			<xs:documentation>Annonce d'une nouvelle rente ordinaire (10e révision)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type"/>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0"/>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_Type"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c025:OrdentlicheRente10_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type"/>
						<xs:element name="Berechnungsgrundlagen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Niveaujahr" type="ebsv-c007:AHVDatumJ_Type"/>
									<xs:element name="SkalaBerechnung" type="ebsv-c031:SkalaBerechnung_Type"/>
									<xs:element name="DJEBeschreibung" type="ebsv-c031:DJE10Beschreibung_Type"/>
									<xs:element name="Gutschriften" type="ebsv-c031:Gutschriften10_Type"/>
									<xs:element name="IVDaten" type="ebsv-c031:IVDaten10_Type" minOccurs="0"/>
									<xs:element name="FlexiblesRentenAlter" minOccurs="0">
										<xs:complexType>
											<xs:choice>
												<xs:element name="Rentenvorbezug" type="ebsv-c031:Rentenvorbezug_Type"/>
												<xs:element name="Rentenaufschub" type="ebsv-c031:Rentenaufschub_Type"/>
											</xs:choice>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
						<xs:element name="KuerzungSelbstverschulden" type="ebsv-c023:KuerzungSelbstverschulden_Type" minOccurs="0"/>
						<xs:element name="IstInvaliderHinterlassener" type="xs:boolean" minOccurs="0"/>
						<xs:element name="AbfindungsBetrag" type="ebsv-c015:BetragFR6_Type" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="fr">CSC (27.2): montant de l'indemnité forfaitaire</xs:documentation>
								<xs:documentation xml:lang="de">SAK (27.2): Betrag der Abfindung</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AbfindungBarwert" type="ebsv-c015:BetragFR5_Type" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="fr">CSC (27.2): valeur actuelle de l'indemnité forfaitaire</xs:documentation>
								<xs:documentation xml:lang="de">SAK (27.2): Barwert der Abfindung</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AenderungsmeldungO10_Type">
		<xs:annotation>
			<xs:documentation>Annonce d'une nouvelle rente ordinaire (10e révision)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type"/>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0"/>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_WeakType"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c025:OrdentlicheRente10_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type" minOccurs="0"/>
						<xs:element name="Berechnungsgrundlagen" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Niveaujahr" type="ebsv-c007:AHVDatumJ_Type" minOccurs="0"/>
									<xs:element name="SkalaBerechnung" type="ebsv-c031:SkalaBerechnung_WeakType" minOccurs="0"/>
									<xs:element name="DJEBeschreibung" type="ebsv-c031:DJE10Beschreibung_WeakType" minOccurs="0"/>
									<xs:element name="Gutschriften" type="ebsv-c031:Gutschriften10_Type" minOccurs="0"/>
									<xs:element name="IVDaten" type="ebsv-c031:IVDaten10_WeakType" minOccurs="0"/>
									<xs:element name="FlexiblesRentenAlter" minOccurs="0">
										<xs:complexType>
											<xs:choice>
												<xs:element name="Rentenvorbezug" type="ebsv-c031:Rentenvorbezug_WeakType" minOccurs="0"/>
												<xs:element name="Rentenaufschub" type="ebsv-c031:Rentenaufschub_WeakType" minOccurs="0"/>
											</xs:choice>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
						<xs:element name="KuerzungSelbstverschulden" type="ebsv-c023:KuerzungSelbstverschulden_Type" minOccurs="0"/>
						<xs:element name="IstInvaliderHinterlassener" type="xs:boolean" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZuwachsmeldungAO10_Type">
		<xs:annotation>
			<xs:documentation>Annonce d'une nouvelle rente extraordinaire (10e révision)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type"/>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0"/>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_Type"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c025:AusserordentlicheRente10_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type"/>
						<xs:element name="Berechnungsgrundlagen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Niveaujahr" type="ebsv-c007:AHVDatumJ_Type" minOccurs="0"/>
									<xs:element name="IVDaten" type="ebsv-c031:IVDaten10_Type" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
						<xs:element name="KuerzungSelbstverschulden" type="ebsv-c023:KuerzungSelbstverschulden_Type" minOccurs="0"/>
						<xs:element name="IstInvaliderHinterlassener" type="xs:boolean" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AenderungsmeldungAO10_Type">
		<xs:annotation>
			<xs:documentation>Annonce d'une nouvelle rente extraordinaire (10e révision)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type"/>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0"/>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_WeakType"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c025:AusserordentlicheRente10_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type" minOccurs="0"/>
						<xs:element name="Berechnungsgrundlagen" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Niveaujahr" type="ebsv-c007:AHVDatumJ_Type" minOccurs="0"/>
									<xs:element name="IVDaten" type="ebsv-c031:IVDaten10_WeakType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
						<xs:element name="KuerzungSelbstverschulden" type="ebsv-c023:KuerzungSelbstverschulden_Type" minOccurs="0"/>
						<xs:element name="IstInvaliderHinterlassener" type="xs:boolean" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZuwachsmeldungHE10_Type">
		<xs:annotation>
			<xs:documentation>Annonce d'une nouvelle prestation API (10e révision)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type"/>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0"/>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_Type"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c025:Hilflosenentschaedigung10_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type"/>
						<xs:element name="Berechnungsgrundlagen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IVDaten" type="ebsv-c031:IVDatenHE_Type">
										<xs:annotation>
											<xs:documentation>données AI en cas d'API</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AenderungsmeldungHE10_Type">
		<xs:annotation>
			<xs:documentation>Annonce d'une nouvelle prestation API (10e révision)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type"/>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0"/>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_WeakType"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c025:Hilflosenentschaedigung10_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type" minOccurs="0"/>
						<xs:element name="Berechnungsgrundlagen" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IVDaten" type="ebsv-c031:IVDatenHE_WeakType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>données AI en cas d'API</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RRBestandesmeldungO9_Type">
		<xs:annotation>
			<xs:documentation xml:lang="fr">
                Annonce de l'état des rentes:rente ordinaire (9e révision)
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>en cas de prestation en file d'attente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>en cas de prestation en file d'attente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_Type"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c024:OrdentlicheRente9_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type"/>
						<xs:element name="Berechnungsgrundlagen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Niveaujahr" type="ebsv-c007:AHVDatumJ_Type"/>
									<xs:element name="SkalaBerechnung" type="ebsv-c031:SkalaBerechnung_Type"/>
									<xs:element name="DJEBeschreibung" type="ebsv-c031:DJE9Beschreibung_Type"/>
									<xs:element name="Gutschriften" type="ebsv-c031:Gutschriften9_Type"/>
									<xs:element name="IVDaten" type="ebsv-c031:IVDaten9_Type" minOccurs="0"/>
									<xs:element name="IVDatenEhefrau" type="ebsv-c031:IVDaten9_Type" minOccurs="0"/>
									<xs:element name="FlexiblesRentenAlter" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Rentenaufschub" type="ebsv-c031:Rentenaufschub_Type"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
						<xs:element name="KuerzungSelbstverschulden" type="ebsv-c023:KuerzungSelbstverschulden_Type" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RRBestandesmeldungAO9_Type">
		<xs:annotation>
			<xs:documentation>Annonce de l'état des rentes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>en cas de prestation en file d'attente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>en cas de prestation en file d'attente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_Type"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c024:AusserordentlicheRente9_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type"/>
						<xs:element name="MonatsbetragErsetzteOrdentlicheRente" type="ebsv-c015:BetragFR_Type" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
                                    mensualité de la RO remplacée en raison du minimum garanti;
                                </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Berechnungsgrundlagen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Niveaujahr" type="ebsv-c007:AHVDatumJ_Type" minOccurs="0"/>
									<xs:element name="EinkommensgrenzenCode" type="ebsv-c024:EinkommensgrenzenCode_Type">
										<xs:annotation>
											<xs:documentation>
                                                REO soumise aux limites de revenu: oui/non ?
                                            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MinimalgarantieCode" type="ebsv-c024:MinimalgarantieCode_Type">
										<xs:annotation>
											<xs:documentation>
                                                REO en tant que minimum garanti: oui/non ?
                                            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SkalaBerechnung" type="ebsv-c031:SkalaBerechnung_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>dans le cas de minimum garanti</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DJEBeschreibung" type="ebsv-c031:DJE9Beschreibung_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>dans le cas de minimum garanti</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Gutschriften" type="ebsv-c031:Gutschriften9_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>dans le cas de minimum garanti</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IVDaten" type="ebsv-c031:IVDaten9_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>AI</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IVDatenEhefrau" type="ebsv-c031:IVDaten9_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>le cas échéant</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
						<xs:element name="KuerzungSelbstverschulden" type="ebsv-c023:KuerzungSelbstverschulden_Type" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RRBestandesmeldungHE9_Type">
		<xs:annotation>
			<xs:documentation>Annonce de l'état des rentes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>en cas de prestation en file d'attente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>en cas de prestation en file d'attente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_Type"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c024:Hilflosenentschaedigungen9_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type"/>
						<xs:element name="Berechnungsgrundlagen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IVDaten" type="ebsv-c031:IVDatenHE9_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>données AI en cas de API</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RRBestandesmeldungO10_Type">
		<xs:annotation>
			<xs:documentation xml:lang="fr">
                Annonce de l'état des rentes: rente ordinaire (10e révision)
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>en cas de prestation en file d'attente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>en cas de prestation en file d'attente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_Type"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c025:OrdentlicheRente10_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type"/>
						<xs:element name="Berechnungsgrundlagen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Niveaujahr" type="ebsv-c007:AHVDatumJ_Type"/>
									<xs:element name="SkalaBerechnung" type="ebsv-c031:SkalaBerechnung_Type"/>
									<xs:element name="DJEBeschreibung" type="ebsv-c031:DJE10Beschreibung_Type"/>
									<xs:element name="Gutschriften" type="ebsv-c031:Gutschriften10_Type"/>
									<xs:element name="IVDaten" type="ebsv-c031:IVDaten10_Type" minOccurs="0"/>
									<xs:element name="FlexiblesRentenAlter" minOccurs="0">
										<xs:complexType>
											<xs:choice>
												<xs:element name="Rentenvorbezug" type="ebsv-c031:Rentenvorbezug_Type"/>
												<xs:element name="Rentenaufschub" type="ebsv-c031:Rentenaufschub_Type"/>
											</xs:choice>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
						<xs:element name="KuerzungSelbstverschulden" type="ebsv-c023:KuerzungSelbstverschulden_Type" minOccurs="0"/>
						<xs:element name="IstInvaliderHinterlassener" type="xs:boolean" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RRBestandesmeldungAO10_Type">
		<xs:annotation>
			<xs:documentation>Annonce de l'état des rentes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>en cas de prestation en file d'attente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>en cas de prestation en file d'attente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_Type">
				<xs:annotation>
					<xs:documentation>
                        Données conernant l'ayant droit valables au début du mois de rapport ou du mois de fin de droit
                        à la prestation
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c025:AusserordentlicheRente10_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type"/>
						<xs:element name="Berechnungsgrundlagen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Niveaujahr" type="ebsv-c007:AHVDatumJ_Type" minOccurs="0"/>
									<xs:element name="IVDaten" type="ebsv-c031:IVDaten10_Type" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
						<xs:element name="KuerzungSelbstverschulden" type="ebsv-c023:KuerzungSelbstverschulden_Type" minOccurs="0"/>
						<xs:element name="IstInvaliderHinterlassener" type="xs:boolean" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RRBestandesmeldungHE10_Type">
		<xs:annotation>
			<xs:documentation>Annonce de l'état des rentes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Meldungsnummer" type="ebsv-c029:Meldungsnummer_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>en cas de prestation en file d'attente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KasseneigenerHinweis" type="ebsv-c030:KasseneigenerHinweis_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>en cas de prestation en file d'attente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeistungsberechtigtePerson" type="ebsv-c031:RRLeistungsberechtigtePersonAusl_Type"/>
			<xs:element name="Leistungsbeschreibung">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Leistungsart" type="ebsv-c025:Hilflosenentschaedigung10_strongType"/>
						<xs:element name="Anspruchsbeginn" type="ebsv-c007:AHVDatumJM_Type"/>
						<xs:element name="Anspruchsende" type="ebsv-c007:AHVDatumJM_Type" minOccurs="0"/>
						<xs:element name="Mutationscode" type="ebsv-c023:Mutationscode_Type" minOccurs="0"/>
						<xs:element name="Monatsbetrag" type="ebsv-c015:BetragFR_Type"/>
						<xs:element name="Berechnungsgrundlagen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IVDaten" type="ebsv-c031:IVDatenHE_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation>données AI en cas d'API</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SonderfallcodeRente" type="ebsv-c023:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Berichtsmonat" type="ebsv-c007:AHVDatumJM_Type"/>
		</xs:sequence>
	</xs:complexType>
	<!-- <xs:complexType name="RRLeistungsberechtigtePerson_BestandesMeldung_Type" abstract="true">
        <xs:annotation>
            <xs:documentation>Données concernant l'ayant droit de la prestation communiquée</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Versichertennummer" type="ebsv-c001:Versichertennummer11oder13Stellen_Type" />
            <xs:element name="FamilienAngehoerige" type="ebsv-c031:FamilienAngehoerige_Type" />
            <xs:element name="Zivilstand" type="ebsv-c004:ZivilstandNr_Type" />
            <xs:element name="IstFluechtling" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType> -->
	<xs:complexType name="RRLeistungsberechtigtePerson_Type">
		<xs:annotation>
			<xs:documentation>
                Données concernant l'ayant droit valables au début du mois de rapport ou du mois de fin de droit à la
                prestation
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Versichertennummer" type="ebsv-c001:Versichertennummer11oder13Stellen_Type">
				<xs:annotation>
					<xs:documentation xml:lang="fr">Numéro d'assuré de l'ayant droit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FamilienAngehoerige" type="ebsv-c031:FamilienAngehoerige_Type"/>
			<xs:element name="Zivilstand" type="ebsv-c004:ZivilstandNr_Type"/>
			<xs:element name="IstFluechtling" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RRLeistungsberechtigtePersonAusl_Type">
		<xs:annotation>
			<xs:documentation>
                Données concernant l'ayant droit valables au début du mois de rapport ou du mois de fin de droit à la
                prestation. Personne habitant en suisse ou dans le monde.
            </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ebsv-c031:RRLeistungsberechtigtePerson_Type">
				<xs:sequence>
					<xs:element name="WohnkantonStaat" type="ebsv-c011:WohnkantonStaatBSV_weakType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RRLeistungsberechtigtePersonAuslEL_Type">
		<xs:sequence>
			<xs:element name="Versichertennummer" type="ebsv-c001:Versichertennummer11oder13Stellen_Type">
				<xs:annotation>
					<xs:documentation xml:lang="fr">Numéro d'assuré de l'ayant droit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FamilienAngehoerige">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VNr1Ergaenzend" type="ebsv-c023:VersichertennummerErgaenzend_Type" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Zivilstand" type="ebsv-c004:ZivilstandNr_Type" minOccurs="0"/>
			<xs:element name="IstFluechtling" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Wohnkanton" type="ebsv-c011:KantonNrBSV_StrongType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RRLeistungsberechtigtePersonCH_Type">
		<xs:annotation>
			<xs:documentation>
                Données concernant l'ayant droit valables au début du mois de rapport ou du mois de fin de droit à la
                prestation. Personne habitant en suisse ou dans le monde.
            </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ebsv-c031:RRLeistungsberechtigtePerson_Type">
				<xs:sequence>
					<xs:element name="WohnkantonStaat" type="ebsv-c011:KantonNrBSV_StrongType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RRLeistungsberechtigtePerson_WeakType">
		<xs:annotation>
			<xs:documentation>
                Données concernant l'ayant droit valables au début du mois de rapport ou du mois de fin de droit à la
                prestation Seul le numéro d'assuré est obligatoire.
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Versichertennummer" type="ebsv-c001:Versichertennummer11oder13Stellen_Type">
				<xs:annotation>
					<xs:documentation xml:lang="fr">Numéro d'assuré de l'ayant droit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeaenderteVersichertennummer" type="ebsv-c001:Versichertennummer11oder13Stellen_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fr">Nouveau numéro d'assuré de l'ayant droit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FamilienAngehoerige" type="ebsv-c031:FamilienAngehoerige_Type" minOccurs="0"/>
			<xs:element name="Zivilstand" type="ebsv-c004:ZivilstandNr_Type" minOccurs="0"/>
			<xs:element name="IstFluechtling" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RRLeistungsberechtigtePersonAusl_WeakType">
		<xs:annotation>
			<xs:documentation>
                Données concernant l'ayant droit valables au début du mois de rapport ou du mois de fin de droit à la
                prestation. Personne habitant en suisse ou dans le monde. Seul le numéro d'assuré est obligatoire.
            </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ebsv-c031:RRLeistungsberechtigtePerson_WeakType">
				<xs:sequence>
					<xs:element name="WohnkantonStaat" type="ebsv-c011:WohnkantonStaatBSV_weakType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RRLeistungsberechtigtePersonCH_WeakType">
		<xs:annotation>
			<xs:documentation>
                Données concernant l'ayant droit valables au début du mois de rapport ou du mois de fin de droit à la
                prestation. Personne habitant en suisse ou dans le monde. Seul le numéro d'assuré est obligatoire.
            </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ebsv-c031:RRLeistungsberechtigtePerson_WeakType">
				<xs:sequence>
					<xs:element name="WohnkantonStaat" type="ebsv-c011:KantonNrBSV_StrongType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
