webavs-web/resources/ch/globaz/vulpecula/holidays/holidays.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="year">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="month" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="value" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="month">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="day" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="value" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="holidays">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="year" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="day">
		<xs:complexType>
			<xs:attribute name="value" type="xs:int" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="fr" type="xs:string"/>
			<xs:attribute name="en" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
