webavs-web/src/main/resources/xsd/acorIJ/xsd/euro/e205.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Transformed by Apache Software Foundation-->
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by Bundesamt für Informatik und Telekommunikation (Bundesamt für Informatik und Telekommunikation) -->
<!-- edited with XMLSPY v5 rel. 3 (http://www.xmlspy.com) by Gotess (XML Workgroup) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.gotess.org/xns/core" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:e205="http://www.gotess.org/xns/e205" xmlns:c="http://www.gotess.org/xns/codinglink" targetNamespace="http://www.gotess.org/xns/e205" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.gotess.org/xns/core" schemaLocation="core.xsd"/>
	<xsd:element name="M_E205">
		<xsd:annotation>
			<xsd:documentation>E205 Form</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e205:SchemaVersion" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e205 Version of Schema</xsd:documentation>
						<xsd:documentation xml:lang="de">e205 Schema Version</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="core:MessageNumber" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e205 Number of Message</xsd:documentation>
						<xsd:documentation xml:lang="de">Nachrichtennummer</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="core:DocumentDate" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e205 Date of Document</xsd:documentation>
						<xsd:documentation xml:lang="en">field 10.4</xsd:documentation>
						<xsd:documentation xml:lang="de">e205 Dokumentendatum</xsd:documentation>
						<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
						<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="core:ResponseType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e205 Type of Response</xsd:documentation>
						<xsd:documentation xml:lang="de"/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e205:ReceivingInstitution" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e205 Receiving Institution</xsd:documentation>
						<xsd:documentation xml:lang="en">field 1</xsd:documentation>
						<xsd:documentation xml:lang="de">e205 empfangendes Institut</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e205:SendingInstitution" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e205 Sending Institution</xsd:documentation>
						<xsd:documentation xml:lang="en">field 10</xsd:documentation>
						<xsd:documentation xml:lang="de">e205 sendendes Institut</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e205:InsuredPerson" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e205 Insured Person</xsd:documentation>
						<xsd:documentation xml:lang="en">field 2</xsd:documentation>
						<xsd:documentation xml:lang="de">e205 Versicherter</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e205:Beneficiary" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">field 7</xsd:documentation>
						<xsd:documentation xml:lang="en">e205 Beneficiary</xsd:documentation>
						<xsd:documentation xml:lang="de">e205 Anspruchsberechtigter</xsd:documentation>
						<xsd:documentation xml:lang="en">Complete where appropriate.</xsd:documentation>
						<xsd:documentation xml:lang="de">Gegebenenfalls auch auszufüllen.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e205:InsurancePeriods" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e205 Periods of Insurance</xsd:documentation>
						<xsd:documentation xml:lang="en">field 8</xsd:documentation>
						<xsd:documentation xml:lang="de">e205 Versicherungszeiten</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e205:BenefitDecision" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e205 Decision of Benefit</xsd:documentation>
						<xsd:documentation xml:lang="en">field 9</xsd:documentation>
						<xsd:documentation xml:lang="de">e205 Leistungsbewilligung</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e205:ClerkName" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e205 Name of Clerk</xsd:documentation>
						<xsd:documentation xml:lang="en">field 10.5</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="for_XEB" type="e205:For_XEB" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SchemaVersion" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation source="3.0.1" xml:lang="en">version 2008.11.12
				deleting RoleOfInstitution
				restricting ChristianName ragarding to element e202:BirthName
			</xsd:documentation>
			<xsd:documentation source="3.0" xml:lang="en">
				Add new 8 (10) digit coding scheme:
				e205:PeriodCharacter
				e205:PeriodFunction
				e205:Entitlement
				e205:Calculation
				e205:PeriodSystem
</xsd:documentation>
			<xsd:documentation source="2.0.3" xml:lang="en">BirthName is of type e205:CompleteName
PreviousName is of type e205:CompleteName
InsuredPersonFather is of type e205:CompleteName
InsuredPersonMother is of type e205:CompleteName
</xsd:documentation>
			<xsd:documentation source="2.0.2" xml:lang="en">Delete the following elements:
			RoleOfInstitution was missing, add it to ReceivingInstitution and to SendingInstitution
			add core:NationalityQualifier before core:Nationality
			replace e205:BirthPlace durch core:BirthPlace
			remove core.SurnamePart2 and core:ChristianName from e205:BirthName and e205:PreviousName	
			</xsd:documentation>
			<xsd:documentation source="2.0.1" xml:lang="en">Delete the following elements:
- DocumentType
- RoleOfInstitution
also in the element birthplace
- CountrySubEntity
- CountrySubEntityType
			</xsd:documentation>
			<xsd:documentation source="2.0" xml:lang="en">initial version of the schema  2003.12.19
There is now only complextype for InsuranceInstitution
All address now use the complexType core:Address

changes from the last version:
all elements are now optional
the following elements have been added
- InsurancePeriods
- EmploymentCategory
- Occupation
- QualificationClassification
- Party
- PartyName
- PartyAddress

renaming of the fieldname 
PeriodKind to PeriodType
PeriodType to PeriodNature

delete of the following fields
- AtInsurancePeriods 
- BeInsurancePeriods 
- ChInsurancePeriods 
- DeInsurancePeriods 
- DkInsurancePeriods 
- EsInsurancePeriods 
- FlInsurancePeriods 
- FinInsurancePeriods 
- FrInsurancePeriods 
- GbInsurancePeriods 
- GrInsurancePeriods 
- IrInsurancePeriods 
- IsInsurancePeriods 
- LInsurancePeriods 
- NInsurancePeriods 
- PInsurancePeriods 
- SInsurancePeriods 
- VirtualDaysQuantity
- DutyTimes
- Times
- AdditionalTimes
- Fraction
- EmployeeSystem
- SelfImployedSystem
- ATPTimes
- AdditionalPensionSystem
- LivingTimes
- NorwayTimes
- Text
- Until1993
- From1994
- ActiveDate
- Anw
- Aow
- AowAnwTimes
- WaoAawWaz
- AdditionalPensionTimes
- ATPCoEqualTimes
- RentChargeTimes
- Attachments
- Attachment
- ProofOfClaimTimesAndBenefitCalculationTimes
- ProofOfClaimTimes
- BenefitCalculationTimes
- ActiveDate
- Text
- AllPensionsProofOfClaimTimes
- PrematurePensionsProofOfClaimTimes
- NorwayTimes
- PeriodNatureType
- formerly PeriodNature
- TimesQuantity
- CoEqualTimes
- InsuranceTimes1993
- InsuranceTimes1994
- CoEqualTimes1993
- CoEqualTimes1994
- AdditionalMotherYears

ComplexTypes change accordance the list of delets and core.xsd.

</xsd:documentation>
			<xsd:documentation source="1.0.1" xml:lang="en">During the changes a bug has occurred:
The e205:Year Element has lost its data attribute. Now the attribute is back</xsd:documentation>
			<xsd:documentation source="1.0" xml:lang="en">initial version of the schema  2003.05.13
changes from the last version:
all elements are now optional
a version element has been added

the German periods entry has been changed
there is a minor change on the Finish periods
all date types have been changed to xsd:date
the last Italian periods have been included
all date types have been changed to xsd:date</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReceivingInstitution" type="e205:InsuranceInstitution">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SendingInstitution" type="e205:InsuranceInstitution">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 10</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InsuranceInstitution">
		<xsd:complexContent>
			<xsd:restriction base="core:InsuranceInstitution">
				<xsd:sequence>
					<xsd:element ref="core:InstitutionType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">field 1.1</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:InstitutionCode" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">field 1.1</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:InstitutionName" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">field 1.1</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:InsuranceNumber" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">field 1.1</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:CaseNumber" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">field 1.1</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:DossierNumber" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">field 1.1</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:TaxpayerNumber" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">field 1.1</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:Address" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">field 1.2</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:PhoneNumber" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">field 1.2</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="InsuredPerson" type="e205:InsuredPerson">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 2, 3, 4, 5 and 6</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InsuredPerson">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">insured person E205</xsd:documentation>
			<xsd:documentation xml:lang="de">Typ versicherte Person E205</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="e205:CurrentName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">— For surname please state usual surname or surname acquired by marriage.
— The surname at birth must always be given; if same as current surname, put ‘IDEM’.
— Expressions such as ‘called …’ or ‘alias …’ and prefixes to surnames must be written in full in the order in which they appear on the
birth certificate.
— In the case of Spanish nationals state both names at birth.
— In the case of Portuguese nationals state all names (forenames, surname, maiden name) in the order of civil status in which they
appear on the identity card or passport.</xsd:documentation>
					<xsd:documentation xml:lang="de">- Name bedeutet Angabe des üblichen Namens oder des bei Eheschliessung angenommenen Namens.
- Der „Geburtsname“ ist stets anzugeben; ist er mit dem Namen identisch, so ist ggf. „IDEM“ einzusetzen.
- Die Zusätze „GENANNT“ und „ALIAS“ sowie Vorsatzwörter sind vollständig und in der Reihenfolge der standesamt-lichen
Eintragung anzugeben.
- Bei spanischen Staatsangehörigen sind beide Geburtsnamen anzugeben.
- Bei portugiesischen Staatsangehörigen sind alle Namen (Vornamen, Name, Mädchenname) in standesamtlicher
Reihenfolge anzugeben, wie sie aus dem Personalausweis oder Pass ersichtlich sind.</xsd:documentation>
					<xsd:documentation xml:lang="de">Alle Vornamen sind in der Reihenfolge der standesamtlichen Eintragung anzugeben.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:NationalityQualifier" minOccurs="0"/>
			<xsd:element ref="core:Nationality" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">code letter for nationality</xsd:documentation>
					<xsd:documentation xml:lang="de">Kennbuchstabe der Nationalität des Versicherten unter Verwendung der internationalen Kraftfahrzeugkennzeichen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:NaturalisationDate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Where appropriate, indicate the date of naturalisation.</xsd:documentation>
					<xsd:documentation xml:lang="de">Gegebenenfalls Datum der Einbürgerung angeben.</xsd:documentation>
					<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
					<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:IdentityDocument" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">D.N.I</xsd:documentation>
					<xsd:documentation xml:lang="en">In the case of Spanish nationals over 16 years of age, state the Número de Identificación Fiscal (N.I.F.). Failing this, indicate the number
of the Documento Nacional de Identidad (D.N.I.) or passport, even if they are out of date. If the aforementioned documents do not exist,
state ‘none’.</xsd:documentation>
					<xsd:documentation xml:lang="de">Bei spanischen Staatsangehörigen ist die auf dem spanischen Personalausweis vermerkte (D.N.I.-) Nummer, falls
vorhanden, anzugeben, selbst wenn der Ausweis abgelaufen ist. Falls nicht vorhanden, ist „keine“ anzugeben.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:CurrentAddress" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">personal address</xsd:documentation>
					<xsd:documentation xml:lang="de"/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:Birth" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">information at the birth</xsd:documentation>
					<xsd:documentation xml:lang="de">Informationen zur Geburt</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:Death" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">death</xsd:documentation>
					<xsd:documentation xml:lang="de">Informationen zum Todestag</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:PersonalDetails" minOccurs="0" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">marital state</xsd:documentation>
					<xsd:documentation xml:lang="de">Familienstand</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:Gender" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">choose the code letter for the gender</xsd:documentation>
					<xsd:documentation xml:lang="de">Geschlecht</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:BirthName" minOccurs="0" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Name at birth</xsd:documentation>
					<xsd:documentation xml:lang="de">Geburtsname</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:PreviousName" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">previous name</xsd:documentation>
					<xsd:documentation xml:lang="de">früherer Name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:InsuredPersonFather" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">father of the insured person</xsd:documentation>
					<xsd:documentation xml:lang="de">Vater der versicherten Person</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:InsuredPersonMother" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">mother of the insured person</xsd:documentation>
					<xsd:documentation xml:lang="de">Mutter der versicherten Person</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:TaxNumber" minOccurs="0" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">number of the taxpayer file</xsd:documentation>
					<xsd:documentation xml:lang="de">Steuernummer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:AssessmentArea" minOccurs="0" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">assessment area</xsd:documentation>
					<xsd:documentation xml:lang="de">Steuerbezirk</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:SofiNumber" minOccurs="0" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">social insurance number</xsd:documentation>
					<xsd:documentation xml:lang="de">Versicherungsnummer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:LastAddress" minOccurs="0" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">last address</xsd:documentation>
					<xsd:documentation xml:lang="de">letzte Adresse</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:Bank" minOccurs="0" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">bank</xsd:documentation>
					<xsd:documentation xml:lang="de">Bankverbindung</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CurrentName" type="core:CompleteName">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 2.1 and field 2.3</xsd:documentation>
			<xsd:documentation xml:lang="en">— For surname please state usual surname or surname acquired by marriage.
— The surname at birth must always be given; if same as current surname, put ‘IDEM’.
— Expressions such as ‘called …’ or ‘alias …’ and prefixes to surnames must be written in full in the order in which they appear on the
birth certificate.
— In the case of Spanish nationals state both names at birth.
— In the case of Portuguese nationals state all names (forenames, surname, maiden name) in the order of civil status in which they
appear on the identity card or passport.</xsd:documentation>
			<xsd:documentation xml:lang="de">- Name bedeutet Angabe des üblichen Namens oder des bei Eheschliessung angenommenen Namens.
- Der „Geburtsname“ ist stets anzugeben; ist er mit dem Namen identisch, so ist ggf. „IDEM“ einzusetzen.
- Die Zusätze „GENANNT“ und „ALIAS“ sowie Vorsatzwörter sind vollständig und in der Reihenfolge der standesamt-lichen
Eintragung anzugeben.
- Bei spanischen Staatsangehörigen sind beide Geburtsnamen anzugeben.
- Bei portugiesischen Staatsangehörigen sind alle Namen (Vornamen, Name, Mädchenname) in standesamtlicher
Reihenfolge anzugeben, wie sie aus dem Personalausweis oder Pass ersichtlich sind.</xsd:documentation>
			<xsd:documentation xml:lang="de">Alle Vornamen sind in der Reihenfolge der standesamtlichen Eintragung anzugeben.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BirthName" type="e205:CompleteName">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 2.2. In previous versions of the schema SurnamePart2 and ChristianName were erroneously removed, now reissued. SurnamePart2 is used by Spain to take into account the mother family name. ChristianName is used by Italy.</xsd:documentation>
			<xsd:documentation xml:lang="en">Name at birth</xsd:documentation>
			<xsd:documentation xml:lang="de">Geburtsname</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PreviousName" type="core:CompleteName">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 2.4.  In previous versions of the schema SurnamePart2 and ChristianName were erroneously removed, now reissued. SurnamePart2 is used by Spain to take into account the mother family name. ChristianName is used by Italy.</xsd:documentation>
			<xsd:documentation xml:lang="en">previous name</xsd:documentation>
			<xsd:documentation xml:lang="de">früherer Name</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InsuredPersonFather" type="core:CompleteName">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">This information is required when the worker is a Spanish national, or when the form is to be sent to a French institution, regardless of the
worker’s nationality.</xsd:documentation>
			<xsd:documentation xml:lang="de">Diese Angabe wird bei spanischen Staatsangehörigen und bei französischen Staatsangehörigen, deren Geburtsland
nicht das französische Mutterland ist, benötigt.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InsuredPersonMother" type="core:CompleteName">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">This information is required when the worker is a Spanish national, or when the form is to be sent to a French institution, regardless of the
worker’s nationality.</xsd:documentation>
			<xsd:documentation xml:lang="de">Diese Angabe wird bei spanischen Staatsangehörigen und bei französischen Staatsangehörigen, deren Geburtsland
nicht das französische Mutterland ist, benötigt.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CompleteName">
		<xsd:complexContent>
			<xsd:restriction base="core:CompleteName">
				<xsd:sequence>
					<xsd:element ref="core:Surname" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">field 2.1 and field 7.1</xsd:documentation>
							<xsd:documentation xml:lang="en">name, to be stated particularly in the case of adoption or in the case of other names in current use; expressions such as ‘called …’ or ‘alias …’
and prefixes to surnames must be written in full in the order in which they appear on the birth certificate.</xsd:documentation>
							<xsd:documentation xml:lang="de">Name; Insbesondere bei Adoption und Verwendung gebräuchlich gewordener Beinamen anzugeben; die Zusätze „GE-NANNT“
und “ALIAS“ sowie Vorsatzwörter sind vollständig und in der Reihenfolge der standesamtlichen Eintragung
anzugeben.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:SurnamePart2" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">field 2.1 and field 7.1</xsd:documentation>
							<xsd:documentation xml:lang="en">name, to be stated particularly in the case of adoption or in the case of other names in current use; expressions such as ‘called …’ or ‘alias …’
and prefixes to surnames must be written in full in the order in which they appear on the birth certificate.</xsd:documentation>
							<xsd:documentation xml:lang="de">Name; Insbesondere bei Adoption und Verwendung gebräuchlich gewordener Beinamen anzugeben; die Zusätze „GE-NANNT“
und “ALIAS“ sowie Vorsatzwörter sind vollständig und in der Reihenfolge der standesamtlichen Eintragung
anzugeben.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:ChristianName" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">field 2.3 and field 7.2</xsd:documentation>
							<xsd:documentation xml:lang="en">christian name</xsd:documentation>
							<xsd:documentation xml:lang="de">Vorname</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CurrentAddress" type="core:Address">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 5</xsd:documentation>
			<xsd:documentation xml:lang="en">personal address</xsd:documentation>
			<xsd:documentation xml:lang="de"/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Birth">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 4</xsd:documentation>
			<xsd:documentation xml:lang="en">information at the birth</xsd:documentation>
			<xsd:documentation xml:lang="de">Informationen zur Geburt</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="core:Birth">
					<xsd:sequence>
						<xsd:element ref="core:Date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 4.1 and field 7.3</xsd:documentation>
								<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
								<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:BirthPlace" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 4.2 and field 7.2</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BirthPlace" type="core:BirthPlace">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 4.1 and field 7.3</xsd:documentation>
			<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
			<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NaturalisationDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Where appropriate, indicate the date of naturalisation.</xsd:documentation>
			<xsd:documentation xml:lang="de">Gegebenenfalls Datum der Einbürgerung angeben.</xsd:documentation>
			<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
			<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Beneficiary" type="e205:Person">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 7</xsd:documentation>
			<xsd:documentation xml:lang="en">e205 Beneficiary</xsd:documentation>
			<xsd:documentation xml:lang="de">e205 Anspruchsberechtigter</xsd:documentation>
			<xsd:documentation xml:lang="en">Complete where appropriate.</xsd:documentation>
			<xsd:documentation xml:lang="de">Gegebenenfalls auch auszufüllen.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="Person">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 2. - 2.5</xsd:documentation>
			<xsd:documentation xml:lang="en">e205 person</xsd:documentation>
			<xsd:documentation xml:lang="de">e205 Person</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="e205:CurrentName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 2.1 and field 2.3</xsd:documentation>
					<xsd:documentation xml:lang="en">— For surname please state usual surname or surname acquired by marriage.
— The surname at birth must always be given; if same as current surname, put ‘IDEM’.
— Expressions such as ‘called …’ or ‘alias …’ and prefixes to surnames must be written in full in the order in which they appear on the
birth certificate.
— In the case of Spanish nationals state both names at birth.
— In the case of Portuguese nationals state all names (forenames, surname, maiden name) in the order of civil status in which they
appear on the identity card or passport.</xsd:documentation>
					<xsd:documentation xml:lang="de">- Name bedeutet Angabe des üblichen Namens oder des bei Eheschliessung angenommenen Namens.
- Der „Geburtsname“ ist stets anzugeben; ist er mit dem Namen identisch, so ist ggf. „IDEM“ einzusetzen.
- Die Zusätze „GENANNT“ und „ALIAS“ sowie Vorsatzwörter sind vollständig und in der Reihenfolge der standesamt-lichen
Eintragung anzugeben.
- Bei spanischen Staatsangehörigen sind beide Geburtsnamen anzugeben.
- Bei portugiesischen Staatsangehörigen sind alle Namen (Vornamen, Name, Mädchenname) in standesamtlicher
Reihenfolge anzugeben, wie sie aus dem Personalausweis oder Pass ersichtlich sind.</xsd:documentation>
					<xsd:documentation xml:lang="de">Alle Vornamen sind in der Reihenfolge der standesamtlichen Eintragung anzugeben.</xsd:documentation>
					<xsd:documentation xml:lang="de">Name der versicherten Person</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:Nationality" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 3</xsd:documentation>
					<xsd:documentation xml:lang="en">code letter for nationality</xsd:documentation>
					<xsd:documentation xml:lang="de">Kennbuchstabe der Nationalität des Versicherten unter Verwendung der internationalen Kraftfahrzeugkennzeichen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:NaturalisationDate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Where appropriate, indicate the date of naturalisation.</xsd:documentation>
					<xsd:documentation xml:lang="de">Gegebenenfalls Datum der Einbürgerung angeben.</xsd:documentation>
					<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
					<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:IdentityDocument" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 3</xsd:documentation>
					<xsd:documentation xml:lang="en">number of the identity document</xsd:documentation>
					<xsd:documentation xml:lang="de"/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:CurrentAddress" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">personal address</xsd:documentation>
					<xsd:documentation xml:lang="de"/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:Birth" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 4</xsd:documentation>
					<xsd:documentation xml:lang="en">information of the birth</xsd:documentation>
					<xsd:documentation xml:lang="de">Informationen zur Geburt</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:BirthName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 2.2</xsd:documentation>
					<xsd:documentation xml:lang="en">Name at birth</xsd:documentation>
					<xsd:documentation xml:lang="de">Geburtsname</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:Gender" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 2.5</xsd:documentation>
					<xsd:documentation xml:lang="en">choose the code letter for the gender</xsd:documentation>
					<xsd:documentation xml:lang="de">Geschlecht</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InsurancePeriodsType">
		<xsd:sequence>
			<xsd:element name="Entry" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="e205:Year" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">year of the separat insurance period</xsd:documentation>
								<xsd:documentation xml:lang="de">Jahr des Versicherungszeitraumes</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="e205:FromDate" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
								<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
								<xsd:documentation xml:lang="en">beginn of the insurance period</xsd:documentation>
								<xsd:documentation xml:lang="de">Beginn des Versicherungszeitraumes</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="e205:ToDate" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
								<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
								<xsd:documentation xml:lang="en">end of the insurance period</xsd:documentation>
								<xsd:documentation xml:lang="de">Ende des Versicherungszeitraumes</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="e205:MonthlyDistribution" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">Distribution of the insurance period</xsd:documentation>
								<xsd:documentation xml:lang="de">monatliche Aufteilung des Versicherungszeitraumes</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="e205:YearsQuantity" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">Quantity of the years of insurance</xsd:documentation>
								<xsd:documentation xml:lang="de">Anzahl der Versicherungsjahre</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="e205:QuartersQuantity" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">Quantity of the Quarters of insurance</xsd:documentation>
								<xsd:documentation xml:lang="de">Anzahl der Versicherungsquartale</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="e205:MonthsQuantity" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">Quantity of the months of insurance</xsd:documentation>
								<xsd:documentation xml:lang="de">Anzahl der Versicherungsmonate</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="e205:WeeksQuantity" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">Quantity of the weeks of insurance</xsd:documentation>
								<xsd:documentation xml:lang="de">Anzahl der Versicherungswochen</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="e205:DaysQuantity" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">Quantity of the days of insurance</xsd:documentation>
								<xsd:documentation xml:lang="de">Anzahl der Versicherungstage</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice>
							<xsd:sequence>
								<xsd:element ref="e205:PeriodType" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation xml:lang="en">field 8</xsd:documentation>
										<xsd:documentation xml:lang="en">types of the insurance periods</xsd:documentation>
										<xsd:documentation xml:lang="de">Typen der Versicherungszeiten</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element ref="e205:PeriodNature" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation xml:lang="en">field 8</xsd:documentation>
										<xsd:documentation xml:lang="en">types of the insurance periods</xsd:documentation>
										<xsd:documentation xml:lang="de">Arten der Versicherungszeiten</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element ref="e205:PeriodScheme" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation xml:lang="en">field 8</xsd:documentation>
										<xsd:documentation xml:lang="en">types of the insurance system</xsd:documentation>
										<xsd:documentation xml:lang="de">Versicherungssystem</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:element ref="e205:PeriodCharacter" minOccurs="0"/>
								<xsd:element ref="e205:PeriodFunction" minOccurs="0"/>
								<xsd:element ref="e205:PeriodSystem" minOccurs="0"/>
							</xsd:sequence>
						</xsd:choice>
						<xsd:element ref="e205:MiningActivity" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">mining activity</xsd:documentation>
								<xsd:documentation xml:lang="de">Tätigkeit im Bergbau</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:Profession" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">Profession</xsd:documentation>
								<xsd:documentation xml:lang="de">Beruf</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="e205:Remarks" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">nature of the activity is assigned for the greek and spanish institution</xsd:documentation>
								<xsd:documentation xml:lang="de">Für die griechischen und spanischen Träger nach Möglichkeit die Art der Tätigkeit anzugeben.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="maxOccurs" type="xsd:string" fixed="unbound"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="InsuranceTotals" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="e205:ContributionType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">types of contribution</xsd:documentation>
								<xsd:documentation xml:lang="de"/>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="e205:YearsQuantity" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">quantity of the years of insurance</xsd:documentation>
								<xsd:documentation xml:lang="de">Anzahl der Versicherungsjahre</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="e205:QuartersQuantity" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">quantity of the Quarters of insurance</xsd:documentation>
								<xsd:documentation xml:lang="de">Anzahl der Versicherungsquartale</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="e205:MonthsQuantity" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">quantity of the months of insurance</xsd:documentation>
								<xsd:documentation xml:lang="de">Anzahl der Versicherungsmonate</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="e205:WeeksQuantity" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">quantity of the weeks of insurance</xsd:documentation>
								<xsd:documentation xml:lang="de">Anzahl der Versicherungswochen</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="e205:DaysQuantity" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">field 8</xsd:documentation>
								<xsd:documentation xml:lang="en">quantity of the days of insurance</xsd:documentation>
								<xsd:documentation xml:lang="de">Anzahl der Versicherungstage</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="maxOccurs" type="xsd:string" fixed="unbound"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="e205:Remarks" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 8</xsd:documentation>
					<xsd:documentation xml:lang="en">nature of the activity is assigned for the greek and spanish institution</xsd:documentation>
					<xsd:documentation xml:lang="de">Für die griechischen und spanischen Träger nach Möglichkeit die Art der Tätigkeit anzugeben.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="InsurancePeriods" type="e205:InsurancePeriodsType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Year" type="core:decimal4">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The year by four digits</xsd:documentation>
			<xsd:documentation xml:lang="de">Das Jahr mit vier Ziffern wiederzugeben.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FromDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
			<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ToDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
			<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MonthlyDistributionType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">Distribution of the insurance period</xsd:documentation>
			<xsd:documentation xml:lang="de">monatliche Aufteilung des Versicherungszeitraumes</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="e205:January">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 8</xsd:documentation>
					<xsd:documentation xml:lang="en">check for january</xsd:documentation>
					<xsd:documentation xml:lang="de">Checkbox für Januar</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:February">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 8</xsd:documentation>
					<xsd:documentation xml:lang="en">check for february</xsd:documentation>
					<xsd:documentation xml:lang="de">Checkbox für Februar</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:March">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 8</xsd:documentation>
					<xsd:documentation xml:lang="en">check for march</xsd:documentation>
					<xsd:documentation xml:lang="de">Checkbox für März</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:April">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 8</xsd:documentation>
					<xsd:documentation xml:lang="en">check for april</xsd:documentation>
					<xsd:documentation xml:lang="de">Checkbox für April</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:May">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 8</xsd:documentation>
					<xsd:documentation xml:lang="en">check for may</xsd:documentation>
					<xsd:documentation xml:lang="de">Checkbox für May</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:June">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 8</xsd:documentation>
					<xsd:documentation xml:lang="en">check for june</xsd:documentation>
					<xsd:documentation xml:lang="de">Checkbox für Juni</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:July">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 8</xsd:documentation>
					<xsd:documentation xml:lang="en">check for july</xsd:documentation>
					<xsd:documentation xml:lang="de">Checkbox für Juli</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:August">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 8</xsd:documentation>
					<xsd:documentation xml:lang="en">check for august</xsd:documentation>
					<xsd:documentation xml:lang="de">Checkbox für August</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:September">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 8</xsd:documentation>
					<xsd:documentation xml:lang="en">check for september</xsd:documentation>
					<xsd:documentation xml:lang="de">Checkbox für September</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:October">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 8</xsd:documentation>
					<xsd:documentation xml:lang="en">check for october</xsd:documentation>
					<xsd:documentation xml:lang="de">Checkbox für October</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:November">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 8</xsd:documentation>
					<xsd:documentation xml:lang="en">check for november</xsd:documentation>
					<xsd:documentation xml:lang="de">Checkbox für November</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e205:December">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 8</xsd:documentation>
					<xsd:documentation xml:lang="en">check for dezember</xsd:documentation>
					<xsd:documentation xml:lang="de">Checkbox für Dezember</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MonthlyDistribution" type="e205:MonthlyDistributionType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">Distribution of the insurance period</xsd:documentation>
			<xsd:documentation xml:lang="de">monatliche Aufteilung des Versicherungszeitraumes</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="January">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">check for january</xsd:documentation>
			<xsd:documentation xml:lang="de">Checkbox für Januar</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="February">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">check for february</xsd:documentation>
			<xsd:documentation xml:lang="de">Checkbox für Februar</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="March">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">check for march</xsd:documentation>
			<xsd:documentation xml:lang="de">Checkbox für März</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="April">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">check for april</xsd:documentation>
			<xsd:documentation xml:lang="de">Checkbox für April</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="May">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">check for may</xsd:documentation>
			<xsd:documentation xml:lang="de">Checkbox für May</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="June">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">check for june</xsd:documentation>
			<xsd:documentation xml:lang="de">Checkbox für Juni</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="July">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">check for july</xsd:documentation>
			<xsd:documentation xml:lang="de">Checkbox für Juli</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="August">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">check for august</xsd:documentation>
			<xsd:documentation xml:lang="de">Checkbox für August</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="September">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">check for september</xsd:documentation>
			<xsd:documentation xml:lang="de">Checkbox für September</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="October">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">check for october</xsd:documentation>
			<xsd:documentation xml:lang="de">Checkbox für October</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="November">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">check for november</xsd:documentation>
			<xsd:documentation xml:lang="de">Checkbox für November</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="December">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">check for dezember</xsd:documentation>
			<xsd:documentation xml:lang="de">Checkbox für Dezember</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int">
				<xsd:enumeration value="0"/>
				<xsd:enumeration value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="YearsQuantity" type="core:decimal2">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">quantity of the years of insurance</xsd:documentation>
			<xsd:documentation xml:lang="de">Anzahl der Versicherungsjahre</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuartersQuantity" type="core:decimal4">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">quantity of the quarters of insurance</xsd:documentation>
			<xsd:documentation xml:lang="de">Anzahl der Versicherungsquartale</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonthsQuantity" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">quantity of the months of insurance</xsd:documentation>
			<xsd:documentation xml:lang="de">Anzahl der Versicherungsmonate</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WeeksQuantity" type="core:decimal4">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">quantity of the weeks of insurance</xsd:documentation>
			<xsd:documentation xml:lang="de">Anzahl der Versicherungswochen</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DaysQuantity" type="core:decimal5">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">quantity of the days of insurance</xsd:documentation>
			<xsd:documentation xml:lang="de">Anzahl der Versicherungstage</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ContributionType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">type of contribution</xsd:documentation>
			<xsd:appinfo source="http://www.gotess.org/xns/codinglink">
				<c:codelist list="contributiontype.xml" type="default"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:element name="ContributionType" type="e205:ContributionType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">type of contribution</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PeriodType" type="e205:PeriodType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">col 20</xsd:documentation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">types of the insurance periods</xsd:documentation>
			<xsd:documentation xml:lang="de">Typen der Versicherungszeiten</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PeriodNature" type="e205:PeriodNature">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">col 21</xsd:documentation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">types of the insurance periods</xsd:documentation>
			<xsd:documentation xml:lang="de">Arten der Versicherungszeiten</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PeriodScheme" type="e205:PeriodScheme">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">col 22</xsd:documentation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">types of the insurance periods</xsd:documentation>
			<xsd:documentation xml:lang="de">Arten der Versicherungszeiten</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MiningActivity">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">mining activity</xsd:documentation>
			<xsd:documentation xml:lang="de">Tätigkeit im Bergbau</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e205:EmploymentCategory" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">field 8</xsd:documentation>
						<xsd:documentation xml:lang="en">category of employment</xsd:documentation>
						<xsd:documentation xml:lang="de">Kategorie der Beschäftigung</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e205:Occupation" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">field 8</xsd:documentation>
						<xsd:documentation xml:lang="en">occupation</xsd:documentation>
						<xsd:documentation xml:lang="de">Beschäftigung</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e205:QualificationClassification" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">field 8</xsd:documentation>
						<xsd:documentation xml:lang="en">qualification</xsd:documentation>
						<xsd:documentation xml:lang="de">Qualifikation</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e205:Party" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">field 8</xsd:documentation>
						<xsd:documentation xml:lang="en">party</xsd:documentation>
						<xsd:documentation xml:lang="de">Arbeitgeber</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EmploymentCategory" type="e205:EmploymentCategory">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">category of employment</xsd:documentation>
			<xsd:documentation xml:lang="de">Kategorie der Beschäftigung</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PeriodCharacter" type="e205:PeriodCharacter"/>
	<xsd:element name="Entitlement" type="e205:Entitlement"/>
	<xsd:element name="Calculation" type="e205:Calculation"/>
	<xsd:element name="PeriodFunction">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e205:Entitlement" minOccurs="0"/>
				<xsd:element ref="e205:Calculation" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PeriodSystem" type="core:string1..2"/>
	<xsd:simpleType name="PeriodType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">col 20</xsd:documentation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">types of the insurance periods</xsd:documentation>
			<xsd:documentation xml:lang="de">Typen der Versicherungszeiten</xsd:documentation>
			<xsd:appinfo source="http://www.gotess.org/xns/codinglink">
				<c:codelist list="periodtype.xml" type="default"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PeriodNature">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">col 21</xsd:documentation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">types of the insurance periods</xsd:documentation>
			<xsd:documentation xml:lang="de">Arten der Versicherungszeiten</xsd:documentation>
			<xsd:appinfo source="http://www.gotess.org/xns/codinglink">
				<c:codelist list="periodnature.xml" type="default"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PeriodScheme">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">col 22</xsd:documentation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">types of the insurance periods</xsd:documentation>
			<xsd:documentation xml:lang="de">Arten der Versicherungszeiten</xsd:documentation>
			<xsd:appinfo source="http://www.gotess.org/xns/codinglink">
				<c:codelist list="periodscheme.xml" type="default"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmploymentCategory">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">category of employment</xsd:documentation>
			<xsd:documentation xml:lang="de">Kategorie der Beschäftigung</xsd:documentation>
			<xsd:appinfo source="http://www.gotess.org/xns/codinglink">
				<c:codelist list="employmentcategory.xml" type="default"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PeriodCharacter">
		<xsd:annotation>
			<xsd:appinfo source="http://www.gotess.org/xns/codinglink">
				<c:codelist list="periodcharacter.xml" type="default"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Entitlement">
		<xsd:annotation>
			<xsd:appinfo source="http://www.gotess.org/xns/codinglink">
				<c:codelist list="entitlement.xml" type="default"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Calculation">
		<xsd:annotation>
			<xsd:appinfo source="http://www.gotess.org/xns/codinglink">
				<c:codelist list="calculation.xml" type="default"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Occupation" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">occupation</xsd:documentation>
			<xsd:documentation xml:lang="de">Beschäftigung</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QualificationClassification" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">qualification</xsd:documentation>
			<xsd:documentation xml:lang="de">Qualifikation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Party">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">party</xsd:documentation>
			<xsd:documentation xml:lang="de">Arbeitgeber</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e205:PartyName" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">field 8</xsd:documentation>
						<xsd:documentation xml:lang="en">name of party</xsd:documentation>
						<xsd:documentation xml:lang="de">Bezeichnung des Arbeitgebers</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e205:PartyAddress" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">field 8</xsd:documentation>
						<xsd:documentation xml:lang="en">address of party</xsd:documentation>
						<xsd:documentation xml:lang="de">Adresse des Arbeitgebers</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PartyName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">name of party</xsd:documentation>
			<xsd:documentation xml:lang="de">Bezeichnung des Arbeitgebers</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PartyAddress" type="core:Address">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">address of party</xsd:documentation>
			<xsd:documentation xml:lang="de">Adresse des Arbeitgebers</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Remarks" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 8</xsd:documentation>
			<xsd:documentation xml:lang="en">Information about equal periods</xsd:documentation>
			<xsd:documentation xml:lang="de">Angaben zu den gleichgestellten Zeiten</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BenefitDecision" type="e205:BenefitDecision">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 9</xsd:documentation>
			<xsd:documentation xml:lang="en">e205 Decision of Benefit</xsd:documentation>
			<xsd:documentation xml:lang="de">e205 Leistungsbewilligung</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="BenefitDecision">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 9</xsd:documentation>
			<xsd:documentation xml:lang="en">e205 Decision of Benefit</xsd:documentation>
			<xsd:documentation xml:lang="de">e205 Leistungsbewilligung</xsd:documentation>
			<xsd:appinfo source="http://www.gotess.org/xns/codinglink">
				<c:codelist list="Decision.xml" type="default"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:element name="ClerkName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 10.5</xsd:documentation>
			<xsd:documentation xml:lang="en">e205 Name of Clerk</xsd:documentation>
			<xsd:documentation xml:lang="de">e205 Name des Bearbeiters</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="For_XEB">
		<xsd:sequence>
			<xsd:element name="caisse" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>numéro de la caisse.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="secteur" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>secteur du collaborateur.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupe" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>groupe auquel appartient le collaborateur.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="visa" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>visa du collaborateur.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
