webavs-web/src/main/resources/xsd/P2020/Typebase/Prestations/Prestations-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 (http://www.altova.com) by Christina Blumer-Truong (OFIT, 1203 Geneve) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="../../Typebase/Prestations/Prestations9-types.xsd"/>
    <xs:include schemaLocation="../../Typebase/Prestations/Prestations10-types.xsd"/>
    <xs:include schemaLocation="../../Typebase/PersPhys/IdsAssure-types.xsd"/>
    <xs:simpleType name="Mutationscode_Type">
        <xs:annotation>
            <xs:documentation xml:lang="de">Code zur Mutation einer Leistung</xs:documentation>
            <xs:documentation xml:lang="fr">Code de mutation d'une prestation</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedByte">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation xml:lang="de">Abgang : Tod der berechtigten Person*</xs:documentation>
                    <xs:documentation xml:lang="fr">
                        Diminution : décès de l'ayant-droit à la prestation.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Abgang : Änderung im Zivilstand der leistungsberechtigten Person (Heirat, Verwitwung, Scheidung)
                    </xs:documentation>
                    <xs:documentation xml:lang="fr">
                        Diminution : Changement d’état civil de l’ayant droit à la prestation (mariage, veuvage,
                        divorce)
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Abgang : Erreichen der für die Leistung ausschlaggebenden Altersgrenze (Waise wird 18 bzw. 25
                        Jahre alt, über 18jährige Waise beendet Ausbildung; bei Witwerrenten, jüngste Waise wird 18
                        Jahre alt)
                    </xs:documentation>
                    <xs:documentation xml:lang="fr">
                        Diminution : Survenance de la limite d’âge de l’ayant droit à la prestation (orphelin atteignant
                        18 ou 25 ans, orphelin de plus de 18 ans finissant sa formation professionnelle; pour une rente
                        de veuf, le plus jeune orphelin atteignant 18 ans)
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Abgang : Umwandlung einer ganzen in eine Dreiviertels-, halbe oder Viertelsrente und umgekehrt
                    </xs:documentation>
                    <xs:documentation xml:lang="fr">
                        Diminution : Conversion d'une rente entière d’invalidité en une trois-quarts de rente,
                        demi-rente ou un quart de rente ou vice versa.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Abgang : Umwandlung einer IV-Leistung in eine AHV-Leistung bzw. Ablösung der Witwen-/Witwerrente
                        durch die höhere IV-Rente
                    </xs:documentation>
                    <xs:documentation xml:lang="fr">
                        Diminution : Conversion d’une prestation AI en une prestation AVS ou succession de la rente AI
                        d'un montant supérieur à la rente de veuve/veuf.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Abgang : Wegfall der leistungsbegründenden Invalidität oder Hilflosigkeit
                    </xs:documentation>
                    <xs:documentation xml:lang="fr">
                        Diminution : Suppression du degré d’invalidité ou d’impotence donnant droit aux prestations.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Abgang : Ursachen, welche die Angehörigen der leistungsberechtigten Person betreffen - Ehegatte
                        wird ebenfalls rentenberechtigt (Splitting, Plafonierung) - Tod des Ehegatten (Entplafonierung,
                        Verwitwetenzuschlag) - Wegfall der Kinderrente - wegen Erreichens des 18. bzw. 25. Altersjahres
                        - Tod des Kindes – Adoption des Kindes
                    </xs:documentation>
                    <xs:documentation xml:lang="fr">
                        Diminution : donnant droit à la prestation. - Droit du conjoint à la rente-2e cas d’assurance
                        (partage des revenus, plafonnement) - Décès du conjoint (suppression supplément de veuvage) -
                        Suppression de la rente pour enfant - parce qu’il atteint sa 18e ou 25e - décès de l’enfant -
                        adoption de l’enfant
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="8">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Abgang : Übrige Ursachen (z.B. Kassenwechsel, Verlegung des Wohnsitzes ins Ausland)
                    </xs:documentation>
                    <xs:documentation xml:lang="fr">
                        Diminution : Autres événements (par exemple changement de Caisse de compensation, domicile à
                        l'étranger)
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9"/>
            <xs:enumeration value="77">
                <xs:annotation>
                    <xs:documentation xml:lang="de">Aenderung : ??</xs:documentation>
                    <xs:documentation xml:lang="fr">Modification : ??</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="78">
                <xs:annotation>
                    <xs:documentation xml:lang="de">Aenderung : ??</xs:documentation>
                    <xs:documentation xml:lang="fr">Modification : ??</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="89">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Aenderung : Wenn die Versichertennummber der Leistungsberechtigteperson verändert sein muss.
                    </xs:documentation>
                    <xs:documentation xml:lang="fr">
                        Modification : Lorsque le numéro d'assuré de l'ayant-droit doit être modifié.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="99">
                <xs:annotation>
                    <xs:documentation xml:lang="de">Aenderung : im übrigen Fälle</xs:documentation>
                    <xs:documentation xml:lang="fr">Modification : dans les autres cas</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Rentenskala_Type">
        <xs:annotation>
            <xs:documentation xml:lang="de">Skala einer IV/AHV Rente (0-44)</xs:documentation>
            <xs:documentation xml:lang="fr">échelle de rente AVS/AI (0-49)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="44"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Invaliditaetsgrad_numType">
        <xs:annotation>
            <xs:documentation xml:lang="de">Invaliditätsmass (34-100)</xs:documentation>
            <xs:documentation xml:lang="fr">Degré d'invalidité (34-100)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="34"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HEGrad_numType">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Hilflosenentschädigungsmass :(kein=0, leichtes=1/5/6,mittleres=2/7/8, schweres=3/9)
            </xs:documentation>
            <xs:documentation xml:lang="fr">
                Degré d'impotence :(aucun=0, léger=1/5/6, moyen=2/7/8,fort=3/9)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IVBemessungsart_numType">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Art der Invaliditätsbemessung (1=Einkommensvergleich,2=Bestätigungvergleich, 3=Gemischte, 4=Sonderfälle)
            </xs:documentation>
            <xs:documentation xml:lang="fr">
                Méthode d'évaluation de l'invalidité (1=générale (comparaison de revenus), 2=spécifique (comparaison des
                activités), 3=mixte, 4=extraordinaire)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Gebrechensschluessel_numWeakType">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Weite Codifizierung der Gebrechensschlüssel, nach BSV (default)
            </xs:documentation>
            <xs:documentation xml:lang="fr">Code d'infirmité (typage faible, défaut)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedShort">
            <xs:minInclusive value="100"/>
            <xs:maxInclusive value="999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IVFunktionsausfall_numWeakType">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Weite Codifizierung des Funktionsausfalls, nach BSV (default)
            </xs:documentation>
            <xs:documentation xml:lang="fr">Code d'atteinte fonctionnelle (typage faible, défaut)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="00"/>
            <xs:maxInclusive value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IVSachleistung_numWeakType">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Weite Codifizierung des IV-Sachleistung, nach BSV (default)
            </xs:documentation>
            <xs:documentation xml:lang="fr">Code de prestation en nature (typage faible, défaut)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedShort">
            <xs:minInclusive value="000"/>
            <xs:maxInclusive value="999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IVRevisionstyp_numType">
        <xs:annotation>
            <xs:documentation xml:lang="de">Codifizierung des IV-Rentenrevision, nach BSV (1..4)</xs:documentation>
            <xs:documentation xml:lang="fr">Code révision de rente [1...4]</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedShort">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IVBeitragsart_numType">
        <xs:annotation>
            <xs:documentation xml:lang="de">Codifizierung des IV-Beitragsart, nach BSV (11-20)</xs:documentation>
            <xs:documentation xml:lang="fr">Code de genre de cotisation [11-20]</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedShort">
            <xs:minInclusive value="11"/>
            <xs:maxInclusive value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IVAblehnung_numWeakType">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Weite Codifizierung der Ablehnung oder Beschluss (nach BSV) (default)
            </xs:documentation>
            <xs:documentation xml:lang="fr">Code refus et clôture procédure (typage faible, défaut)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedShort">
            <xs:minInclusive value="01"/>
            <xs:maxInclusive value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IVAblehnung_numStrongType">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Strenge Codifizierung der Ablehnung oder Beschluss (nach BSV)
            </xs:documentation>
            <xs:documentation xml:lang="fr">Code refus et clôture procédure (typage fort)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedShort">
            <xs:enumeration value="01"/>
            <xs:enumeration value="02"/>
            <xs:enumeration value="03"/>
            <xs:enumeration value="04"/>
            <xs:enumeration value="05"/>
            <xs:enumeration value="06"/>
            <xs:enumeration value="08"/>
            <xs:enumeration value="09"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SonderfallcodeRente_Type">
        <xs:annotation>
            <xs:documentation xml:lang="de">Sonderfallcode im Rentenbereich</xs:documentation>
            <xs:documentation xml:lang="fr">Code particulier</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="KuerzungSelbstverschulden_Type">
        <xs:annotation>
            <xs:documentation xml:lang="de">Kuerzungsprozent der Leistung wegen Selbstverschuldens.</xs:documentation>
            <xs:documentation xml:lang="fr">
                Pourcentage de réduction de la prestation pour faute grave.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Leistungsart_alle_Revisionen_strongType">
        <xs:annotation>
            <xs:documentation xml:lang="de">Leistungsart (9. oder 10.Revision)</xs:documentation>
            <xs:documentation xml:lang="fr">Genre de la prestation (rente ou API, AVS ou AI)</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="Leistungsart10_strongType Leistungsart9_strongType"/>
    </xs:simpleType>
    <xs:simpleType name="VersichertennummerErgaenzend_Type">
        <xs:annotation>
            <xs:documentation xml:lang="de">11-stelligen oder 13-stelligen oder unbekannte Versichertennummer </xs:documentation>
            <xs:documentation xml:lang="fr">Numéro AVS à 11 ou 13 positions ou inconnu</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="Versichertennummer11oder13Stellen_Type VersichertennummerUnbekannt_Type"/>
    </xs:simpleType>
</xs:schema>
