webavs-web/src/main/resources/xsd/pandemie/apg_demande_pandemie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- APG Pandemie 1.1.0 Vague 2-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="action" type="xs:int" />
	<xs:element name="activity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="employmentType"/>
				<xs:element ref="teleworking"/>
				<xs:element ref="companies"/>
				<xs:element ref="salary"/>
				<xs:element ref="compensationFund"/>
				<xs:element ref="activityCategory" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="activityCategory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="activityType" minOccurs="0"/>
				<xs:element ref="activityOtherDetail" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="activityCause">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="GARDE"/> <!-- Vague 1 uniquement -->
				<xs:enumeration value="QUARANTAINE"/> <!-- Vague 1 et 2 -->
				<xs:enumeration value="FERMETURE"/> <!-- Vague 1 et 2 -->
				<xs:enumeration value="MANIFESTATION"/>  <!-- Vague 1 et 2 -->
				<xs:enumeration value="PERTEGAIN"/> <!-- Vague 1 uniquement -->
				<xs:enumeration value="GARDE_ENFANT_MOINS_12_ANS"/><!-- Vague 2 Garde remplace GARDE  et flag is  childCareWithHAndicap à  false-->
				<xs:enumeration value="GARDE_ENFANT_HANDICAP"/><!-- Vague 2 Garde remplace GARDE  et flag is  childCareWithHAndicao à  true-->
				<xs:enumeration value="LIMITATION_ACTIVITE"/> <!-- Vague 2 Perte de gain -->
				<xs:enumeration value="VULNERABLE" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="activityCessation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="activityCause"/>
				<xs:element ref="childCareCessation" minOccurs="0"/>
				<xs:element ref="quarantineCessation" minOccurs="0"/>
				<xs:element ref="independantWorkClosureCessation" minOccurs="0"/>
				<xs:element ref="independantEventCessation" minOccurs="0"/>
				<xs:element ref="independantLossOfIncomeCessation" minOccurs="0"/>
				<xs:element ref="workClosureCessation" minOccurs="0"/><!-- Vague 2 Perte de gain remplace independantWorkClosureCessation-->
				<xs:element ref="eventCessation" minOccurs="0"/><!-- Vague 2 Perte de gain rempalce independantEventCessation-->
				<xs:element ref="activityLimitationCessation" minOccurs="0"/> <!-- Vague 2 Perte de gain -->
				<xs:element ref="vulnerabilityCessation" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="activityOtherDetail" type="xs:string" />
	<xs:element name="activityType"> <!--hors scope vague 2  -->
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MAGASINS"/>
				<xs:enumeration value="RESTAURANTS"/>
				<xs:enumeration value="BARS"/>
				<xs:enumeration value="DIVERTISSEMENT"/>
				<xs:enumeration value="MASSAGE"/>
				<xs:enumeration value="AUTRE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="affiliateID" type="xs:string" />
	<xs:element name="attachment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="documentDate"/>
				<xs:element ref="leadingDocument"/>
				<xs:element ref="sortOrder"/>
				<xs:element ref="documentFormat"/>
				<xs:element ref="documentType"/>
				<xs:element ref="file"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attachmentType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SALARY_DECOMPTE"/>
				<xs:enumeration value="CERTIFICAT_MEDICAL"/>
				<xs:enumeration value="EVENT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bankAccount">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bankName"/>
				<xs:element ref="iban"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bankName" type="xs:string" />
	<xs:element name="businessProcessId" type="xs:string" />
	<xs:element name="child">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vn" minOccurs="0"/>
				<xs:element ref="officialName"/>
				<xs:element ref="firstName"/>
				<xs:element ref="dateOfBirth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="childCareCause">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ECOLE"/><!-- Vague 1 Garde-->
				<xs:enumeration value="CRECHE"/><!-- Vague 1 Garde-->
				<xs:enumeration value="RISQUE"/><!-- Vague 1 Garde-->
				<xs:enumeration value="HANDICAPSPECIALE"/><!-- Vague 1 Garde-->
				<xs:enumeration value="HANDICAPINSTITUTION"/><!-- Vague 1 Garde-->
				<xs:enumeration value="FERMETURE_GARDE_ENFANT"/> <!-- Vague 2 Garde pour strucutrue d'acceuil et handicap  -->
				<xs:enumeration value="QUARANTAINE_ENFANT"/> <!-- Vague 2 Perte de gain Garde pour enfant -->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	
	
	<xs:element name="childCareCessation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="isSelected"/>
				<xs:element ref="childCareCause"/>
				<xs:element ref="childCareWithHandicap" minOccurs="0"/>
				<xs:element ref="childCareInstitution" minOccurs="0"/>
				<xs:element ref="childCarePeriods"/>
				<xs:element ref="childCarePersonRiskProof"/>
				<xs:element ref="childCarePartnerAllocation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="childCarePeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="from"/>
				<xs:element ref="to"/>
				<xs:element ref="numbersOfDays"/>
				<xs:element ref="lossValue" minOccurs="0"/>
				<xs:element ref="unit" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="childCarePeriods">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="childCarePeriod" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="childCarePersonType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MALADIE"/>
				<xs:enumeration value="AGE_SUP_65"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="childCarePersonDiseaseCause">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="HYPERTENSION"/>
				<xs:enumeration value="DIABETE"/>
				<xs:enumeration value="CARDIO"/>
				<xs:enumeration value="RESPIRATOIRE"/>
				<xs:enumeration value="FAIBLESSE"/>
				<xs:enumeration value="CANCER"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="childCarePersonRiskProof">
                            <xs:complexType>
                              <xs:sequence>
							  	<xs:element ref="childCarePersonType"/>
								<xs:element ref="childCarePersonDiseaseCause"/>                         
                              </xs:sequence>
                            </xs:complexType>
    </xs:element>
	<xs:element name="hasAllocationRequest" type="xs:boolean" />
	<xs:element name="hasLucrativeActivity" type="xs:boolean" />
	<xs:element name="childCarePartnerAllocation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="hasAllocationRequest"/>
				<xs:element ref="compensationFund"/>
				<xs:element ref="hasLucrativeActivity"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="children">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="child" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="companies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="company" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="company">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="affiliateID"/>
				<xs:element ref="organisationUID" minOccurs="0"/>
				<xs:element ref="organisationName"/>
				<xs:element ref="companyAddress"/>
				<xs:element ref="phone" minOccurs="0"/>
				<xs:element ref="email" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="companyAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="streetWithNr"/>
				<xs:element ref="swissZipCode" minOccurs="0"/>
				<xs:element ref="town" minOccurs="0"/>
				<xs:element ref="country" minOccurs="0"/>
				<xs:element ref="phone" minOccurs="0"/>
				<xs:element ref="email" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="compensationFund">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="compensationFundId"/>
				<xs:element ref="name"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="confirmation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="done"/>
				<xs:element ref="attachmentType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contactInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="phone"/>
				<xs:element ref="email"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="content">
		<xs:complexType>
			<xs:sequence>
			 	<xs:element ref="referenceData"/> <!-- Vague 2  -->
			    <xs:element ref="otherIndemnity"/>
				<xs:element ref="insuredPerson" minOccurs="0"/>
				<xs:element ref="insuredAddress" minOccurs="0"/>
				<xs:element ref="familyMembers" minOccurs="0" />
				<xs:element ref="beneficiaries" minOccurs="0"/> <!-- Vague 2 Perte de gain -->
				<xs:element ref="activity" />
				<xs:element ref="activityCessation"/>
				<xs:element ref="paymentContact"/>
				<xs:element ref="confirmation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="country" type="xs:string" />
	<xs:element name="dateOfBirth" type="xs:date" />
	<xs:element name="directPayment" type="xs:boolean"/>
	<xs:element name="documentDate" type="xs:date" />
	<xs:element name="documentFormat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="application/pdf"/>
				<xs:enumeration value="application/xml"/>
				<xs:enumeration value="application/octet-stream"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="documentType" type="xs:int" />
	<xs:element name="done" type="xs:boolean"/>
	<xs:element name="email" type="xs:string" />
	<xs:element name="employmentType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="EMPLOYE"/>
				<xs:enumeration value="INDEPENDANT"/>
				<xs:enumeration value="ASSIM_EMPLOYEUR"/> <!-- Vague 2 Perte de gain -->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="endBeneficiary" type="xs:string" />
	<xs:element name="extension">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="contactInformation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="familyMembers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="partner" minOccurs="0"/>
				<xs:element ref="children" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Vague 2 Perte de gain Début ayants droits-->
	<xs:element name="year" type="xs:integer" />
	<xs:element name="amount" type="xs:double" />
	<xs:element name="lastAnnualIncome">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="year"/>
				<xs:element ref="amount"/>
				<xs:element ref="unit"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="reducedWorkHours" type="xs:boolean"/>
	<xs:element name="RHTIndemnity" type="xs:boolean"/>
	<xs:element name="hasLossOfProfit" type="xs:boolean"/>
	<xs:element name="assimilablePosition" type="xs:boolean"/>
	
	<xs:element name="positionType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ASSOCIE"/>
				<xs:enumeration value="MEMBRE"/>
				<xs:enumeration value="CONJOINT"/><!--vague2 APG-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="employmentInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reducedWorkHours"/>
				<xs:element ref="RHTIndemnity"/>
				<xs:element ref="assimilablePosition"/>
				<xs:element ref="positionType"/>
				<xs:element ref="hasLossOfProfit"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		
	
	<xs:element name="beneficiary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="insuredPerson" />
				<xs:element ref="insuredAddress"/>
				<xs:element ref="salary"/>
				<xs:element ref="lastAnnualIncome"/>
				<xs:element ref="employmentInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="beneficiaries">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="beneficiary" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Vague 2 Perte de gain Fin ayants droits-->
	
	
	
	<xs:element name="file">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pathFileName"/>
				<xs:element ref="internalSortOrder"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="firstName" type="xs:string" />
	<xs:element name="eventDate" type="xs:date" />
	<xs:element name="from" type="xs:date" />
	<xs:element name="hasReceiveSalaryDuringInterruption" type="xs:boolean"/>
	<xs:element name="header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="transactionInfo"/>
				<xs:element ref="senderId"/>
				<xs:element ref="recipientId"/>
				<xs:element ref="messageId"/>
				<xs:element ref="businessProcessId" />
				<xs:element ref="ourBusinessReferenceId" minOccurs="0"/>
				<xs:element ref="messageType"/>
				<xs:element ref="subMessageType"/>
				<xs:element ref="sendingApplication" minOccurs="0"/>
				<xs:element ref="subject" minOccurs="0"/>
				<xs:element ref="messageDate"/>
				<xs:element ref="action"/>
				<xs:element ref="attachment" maxOccurs="unbounded"/>
				<xs:element ref="extension" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="iban" type="xs:string" />
	<xs:element name="compensationFundId" type="xs:string" />
	<xs:element name="independantEventCessation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="isSelected"/>
				<xs:element ref="independantEventPeriod" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="independantEventPeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="eventDate" minOccurs="0"/> <!-- eventDate deprecated -->
				<xs:element ref="from" minOccurs="0"/>
                <xs:element ref="to" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="independantWorkClosureCessation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="isSelected"/>
				<xs:element ref="independantWorkClosurePeriod" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="independantWorkClosurePeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="from" minOccurs="0"/>
				<xs:element ref="to" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- vague 2 perte de gain debut  remplace les independant en plus générique pour assimile employeur et indépendant -->
	<xs:element name="eventCessation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="isSelected"/>
				<xs:element ref="eventPeriod" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="eventPeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="eventDate" minOccurs="0"/> <!-- eventDate deprecated -->
				<xs:element ref="from" minOccurs="0"/>
                <xs:element ref="to" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="workClosureCessation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="isSelected"/>
				<xs:element ref="workClosurePeriod" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="workClosurePeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="from" minOccurs="0"/>
				<xs:element ref="to" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<!-- vague 2 perte de gain fin-->
	
	<xs:element name="independantLossOfIncomeCessation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="isSelected"/>
				<xs:element ref="independantLossOfIncomePeriod" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="independantLossOfIncomePeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="from" minOccurs="0"/>
				<xs:element ref="to" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="insuredAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="streetWithNr"/>
				<xs:element ref="zipCode"/>
				<xs:element ref="town"/>
				<xs:element ref="phone"/>
				<xs:element ref="email"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="insuredPerson">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vn"/>
				<xs:element ref="officialName"/>
				<xs:element ref="firstName"/>
				<xs:element ref="dateOfBirth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="internalSortOrder" type="xs:int" />
	<xs:element name="lastIncome" type="xs:double"/>
	<xs:element name="leadingDocument" type="xs:boolean"/>
	<xs:element name="manufacturer" type="xs:string" />
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header"/>
				<xs:element ref="content"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="isSelected" type="xs:boolean" />
	<xs:element name="messageDate" type="xs:dateTime" />
	<xs:element name="messageId" type="xs:string" />
	<xs:element name="messageType" type="xs:string" >
	<xs:annotation>
          <xs:documentation>
          318753= demande vague 1  
          318755=demande garde et quarantaine vague 2  
          3187556=demande perte de gain vague 2</xs:documentation>
        </xs:annotation>
     </xs:element>
	<xs:element name="name" type="xs:string" />
	<xs:element name="numbersOfDays" type="xs:int" />
	<xs:element name="officialName" type="xs:string" />
	<xs:element name="organisationName" type="xs:string" />
	<xs:element name="organisationUID" type="xs:string" />
	<xs:element name="ourBusinessReferenceId" type="xs:int" />
	<xs:element name="referenceData" type="xs:string" />  	<!-- Vague 2 -->
	<xs:element name="otherIndemnityType" type="xs:string" />
	<xs:element name="otherIndemnity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="isSelected"/>
				<xs:element ref="otherIndemnityType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="partner">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vn"/>
				<xs:element ref="officialName"/>
				<xs:element ref="firstName"/>
				<xs:element ref="dateOfBirth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pathFileName" type="xs:string"/>
	<xs:element name="paymentContact">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="directPayment"/>
				<xs:element ref="endBeneficiary"/>
				<xs:element ref="bankAccount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="phone" type="xs:string" />
	<xs:element name="childCareWithHandicap" type="xs:boolean" />
	<xs:element name="childCareInstitution" type="xs:string" />
	<xs:element name="prescribedBy" type="xs:string" />
	<xs:element name="prescribedQuarantine" type="xs:boolean"/>
	
	
	<xs:element name="product" type="xs:string" />
	<xs:element name="productVersion" type="xs:string" />
	<xs:element name="isQuarantineDueToTravel" type="xs:boolean"/> 	<!-- Vague 2 quarantaine-->
	<xs:element name="quarantineTravel">   <!-- Vague 2 quarantaine-->
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="country" minOccurs="0"/>
				<xs:element ref="from"/>
				<xs:element ref="to"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="quarantineCessation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="isSelected"/>
				<xs:element ref="prescribedQuarantine" minOccurs="0"/>
				<xs:element ref="prescribedBy" minOccurs="0"/>
				<xs:element ref="quarantinePeriod" minOccurs="0"/>
				<xs:element ref="isQuarantineDueToTravel" minOccurs="0"/> <!-- Vague 2 quarantaine-->
				<xs:element ref="quarantineTravel" minOccurs="0"/>        <!-- Vague 2 quarantaine-->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quarantinePeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="from"/>
				<xs:element ref="to"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
<!-- Vague 2 Perte de gain Début chiffre d'affaire-->
 <xs:element name="reason" type="xs:string"/>
 <xs:element name="annualTurnover">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="year"/>
        <xs:element ref="amount"/>
        <xs:element ref="unit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="month" type="xs:string"/>
  <xs:element name="monthlyTurnover">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="month"/>
        <xs:element ref="amount"/>
        <xs:element ref="unit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="annualTurnovers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="annualTurnover" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="monthlyTurnovers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="monthlyTurnover"  maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="percentOfLossConfirmation">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CONFIRMATION_55_POURCENT"/>
			<xs:enumeration value="CONFIRMATION_40_POURCENT"/>
		</xs:restriction>
	</xs:simpleType>
  </xs:element>
  <xs:element name="activityDateStart" type="xs:date"/>
  <xs:element name="lossOfIncomeTurnoverPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="from"/>
        <xs:element ref="to"/>
        <xs:element ref="lossValue"/>
        <xs:element ref="unit"/>
        <xs:element ref="reason"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="turnovers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="annualTurnovers"/>
        <xs:element ref="monthlyTurnovers"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activityLimitationCessation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="isSelected"/>
        <xs:element ref="percentOfLossConfirmation" />
        <xs:element ref="activityDateStart"/>
        <xs:element ref="lossOfIncomeTurnoverPeriod"/>
        <xs:element ref="turnovers"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vulnerabilityCessation">
  	<xs:complexType>
  	  <xs:sequence>
  	    <xs:element name="reason">
  	    	<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CESSATION_ACTIVITE"/>
				<xs:enumeration value="ACTIVITE_PARTIELLE"/>
			</xs:restriction>
		</xs:simpleType>
  	    </xs:element>
  	    <xs:element name="partialActivityPercent" type="xs:int" minOccurs="0"/>
  	    <xs:element name="period">
  	      <xs:complexType>
  	      	<xs:sequence>
  	      		<xs:element name="from" type="xs:date" />
  	      		<xs:element name="to" type="xs:date" />
  	      	</xs:sequence>
  	      </xs:complexType>
  	    </xs:element>
  	  </xs:sequence>
  	</xs:complexType>
  </xs:element>
  <!-- Vague 2 Perte de gain Fin chiffre d'affaire-->

	<xs:element name="recipientId" type="xs:string" />
	<xs:element name="salary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lastIncome"/>
				<xs:element ref="hasReceiveSalaryDuringInterruption"/>
				<xs:element ref="sendDecompteToEmployer"/>
				<xs:element ref="withholdingTax"/>
				<xs:element ref="hasThirteenthMonth"/> <!-- Vague 2  -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sendDecompteToEmployer" type="xs:boolean"/>
	<xs:element name="senderId" type="xs:string" />
	<xs:element name="sendingApplication">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="manufacturer"/>
				<xs:element ref="product"/>
				<xs:element ref="productVersion"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sortOrder" type="xs:int" />
	<xs:element name="streetWithNr" type="xs:string" />
	<xs:element name="subject" type="xs:string" />
	<xs:element name="subMessageType" type="xs:string" >
	 <xs:annotation>
          <xs:documentation>1sous message type 
          101=demande vague 1 
          102= prolongation vague 1 
          103= demande garde et quarantaine vague 2 
          104= demande perte de gain</xs:documentation>
        </xs:annotation>
     </xs:element>
    <xs:element name="swissZipCode" type="xs:string" />
	
	<xs:element name="lossValue" type="xs:double" />
	<xs:element name="unit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CHF"/>
				<xs:enumeration value="PERCENT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="teleworking">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="isSelected"/>
				<xs:element ref="lossValue" minOccurs="0"/>
				<xs:element ref="unit" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="title" type="xs:string" />
	<xs:element name="to" type="xs:date" />
	<xs:element name="town" type="xs:string" />
	<xs:element name="transactionInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="version"/>
				<xs:element ref="usage"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usage">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="production"/>
				<xs:enumeration value="test"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="version" type="xs:string" />
	<xs:element name="vn" type="xs:string" />
	<xs:element name="withholdingTax" type="xs:boolean"/>
	<xs:element name="hasThirteenthMonth" type="xs:boolean"/> <!-- Vague 2 -->
	<xs:element name="zipCode" type="xs:string" />
</xs:schema>
