webavs-web/src/main/resources/xsd/acorV4/xsd/euro/e210.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by Bundesamt für Informatik und Telekommunikation (Bundesamt für Informatik und Telekommunikation) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Thomas Mäsing (BGS Beratungsges. Software AG) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:e210="http://www.gotess.org/xns/e210" xmlns:core="http://www.gotess.org/xns/core" targetNamespace="http://www.gotess.org/xns/e210" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
	<xsd:import namespace="http://www.gotess.org/xns/core" schemaLocation="core.xsd"/>
	<xsd:element name="M_E210">
		<xsd:annotation>
			<xsd:documentation>e210 Form</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e210:SchemaVersion" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e210 Version of Schema</xsd:documentation>
						<xsd:documentation xml:lang="de">Schema Version</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="core:MessageNumber" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e210 Number of Message</xsd:documentation>
						<xsd:documentation xml:lang="de">Nachrichtennummer</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="core:DocumentDate" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">field 7.5</xsd:documentation>
						<xsd:documentation xml:lang="en">e210 Date of Document</xsd:documentation>
						<xsd:documentation xml:lang="de">e210 Dokumentendatum</xsd:documentation>
						<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
						<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:PensionReason" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e210 reason for pension</xsd:documentation>
						<xsd:documentation xml:lang="de">Grund für die Rentenbewilligung</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:ReceivingInstitution" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e210 Receiving Institution</xsd:documentation>
						<xsd:documentation xml:lang="en">field 1</xsd:documentation>
						<xsd:documentation xml:lang="de">e210 empfangendes Institut</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:Recours"/>
				<xsd:element ref="e210:SendingInstitution" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e210 Sending Institution</xsd:documentation>
						<xsd:documentation xml:lang="en">field 7</xsd:documentation>
						<xsd:documentation xml:lang="de">e210 sendendes Institut</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:InsuredPerson" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e210 Insured Person</xsd:documentation>
						<xsd:documentation xml:lang="en">field 2 and 4</xsd:documentation>
						<xsd:documentation xml:lang="de">e210 versicherte Person</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:Beneficiary" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">field 3 and 4</xsd:documentation>
						<xsd:documentation xml:lang="en">e210 Beneficiary</xsd:documentation>
						<xsd:documentation xml:lang="de">e210 Anspruchsberechtigter</xsd:documentation>
						<xsd:documentation xml:lang="en">Complete where appropriate.</xsd:documentation>
						<xsd:documentation xml:lang="de">Gegebenenfalls auch auszufüllen.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:ApplicationDenegation" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e210 application denegation</xsd:documentation>
						<xsd:documentation xml:lang="en">field 5</xsd:documentation>
						<xsd:documentation xml:lang="de">e210 Ablehnung des Antrages</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:Pension" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">e210 pension</xsd:documentation>
						<xsd:documentation xml:lang="en">field 6</xsd:documentation>
						<xsd:documentation xml:lang="de">e210 Rente</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:Signature" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">field 7.6</xsd:documentation>
						<xsd:documentation xml:lang="en">signature</xsd:documentation>
						<xsd:documentation xml:lang="de">Unterschrift</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:Recours" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SchemaVersion" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation source="1.0.1" xml:lang="en">version of the schema  2004.02.26.
changes from the last version:
add comment for all elements 
</xsd:documentation>
			<xsd:documentation source="1.0" xml:lang="en">initial version of the schema  2003.05.13
changes from the last version:
all elements are now optional
a version element has been added
all date types have been changed to xsd:date</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InsuredPerson">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">versicherte Person e210</xsd:documentation>
			<xsd:documentation xml:lang="en">e210 Insured Person</xsd:documentation>
			<xsd:documentation xml:lang="en">field 2 and 4</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="core:InsuredPerson">
				<xsd:sequence>
					<xsd:element ref="core:CurrentName" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">— For surname please state usual surname or surname acquired by marriage.
— The surname at birth must always be given; if same as current surname, put ‘IDEM’.
— Expressions such as ‘called …’ or ‘alias …’ and prefixes to surnames must be written in full in the order in which they appear on the
birth certificate.
— In the case of Spanish nationals state both names at birth.
— In the case of Portuguese nationals state all names (forenames, surname, maiden name) in the order of civil status in which they
appear on the identity card or passport.</xsd:documentation>
							<xsd:documentation xml:lang="de">- Name bedeutet Angabe des üblichen Namens oder des bei Eheschliessung angenommenen Namens.
- Der „Geburtsname“ ist stets anzugeben; ist er mit dem Namen identisch, so ist ggf. „IDEM“ einzusetzen.
- Die Zusätze „GENANNT“ und „ALIAS“ sowie Vorsatzwörter sind vollständig und in der Reihenfolge der standesamt-lichen
Eintragung anzugeben.
- Bei spanischen Staatsangehörigen sind beide Geburtsnamen anzugeben.
- Bei portugiesischen Staatsangehörigen sind alle Namen (Vornamen, Name, Mädchenname) in standesamtlicher
Reihenfolge anzugeben, wie sie aus dem Personalausweis oder Pass ersichtlich sind.</xsd:documentation>
							<xsd:documentation xml:lang="de">Alle Vornamen sind in der Reihenfolge der standesamtlichen Eintragung anzugeben.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:NationalityQualifier" minOccurs="0" maxOccurs="0"/>
					<xsd:element ref="core:Nationality" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">code letter for nationality</xsd:documentation>
							<xsd:documentation xml:lang="de">Kennbuchstabe der Nationalität des Versicherten unter Verwendung der internationalen Kraftfahrzeugkennzeichen.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:NaturalisationDate" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Where appropriate, indicate the date of naturalisation.</xsd:documentation>
							<xsd:documentation xml:lang="de">Gegebenenfalls Datum der Einbürgerung angeben.</xsd:documentation>
							<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
							<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:IdentityDocument" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">D.N.I</xsd:documentation>
							<xsd:documentation xml:lang="en">In the case of Spanish nationals over 16 years of age, state the Número de Identificación Fiscal (N.I.F.). Failing this, indicate the number
of the Documento Nacional de Identidad (D.N.I.) or passport, even if they are out of date. If the aforementioned documents do not exist,
state ‘none’.</xsd:documentation>
							<xsd:documentation xml:lang="de">Bei spanischen Staatsangehörigen ist die auf dem spanischen Personalausweis vermerkte (D.N.I.-) Nummer, falls
vorhanden, anzugeben, selbst wenn der Ausweis abgelaufen ist. Falls nicht vorhanden, ist „keine“ anzugeben.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:CurrentAddress" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">personal address</xsd:documentation>
							<xsd:documentation xml:lang="de"/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:Birth" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">information at the birth</xsd:documentation>
							<xsd:documentation xml:lang="de">Informationen zur Geburt</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:Death" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">death</xsd:documentation>
							<xsd:documentation xml:lang="de">Informationen zum Todestag</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:PersonalDetails" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">marital state</xsd:documentation>
							<xsd:documentation xml:lang="de">Familienstand</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:Gender" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">choose the code letter for the gender</xsd:documentation>
							<xsd:documentation xml:lang="de">Geschlecht</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:BirthName" minOccurs="0" maxOccurs="2">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Name at birth</xsd:documentation>
							<xsd:documentation xml:lang="de">Geburtsname</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:PreviousName" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">previous name</xsd:documentation>
							<xsd:documentation xml:lang="de">früherer Name</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:InsuredPersonFather" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">father of the insured person</xsd:documentation>
							<xsd:documentation xml:lang="de">Vater der versicherten Person</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:InsuredPersonMother" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">mother of the insured person</xsd:documentation>
							<xsd:documentation xml:lang="de">Mutter der versicherten Person</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:TaxNumber" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">number of the taxpayer file</xsd:documentation>
							<xsd:documentation xml:lang="de">Steuernummer</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:AssessmentArea" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">assessment area</xsd:documentation>
							<xsd:documentation xml:lang="de">Steuerbezirk</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:SofiNumber" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">social insurance number</xsd:documentation>
							<xsd:documentation xml:lang="de">Versicherungsnummer</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:LastAddress" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">last address</xsd:documentation>
							<xsd:documentation xml:lang="de">letzte Adresse</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:Bank" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">bank</xsd:documentation>
							<xsd:documentation xml:lang="de">Bankverbindung</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Person">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">e210 Person</xsd:documentation>
			<xsd:documentation xml:lang="de">Person e210</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="e210:CurrentName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 2.1 and 2.3</xsd:documentation>
					<xsd:documentation xml:lang="en">— For surname please state usual surname or surname acquired by marriage.
— The surname at birth must always be given; if same as current surname, put ‘IDEM’.
— Expressions such as ‘called …’ or ‘alias …’ and prefixes to surnames must be written in full in the order in which they appear on the
birth certificate.
— In the case of Spanish nationals state both names at birth.
— In the case of Portuguese nationals state all names (forenames, surname, maiden name) in the order of civil status in which they
appear on the identity card or passport.</xsd:documentation>
					<xsd:documentation xml:lang="de">- Name bedeutet Angabe des üblichen Namens oder des bei Eheschliessung angenommenen Namens.
- Der „Geburtsname“ ist stets anzugeben; ist er mit dem Namen identisch, so ist ggf. „IDEM“ einzusetzen.
- Die Zusätze „GENANNT“ und „ALIAS“ sowie Vorsatzwörter sind vollständig und in der Reihenfolge der standesamt-lichen
Eintragung anzugeben.
- Bei spanischen Staatsangehörigen sind beide Geburtsnamen anzugeben.
- Bei portugiesischen Staatsangehörigen sind alle Namen (Vornamen, Name, Mädchenname) in standesamtlicher
Reihenfolge anzugeben, wie sie aus dem Personalausweis oder Pass ersichtlich sind.</xsd:documentation>
					<xsd:documentation xml:lang="de">Alle Vornamen sind in der Reihenfolge der standesamtlichen Eintragung anzugeben.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:Nationality" minOccurs="0" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">code letter for nationality</xsd:documentation>
					<xsd:documentation xml:lang="de">Kennbuchstabe der Nationalität des Versicherten unter Verwendung der internationalen Kraftfahrzeugkennzeichen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e210:NaturalisationDate" minOccurs="0" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Where appropriate, indicate the date of naturalisation.</xsd:documentation>
					<xsd:documentation xml:lang="de">Gegebenenfalls Datum der Einbürgerung angeben.</xsd:documentation>
					<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
					<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:IdentityDocument" minOccurs="0" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">D.N.I</xsd:documentation>
					<xsd:documentation xml:lang="de">Bei spanischen Staatsangehörigen ist die auf dem spanischen Personalausweis vermerkte (D.N.I.-) Nummer, falls
vorhanden, anzugeben, selbst wenn der Ausweis abgelaufen ist. Falls nicht vorhanden, ist „keine“ anzugeben.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e210:CurrentAddress" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 4</xsd:documentation>
					<xsd:documentation xml:lang="en">personal address</xsd:documentation>
					<xsd:documentation xml:lang="de">Adresse</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e210:BirthDate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 3.5</xsd:documentation>
					<xsd:documentation xml:lang="en">birthday</xsd:documentation>
					<xsd:documentation xml:lang="de">Geburtstag</xsd:documentation>
					<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
					<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e210:Birth" minOccurs="0" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 3.5</xsd:documentation>
					<xsd:documentation xml:lang="en">information at the birth</xsd:documentation>
					<xsd:documentation xml:lang="de">Informationen zur Geburt</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e210:BirthName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 3.2</xsd:documentation>
					<xsd:documentation xml:lang="en">Name at birth</xsd:documentation>
					<xsd:documentation xml:lang="de">Geburtsname</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:Death" minOccurs="0" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">death</xsd:documentation>
					<xsd:documentation xml:lang="de">Informationen zum Todestag</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="core:Gender" minOccurs="0" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">choose the code letter for the gender</xsd:documentation>
					<xsd:documentation xml:lang="de">Geschlecht</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e210:PreviousName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 3.4</xsd:documentation>
					<xsd:documentation xml:lang="en">previous name</xsd:documentation>
					<xsd:documentation xml:lang="de">früherer Name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="e210:Affinity" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">field 3.6</xsd:documentation>
					<xsd:documentation xml:lang="en">affinity</xsd:documentation>
					<xsd:documentation xml:lang="de">Verwandschaftsverhältnis</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ReceivingInstitution">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 1</xsd:documentation>
			<xsd:documentation xml:lang="en">e210 Receiving Institution</xsd:documentation>
			<xsd:documentation xml:lang="de">e210 empfangendes Institut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="core:InsuranceInstitution">
					<xsd:sequence>
						<xsd:element ref="core:InstitutionType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Typ of institution</xsd:documentation>
								<xsd:documentation xml:lang="de">Art des Versicherungsinstituts</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:InstitutionCode" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">code of institution</xsd:documentation>
								<xsd:documentation xml:lang="de">Kodierung des Versicherungsinstituts</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:InstitutionName" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">name of institution</xsd:documentation>
								<xsd:documentation xml:lang="de">Namen des Versicherungsinstituts</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:Country" minOccurs="0" maxOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Identification of the name of a country or other geographical entity as specified in ISO 3166.
Note: Use ISO 3166 two alpha country code.</xsd:documentation>
								<xsd:documentation xml:lang="de">Kennbuchstabe des Landes</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:InsuranceNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">number of insurance</xsd:documentation>
								<xsd:documentation xml:lang="de">Nummer des Versicherungsinstituts</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:CaseNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">case number</xsd:documentation>
								<xsd:documentation xml:lang="de">Geschäftsnummer</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:DossierNumber" minOccurs="0" maxOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">dossiernumber</xsd:documentation>
								<xsd:documentation xml:lang="de">Aktenzeichen</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:RoleOfInstitution" minOccurs="0" maxOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">role of the institution</xsd:documentation>
								<xsd:documentation xml:lang="de">Rolle des Versicherungsinstituts</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:TaxpayerNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">number of the taxpayer file</xsd:documentation>
								<xsd:documentation xml:lang="de">Steuernummer</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:Address" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">standard address</xsd:documentation>
								<xsd:documentation xml:lang="de">Standard Adress</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:PhoneNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">phone number</xsd:documentation>
								<xsd:documentation xml:lang="de">Telefonnummer</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SendingInstitution">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 7</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="core:InsuranceInstitution">
					<xsd:sequence>
						<xsd:element ref="core:InstitutionType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Typ of institution</xsd:documentation>
								<xsd:documentation xml:lang="de">Art des Versicherungsinstituts</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:InstitutionCode" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">code of institution</xsd:documentation>
								<xsd:documentation xml:lang="de">Kodierung des Versicherungsinstituts</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:InstitutionName" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">name of institution</xsd:documentation>
								<xsd:documentation xml:lang="de">Namen des Versicherungsinstituts</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:Country" minOccurs="0" maxOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Identification of the name of a country or other geographical entity as specified in ISO 3166.
Note: Use ISO 3166 two alpha country code.</xsd:documentation>
								<xsd:documentation xml:lang="de">Kennbuchstabe des Landes</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:InsuranceNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">number of insurance</xsd:documentation>
								<xsd:documentation xml:lang="de">Nummer des Versicherungsinstituts</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:CaseNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">case number</xsd:documentation>
								<xsd:documentation xml:lang="de">Geschäftsnummer</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:DossierNumber" minOccurs="0" maxOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">dossiernumber</xsd:documentation>
								<xsd:documentation xml:lang="de">Aktenzeichen</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:RoleOfInstitution" minOccurs="0" maxOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">role of the institution</xsd:documentation>
								<xsd:documentation xml:lang="de">Rolle des Versicherungsinstituts</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:TaxpayerNumber" minOccurs="0" maxOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">number of the taxpayer file</xsd:documentation>
								<xsd:documentation xml:lang="de">Steuernummer</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:Address" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">standard address</xsd:documentation>
								<xsd:documentation xml:lang="de">Standard Adress</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:PhoneNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">phone number</xsd:documentation>
								<xsd:documentation xml:lang="de">Telefonnummer</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InsuredPerson" type="e210:InsuredPerson">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">versicherte Person e210</xsd:documentation>
			<xsd:documentation xml:lang="en">e210 Insured Person</xsd:documentation>
			<xsd:documentation xml:lang="en">field 2 and 4</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PreviousName" type="core:CompleteName">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 2.4 and 3.4</xsd:documentation>
			<xsd:documentation xml:lang="en">previous name</xsd:documentation>
			<xsd:documentation xml:lang="de">früherer Name</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InsuredPersonFather" type="e210:CompleteName">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 2.6</xsd:documentation>
			<xsd:documentation xml:lang="en">father of the insured person</xsd:documentation>
			<xsd:documentation xml:lang="de">Vater der versicherten Person</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InsuredPersonMother" type="e210:CompleteName">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 2.7</xsd:documentation>
			<xsd:documentation xml:lang="en">mother of the insured person</xsd:documentation>
			<xsd:documentation xml:lang="de">Mutter der versicherten Person</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Beneficiary" type="e210:Person">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 3 and 4</xsd:documentation>
			<xsd:documentation xml:lang="de">Gegebenenfalls auch auszufüllen.</xsd:documentation>
			<xsd:documentation xml:lang="en">e210 Beneficiary</xsd:documentation>
			<xsd:documentation xml:lang="de">e210 Anspruchsberechtigter</xsd:documentation>
			<xsd:documentation xml:lang="en">Complete where appropriate.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Remarks">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">remarks</xsd:documentation>
			<xsd:documentation xml:lang="de">Bemerkungen</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="data" type="xsd:string" fixed="true"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BirthName" type="core:CompleteName">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 3.2</xsd:documentation>
			<xsd:documentation xml:lang="en">Name at birth</xsd:documentation>
			<xsd:documentation xml:lang="de">Geburtsname</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CurrentName" type="e210:CompleteName">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 2.1 and 2.3</xsd:documentation>
			<xsd:documentation xml:lang="en">— For surname please state usual surname or surname acquired by marriage.
— The surname at birth must always be given; if same as current surname, put ‘IDEM’.
— Expressions such as ‘called …’ or ‘alias …’ and prefixes to surnames must be written in full in the order in which they appear on the
birth certificate.
— In the case of Spanish nationals state both names at birth.
— In the case of Portuguese nationals state all names (forenames, surname, maiden name) in the order of civil status in which they
appear on the identity card or passport.</xsd:documentation>
			<xsd:documentation xml:lang="de">- Name bedeutet Angabe des üblichen Namens oder des bei Eheschliessung angenommenen Namens.
- Der „Geburtsname“ ist stets anzugeben; ist er mit dem Namen identisch, so ist ggf. „IDEM“ einzusetzen.
- Die Zusätze „GENANNT“ und „ALIAS“ sowie Vorsatzwörter sind vollständig und in der Reihenfolge der standesamt-lichen
Eintragung anzugeben.
- Bei spanischen Staatsangehörigen sind beide Geburtsnamen anzugeben.
- Bei portugiesischen Staatsangehörigen sind alle Namen (Vornamen, Name, Mädchenname) in standesamtlicher
Reihenfolge anzugeben, wie sie aus dem Personalausweis oder Pass ersichtlich sind.</xsd:documentation>
			<xsd:documentation xml:lang="de">Alle Vornamen sind in der Reihenfolge der standesamtlichen Eintragung anzugeben.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PhoneNumber">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">phone number</xsd:documentation>
			<xsd:documentation xml:lang="de">Telefonnummer</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="data" type="xsd:string" fixed="true"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NaturalisationDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Where appropriate, indicate the date of naturalisation.</xsd:documentation>
			<xsd:documentation xml:lang="de">Gegebenenfalls Datum der Einbürgerung angeben.</xsd:documentation>
			<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
			<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Birth">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 2.5 and 3.5</xsd:documentation>
			<xsd:documentation xml:lang="en">information at the birth</xsd:documentation>
			<xsd:documentation xml:lang="de">Informationen zur Geburt</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="core:Birth"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CurrentAddress" type="core:Address">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 4</xsd:documentation>
			<xsd:documentation xml:lang="en">personal address</xsd:documentation>
			<xsd:documentation xml:lang="de">Adresse</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Attachments">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">attachments</xsd:documentation>
			<xsd:documentation xml:lang="en">For Spanish institutions, in the case of seamen a photocopy of the sailor’s book or books of the country issuing the certificate should be
enclosed.</xsd:documentation>
			<xsd:documentation xml:lang="de">Anhänge</xsd:documentation>
			<xsd:documentation xml:lang="de">Bei Seeleuten ist für spanische Träger eine Fotokopie des Seemannsbuchs oder der Seemannsbücher des den Vordruck
ausstellenden Landes beizugeben.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e210:Attachment" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Attachment">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">attachment</xsd:documentation>
			<xsd:documentation xml:lang="de">Anhang</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attributeGroup ref="xlink:SimpleLink"/>
			<xsd:attribute name="data" type="xsd:string" fixed="true"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Signature" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 7.6</xsd:documentation>
			<xsd:documentation xml:lang="en">signature</xsd:documentation>
			<xsd:documentation xml:lang="de">Unterschrift</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CompleteName">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">complete name</xsd:documentation>
			<xsd:documentation xml:lang="de">vollständiger Name</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="core:CompleteName">
				<xsd:sequence>
					<xsd:element ref="core:Surname" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">name, tostated particularly in the case of adoption or in the case of other names in current use; expressions such as ‘called …’ or ‘alias …’
and prefixes to surnames must be written in full in the order in which they appear on the birth certificate.</xsd:documentation>
							<xsd:documentation xml:lang="de">Name; Insbesondere bei Adoption und Verwendung gebräuchlich gewordener Beinamen anzugeben; die Zusätze „GE-NANNT“
und “ALIAS“ sowie Vorsatzwörter sind vollständig und in der Reihenfolge der standesamtlichen Eintragung
anzugeben.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:SurnamePart2" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">name, tostated particularly in the case of adoption or in the case of other names in current use; expressions such as ‘called …’ or ‘alias …’
and prefixes to surnames must be written in full in the order in which they appear on the birth certificate.</xsd:documentation>
							<xsd:documentation xml:lang="de">Name; Insbesondere bei Adoption und Verwendung gebräuchlich gewordener Beinamen anzugeben; die Zusätze „GE-NANNT“
und “ALIAS“ sowie Vorsatzwörter sind vollständig und in der Reihenfolge der standesamtlichen Eintragung
anzugeben.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="core:ChristianName" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">christian name</xsd:documentation>
							<xsd:documentation xml:lang="de">Vorname</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="BirthPlace">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">birth place</xsd:documentation>
			<xsd:documentation xml:lang="de">Geburtsort</xsd:documentation>
			<xsd:documentation xml:lang="en">For French towns comprising several arrondissements, please give the number of the arrondissement (example: Paris 14). In the case of
Portuguese districts state also the parish and the local authority.</xsd:documentation>
			<xsd:documentation xml:lang="de">Bei französischen Städten mit mehreren Bezirken (Arrondissement) ist die Nummer des Bezirks anzugeben (Beispiel: PARIS 14). Bei
portugiesischen Orten sind auch Gemeinde (freguesia) und Kreis (conselho) anzugeben. Bei niederländischen Orten ist auch die Gemeinde
zu nennen.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="core:BirthPlace">
					<xsd:sequence>
						<xsd:element ref="core:City" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">city</xsd:documentation>
								<xsd:documentation xml:lang="de">Stadt</xsd:documentation>
								<xsd:documentation xml:lang="en">For French towns comprising several arrondissements, please give the number of the arrondissement (example: Paris 14). In the case of
Portuguese districts state also the parish and the local authority.</xsd:documentation>
								<xsd:documentation xml:lang="de">Bei französischen Städten mit mehreren Bezirken (Arrondissement) ist die Nummer des Bezirks anzugeben (Beispiel: PARIS 14). Bei
portugiesischen Orten sind auch Gemeinde (freguesia) und Kreis (conselho) anzugeben. Bei niederländischen Orten ist auch die Gemeinde
zu nennen.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="core:Country" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="de">Kennbuchstabe des Geburtslandes des Versicherten unter Verwendung der internationalen Kraftfahrzeugkenn-zeichen.</xsd:documentation>
								<xsd:documentation xml:lang="en">Identification of the name of a country or other geographical entity as specified in ISO 3166.
Note: Use ISO 3166 two alpha country code.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PensionReason" type="e210:PensionReasonType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">e210 reason for pension</xsd:documentation>
			<xsd:documentation xml:lang="de">Grund für die Rentenbewilligung</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="PensionReasonType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">e210 reason for pension</xsd:documentation>
			<xsd:documentation xml:lang="de">Grund für die Rentenbewilligung</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="age"/>
			<xsd:enumeration value="disability"/>
			<xsd:enumeration value="death"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ApplicationDenegation" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 5</xsd:documentation>
			<xsd:documentation xml:lang="en">e210 application denegation</xsd:documentation>
			<xsd:documentation xml:lang="de">e210 Ablehnung des Antrages</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Pension">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 6</xsd:documentation>
			<xsd:documentation xml:lang="en">e210 pension</xsd:documentation>
			<xsd:documentation xml:lang="de">e210 Rente</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e210:AccordingTo" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">according to</xsd:documentation>
						<xsd:documentation xml:lang="de">in Übereinstimmung mit</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:Abatement" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">abatement</xsd:documentation>
						<xsd:documentation xml:lang="de">Kürzung</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:AppointmentsConstraint" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">appointments constraint</xsd:documentation>
						<xsd:documentation xml:lang="de">Einschränkung von Doppelleistungen</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:AnnualMonthlyPaymentQuantity" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">monthly payments per year</xsd:documentation>
						<xsd:documentation xml:lang="de">monatliche Zahlungen im Jahr</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:Payments" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">payments</xsd:documentation>
						<xsd:documentation xml:lang="de">Zahlungen</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:SwedishInstitutions" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Swedish institutions</xsd:documentation>
						<xsd:documentation xml:lang="de">Schwedische Träger</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AccordingTo">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 6.1</xsd:documentation>
			<xsd:documentation xml:lang="en">according to</xsd:documentation>
			<xsd:documentation xml:lang="de">in Übereinstimmung mit</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e210:Article46Break1LetterACypherI" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">article 46 Break 1 letter a cypher I</xsd:documentation>
						<xsd:documentation xml:lang="de">Artikel 46 Absatz 1 Buchstabe a) Ziffer i)</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:Article46Break1LetterACypherII" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">article 46 Break 1 letter a cypher II</xsd:documentation>
						<xsd:documentation xml:lang="de">Artikel 46 Absatz 1 Buchstabe a) Ziffer ii)</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:Article46Break2" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">article 46 Break 2</xsd:documentation>
						<xsd:documentation xml:lang="de">Artikel 46 Absatz 2</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:Article51a" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">article 51 a</xsd:documentation>
						<xsd:documentation xml:lang="de">Artikel 51 a</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Article46Break1LetterACypherI" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">article 46 Break 1 letter a cypher I</xsd:documentation>
			<xsd:documentation xml:lang="de">Artikel 46 Absatz 1 Buchstabe a) Ziffer i)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Article46Break1LetterACypherII" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">article 46 Break 1 letter a cypher II</xsd:documentation>
			<xsd:documentation xml:lang="de">Artikel 46 Absatz 1 Buchstabe a) Ziffer ii)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Article46Break2" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">article 46 Break 2</xsd:documentation>
			<xsd:documentation xml:lang="de">Artikel 46 Absatz 2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Article51a" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">article 51 a</xsd:documentation>
			<xsd:documentation xml:lang="de">Artikel 51 a</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Abatement">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 6.2</xsd:documentation>
			<xsd:documentation xml:lang="en">abatement</xsd:documentation>
			<xsd:documentation xml:lang="de">Kürzung</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e210:FromDate" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">from date</xsd:documentation>
						<xsd:documentation xml:lang="de">Startdatum</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:EqualBenefits" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">equal benefits</xsd:documentation>
						<xsd:documentation xml:lang="de">Leistungen gleicher Art</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:UnEqualBenefits" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">unequal benefits</xsd:documentation>
						<xsd:documentation xml:lang="de">Leistungen ungleicher Art</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:OtherIncome" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">other income</xsd:documentation>
						<xsd:documentation xml:lang="de">andere Einkommen</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FromDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">from date</xsd:documentation>
			<xsd:documentation xml:lang="de">Startdatum</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EqualBenefits" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">equal benefits</xsd:documentation>
			<xsd:documentation xml:lang="de">Leistungen gleicher Art</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnEqualBenefits" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">unequal benefits</xsd:documentation>
			<xsd:documentation xml:lang="de">Leistungen ungleicher Art</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OtherIncome">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">other income</xsd:documentation>
			<xsd:documentation xml:lang="de">andere Einkommen</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e210:EmployeeOrSelfEmployed" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">employee or self employed</xsd:documentation>
						<xsd:documentation xml:lang="de">Arbeitnehmer oder Selbständiger</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:From" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">from</xsd:documentation>
						<xsd:documentation xml:lang="de">von</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EmployeeOrSelfEmployed" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">employee or self employed</xsd:documentation>
			<xsd:documentation xml:lang="de">Arbeitnehmer oder Selbständiger</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="From" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">from</xsd:documentation>
			<xsd:documentation xml:lang="de">von</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AppointmentsConstraint">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 6.3</xsd:documentation>
			<xsd:documentation xml:lang="en">appointments constraint</xsd:documentation>
			<xsd:documentation xml:lang="de">Einschränkung von Doppelleistungen</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e210:Article46aBreak3" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">article 46a Break 3</xsd:documentation>
						<xsd:documentation xml:lang="de">Artikel 46a Absatz 3</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:Article46c" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">article 46c</xsd:documentation>
						<xsd:documentation xml:lang="de">Artikel 46c</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:Article7" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">article 7</xsd:documentation>
						<xsd:documentation xml:lang="de">Artikel 7</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Article46aBreak3" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">article 46a Break 3</xsd:documentation>
			<xsd:documentation xml:lang="de">Artikel 46a Absatz 3</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Article46c">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">article 46c</xsd:documentation>
			<xsd:documentation xml:lang="de">Artikel 46c</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e210:UnEqualBenefits" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">unequal benefits</xsd:documentation>
						<xsd:documentation xml:lang="de">Leistungen ungleicher Art</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:OtherIncome" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">other income</xsd:documentation>
						<xsd:documentation xml:lang="de">andere Einkommen</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Article7" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">article 46c</xsd:documentation>
			<xsd:documentation xml:lang="de">Artikel 46c</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AnnualMonthlyPaymentQuantity" type="e210:AnnualMonthlyPaymentQuantityType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 6.4</xsd:documentation>
			<xsd:documentation xml:lang="en">monthly payments per year</xsd:documentation>
			<xsd:documentation xml:lang="de">monatliche Zahlungen im Jahr</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="AnnualMonthlyPaymentQuantityType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 6.4</xsd:documentation>
			<xsd:documentation xml:lang="en">monthly payments per year</xsd:documentation>
			<xsd:documentation xml:lang="de">monatliche Zahlungen im Jahr</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="12"/>
			<xsd:enumeration value="13"/>
			<xsd:enumeration value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Payments">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">payments</xsd:documentation>
			<xsd:documentation xml:lang="de">Zahlungen</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e210:Payment" minOccurs="0" maxOccurs="20">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">payment</xsd:documentation>
						<xsd:documentation xml:lang="de">Zahlung</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Payment">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e210:FromDate" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">from date</xsd:documentation>
						<xsd:documentation xml:lang="de">Startdatum</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:NormalMonthlySum" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">normal monthly sum</xsd:documentation>
						<xsd:documentation xml:lang="de">normale monatliche Summe</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:OptionalInsuranceMonthlySum" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">optional insurance monthly sum</xsd:documentation>
						<xsd:documentation xml:lang="de">monatliche Summe auf Grund freiwilliger Versicherung</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:MonthlySumBeforeTax" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">monthly sum before tax</xsd:documentation>
						<xsd:documentation xml:lang="de">monatliche Summe vor Steuer</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:MonthlySumAfterTax" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">monthly sum after tax</xsd:documentation>
						<xsd:documentation xml:lang="de">monatliche Summe nach Steuer</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="maxOccurs" type="xsd:string" fixed="3"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NormalMonthlySum" type="core:Amount">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 6.6</xsd:documentation>
			<xsd:documentation xml:lang="en">normal monthly sum</xsd:documentation>
			<xsd:documentation xml:lang="de">normale monatliche Summe</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OptionalInsuranceMonthlySum" type="core:Amount">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 6.7</xsd:documentation>
			<xsd:documentation xml:lang="en">optional insurance monthly sum</xsd:documentation>
			<xsd:documentation xml:lang="de">monatliche Summe auf Grund freiwilliger Versicherung</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonthlySumBeforeTax" type="core:Amount">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 6.8</xsd:documentation>
			<xsd:documentation xml:lang="en">monthly sum before tax</xsd:documentation>
			<xsd:documentation xml:lang="de">monatliche Summe vor Steuer</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonthlySumAfterTax" type="core:Amount">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 6.9</xsd:documentation>
			<xsd:documentation xml:lang="en">monthly sum after tax</xsd:documentation>
			<xsd:documentation xml:lang="de">monatliche Summe nach Steuer</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SwedishInstitutions">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 6.10</xsd:documentation>
			<xsd:documentation xml:lang="en">Swedish institutions</xsd:documentation>
			<xsd:documentation xml:lang="de">Schwedische Träger</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e210:MonthlySumPublicPension" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">MonthlySumPublicPension</xsd:documentation>
						<xsd:documentation xml:lang="de">monatliche Summe der Volksrente</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="e210:MonthlySumAdditionalPension" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">onthlySumAdditionalPension</xsd:documentation>
						<xsd:documentation xml:lang="de">monatliche Summe der Zusatzrente</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MonthlySumPublicPension" type="core:Amount">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">MonthlySumPublicPension</xsd:documentation>
			<xsd:documentation xml:lang="de">monatliche Summe der Volksrente</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonthlySumAdditionalPension" type="core:Amount">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">onthlySumAdditionalPension</xsd:documentation>
			<xsd:documentation xml:lang="de">monatliche Summe der Zusatzrente</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BirthDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">birthday</xsd:documentation>
			<xsd:documentation xml:lang="de">Geburtstag</xsd:documentation>
			<xsd:documentation xml:lang="en">The day and the month should be shown by two digits each and the year by four digits (example: 1 August 1921 = 01.08.1921).</xsd:documentation>
			<xsd:documentation xml:lang="de">Tag und Monat sind mit je zwei, das Jahr mit vier Ziffern wiederzugeben (Beispiel: 1. August 1921 = 01.08.1921).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Affinity" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">field 3.6</xsd:documentation>
			<xsd:documentation xml:lang="en">affinity</xsd:documentation>
			<xsd:documentation xml:lang="de">Verwandschaftsverhältnis</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Recours">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="e210:VoieRecours" minOccurs="0"/>
				<xsd:element ref="e210:DelaiRecours" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VoieRecours"/>
	<xsd:element name="DelaiRecours"/>
</xsd:schema>
