webavs-web/src/main/resources/xsd/acor/swap/xsd/eCH-0011-7-0f.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) von Martin Stingelin (Stingelin Informatik GmbH) bearbeitet -->
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by Martin Stingelin (Stingelin Informatik GmbH) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by BITUSER (Bundesamt für Informatik und Telekommunikation) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044-f/3" xmlns:eCH-0006="http://www.ech.ch/xmlns/eCH-0006/2" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007-f/5" xmlns:eCH-0008="http://www.ech.ch/xmlns/eCH-0008-f/3" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010-f/5" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011-f/7" xmlns:eCH-0135="http://www.ech.ch/xmlns/eCH-0135/1" targetNamespace="http://www.ech.ch/xmlns/eCH-0011-f/7" elementFormDefault="qualified" attributeFormDefault="unqualified" version="7.0">
	<xs:annotation>
		<xs:documentation xml:lang="de">Ausgabedatum: 07.09.2012</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0006/2" schemaLocation="eCH-0006-2-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007-f/5" schemaLocation="eCH-0007-5-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0008-f/3" schemaLocation="eCH-0008-3-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010-f/5" schemaLocation="eCH-0010-5-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044-f/3" schemaLocation="eCH-0044-3-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0135/1" schemaLocation="eCH-0135-1-0.xsd"/>
	<xs:complexType name="reportedPersonType">
		<xs:sequence minOccurs="0">
			<xs:element name="person" type="eCH-0011:personType" minOccurs="0"/>
			<xs:element name="anyPerson" type="eCH-0011:anyPersonType" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="hasMainResidence" type="eCH-0011:mainResidenceType" minOccurs="0"/>
				<xs:element name="hasSecondaryResidence" type="eCH-0011:secondaryResidenceType" minOccurs="0"/>
				<xs:element name="hasOtherResidence" type="eCH-0011:otherResidenceType" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personType">
		<xs:sequence minOccurs="0">
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType" minOccurs="0"/>
			<xs:element name="coredata" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="originalName" type="eCH-0044:baseNameType" minOccurs="0"/>
						<xs:element name="alliancePartnershipName" type="eCH-0044:baseNameType" minOccurs="0"/>
						<xs:element name="aliasName" type="eCH-0044:baseNameType" minOccurs="0"/>
						<xs:element name="otherName" type="eCH-0044:baseNameType" minOccurs="0"/>
						<xs:element name="callName" type="eCH-0044:baseNameType" minOccurs="0"/>
						<xs:element name="placeOfBirth" type="eCH-0011:birthplaceType" minOccurs="0"/>
						<xs:element name="dateOfDeath" type="xs:date" minOccurs="0"/>
						<xs:element name="maritalData" type="eCH-0011:maritalDataType" minOccurs="0"/>
						<xs:element name="nationality" type="eCH-0011:nationalityType" minOccurs="0"/>
						<xs:element name="contact" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:choice minOccurs="0">
										<xs:element name="personIdentification" type="eCH-0044:personIdentificationType" minOccurs="0"/>
										<xs:element name="personIdentificationPartner" type="eCH-0044:personIdentificationLightType" minOccurs="0"/>
										<xs:element name="partnerIdOrganisation" type="eCH-0011:partnerIdOrganisationType" minOccurs="0"/>
									</xs:choice>
									<xs:element name="contactAddress" type="eCH-0010:mailAddressType" minOccurs="0"/>
									<xs:element name="contactValidTill" type="xs:date" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="languageOfCorrespondance" type="eCH-0011:languageType" minOccurs="0"/>
						<xs:element name="religion" type="eCH-0011:religionType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="anyPersonType">
		<xs:choice minOccurs="0">
			<xs:element name="swiss" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="placeOfOrigin" type="eCH-0011:placeOfOriginType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="foreigner" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="residencePermit" type="eCH-0006:residencePermitType" nillable="true" minOccurs="0"/>
						<xs:element name="residencePermitTill" type="xs:date" minOccurs="0"/>
						<xs:element name="nameOnPassport" type="eCH-0044:baseNameType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="languageType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="religionType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="nationalityType">
		<xs:sequence minOccurs="0">
			<xs:element name="nationalityStatus" type="eCH-0011:nationalityStatusType" minOccurs="0"/>
			<xs:element name="country" type="eCH-0008:countryType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="nationalityStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="placeOfOriginType">
		<xs:sequence minOccurs="0">
			<xs:element name="originName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="canton" type="eCH-0007:cantonAbbreviationType" minOccurs="0"/>
			<xs:element name="placeOfOriginId" type="eCH-0135:placeOfOriginIdType" minOccurs="0"/>
			<xs:element name="historyMunicipalityId" type="eCH-0007:historyMunicipalityId" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="maritalDataType">
		<xs:sequence minOccurs="0">
			<xs:element name="maritalStatus" type="eCH-0011:maritalStatusType" minOccurs="0"/>
			<xs:element name="dateOfMaritalStatus" type="xs:date" minOccurs="0"/>
			<xs:element name="separation" type="eCH-0011:separationType" minOccurs="0"/>
			<xs:element name="dateOfSeparation" type="xs:date" minOccurs="0"/>
			<xs:element name="separationTill" type="xs:date" minOccurs="0"/>
			<xs:element name="cancelationReason" type="eCH-0011:partnerShipAbolitionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="partnerShipAbolitionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="maritalStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="separationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="mainResidenceType">
		<xs:sequence minOccurs="0">
			<xs:element name="mainResidence" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
						<xs:element name="arrivalDate" type="xs:date" minOccurs="0"/>
						<xs:element name="comesFrom" type="eCH-0011:destinationType" minOccurs="0"/>
						<xs:element name="dwellingAddress" type="eCH-0011:dwellingAddressType" minOccurs="0"/>
						<xs:element name="departureDate" type="xs:date" minOccurs="0"/>
						<xs:element name="goesTo" type="eCH-0011:destinationType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="secondaryResidence" type="eCH-0007:swissMunicipalityType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="secondaryResidenceType">
		<xs:sequence minOccurs="0">
			<xs:element name="mainResidence" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
			<xs:element name="secondaryResidence" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
						<xs:element name="arrivalDate" type="xs:date" minOccurs="0"/>
						<xs:element name="comesFrom" type="eCH-0011:destinationType" minOccurs="0"/>
						<xs:element name="dwellingAddress" type="eCH-0011:dwellingAddressType" minOccurs="0"/>
						<xs:element name="departureDate" type="xs:date" minOccurs="0"/>
						<xs:element name="goesTo" type="eCH-0011:destinationType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="otherResidenceType">
		<xs:sequence minOccurs="0">
			<xs:element name="secondaryResidenceInformation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
						<xs:element name="arrivalDate" type="xs:date" minOccurs="0"/>
						<xs:element name="comesFrom" type="eCH-0011:destinationType" minOccurs="0"/>
						<xs:element name="dwellingAddress" type="eCH-0011:dwellingAddressType" minOccurs="0"/>
						<xs:element name="departureDate" type="xs:date" minOccurs="0"/>
						<xs:element name="goesTo" type="eCH-0011:destinationType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="destinationType">
		<xs:sequence minOccurs="0">
			<xs:choice minOccurs="0">
				<xs:element name="unknown" type="eCH-0011:unknownType" minOccurs="0"/>
				<xs:element name="swissTown" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
				<xs:element name="foreignCountry" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="country" type="eCH-0008:countryType" minOccurs="0"/>
							<xs:element name="town" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:whiteSpace value="collapse"/>
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="mailAddress" type="eCH-0010:addressInformationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dwellingAddressType">
		<xs:sequence minOccurs="0">
			<xs:choice minOccurs="0">
				<xs:sequence minOccurs="0">
					<xs:element name="EGID" type="eCH-0011:EGIDType" minOccurs="0"/>
					<xs:choice minOccurs="0">
						<xs:element name="EWID" type="eCH-0011:EWIDType" minOccurs="0"/>
						<xs:element name="householdID" type="eCH-0011:householdIDType" minOccurs="0"/>
					</xs:choice>
				</xs:sequence>
				<xs:element name="withoutEGID" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="householdID" type="xs:token" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="address" type="eCH-0010:swissAddressInformationType" minOccurs="0"/>
			<xs:element name="typeOfHousehold" type="eCH-0011:typeOfHouseholdType" minOccurs="0"/>
			<xs:element name="movingDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="householdIDType">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="typeOfHouseholdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yesNoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EGIDType">
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EWIDType">
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="birthplaceType">
		<xs:choice minOccurs="0">
			<xs:element name="unknown" type="eCH-0011:unknownType" minOccurs="0"/>
			<xs:element name="swissTown" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="country" type="eCH-0008:countryType" minOccurs="0"/>
						<xs:element name="municipality" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="foreignCountry" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="country" type="eCH-0008:countryType"/>
						<xs:element name="foreignBirthTown" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:whiteSpace value="collapse"/>
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="swissMunicipalityWithoutBFS">
		<xs:sequence minOccurs="0">
			<xs:element name="municipalityId" type="eCH-0007:municipalityIdType" minOccurs="0"/>
			<xs:element name="municipalityName" type="eCH-0007:municipalityNameType" minOccurs="0"/>
			<xs:element name="cantonAbbreviation" type="eCH-0007:cantonAbbreviationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="partnerIdOrganisationType">
		<xs:sequence minOccurs="0">
			<xs:element name="localPersonId" type="eCH-0044:namedPersonIdType" minOccurs="0"/>
			<xs:element name="OtherPersonId" type="eCH-0044:namedPersonIdType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="unknownType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="personRoot">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reportedPerson" type="eCH-0011:reportedPersonType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
