webavs-web/src/main/resources/wsdl/wirr/xsd/ebsv-c032/1/ebsv-c032-000003-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebsv-c001="http://www.bsv.admin.ch/xmlns/ebsv-c001/1" xmlns:ebsv-c007="http://www.bsv.admin.ch/xmlns/ebsv-c007/1" xmlns:ebsv-c014="http://www.bsv.admin.ch/xmlns/ebsv-c014/1" xmlns:ebsv-c015="http://www.bsv.admin.ch/xmlns/ebsv-c015/1" xmlns:ebsv-c016="http://www.bsv.admin.ch/xmlns/ebsv-c016/1" xmlns:ebsv-c018="http://www.bsv.admin.ch/xmlns/ebsv-c018/1" xmlns:ebsv-c019="http://www.bsv.admin.ch/xmlns/ebsv-c019/1" xmlns:ebsv-c027="http://www.bsv.admin.ch/xmlns/ebsv-c027/1" xmlns:ebsv-c028="http://www.bsv.admin.ch/xmlns/ebsv-c028/1" xmlns:ebsv-c030="http://www.bsv.admin.ch/xmlns/ebsv-c030/1" xmlns:ebsv-c032="http://www.bsv.admin.ch/xmlns/ebsv-c032/1" targetNamespace="http://www.bsv.admin.ch/xmlns/ebsv-c032/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0">
	<!-- Ce fichier est issu du fichier TRAX annonceCI-types.xsd -->
	<xs:include schemaLocation="../../ebsv-c032/1/ebsv-c032-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c001/1" schemaLocation="../../ebsv-c001/1/ebsv-c001-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c007/1" schemaLocation="../../ebsv-c007/1/ebsv-c007-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c014/1" schemaLocation="../../ebsv-c014/1/ebsv-c014-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c015/1" schemaLocation="../../ebsv-c015/1/ebsv-c015-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c016/1" schemaLocation="../../ebsv-c016/1/ebsv-c016-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c018/1" schemaLocation="../../ebsv-c018/1/ebsv-c018-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c019/1" schemaLocation="../../ebsv-c019/1/ebsv-c019-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c027/1" schemaLocation="../../ebsv-c027/1/ebsv-c027-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c028/1" schemaLocation="../../ebsv-c028/1/ebsv-c028-000000-1-0.xsd"/>
	<xs:import namespace="http://www.bsv.admin.ch/xmlns/ebsv-c030/1" schemaLocation="../../ebsv-c030/1/ebsv-c030-000000-1-0.xsd"/>
	<xs:simpleType name="TCodeADS">
		<xs:annotation>
			<xs:documentation>Code ADS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:pattern value="[ADS]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="KontrollMeldung_Type">
		<xs:annotation>
			<xs:documentation>Code application 39</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ListeFolgerecordNr" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FolgerecordNr" type="ebsv-c027:FolgerecordNr_Type" nillable="true" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="VorzeichenCode" type="ebsv-c018:SchluesselzahlStornoeintrag_Type"/>
			<xs:element name="TotalEinkommen" type="xs:unsignedInt"/>
			<xs:element name="AnzahlIKEintragung" type="xs:unsignedShort"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IKMeldung_Type">
		<xs:annotation>
			<xs:documentation>Paquet codes application 38 + 39: transmission du CI</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Auftrag">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KasseZweigstelleAuftraggebend" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
						<xs:element name="KasseneigenerHinweisAuftragsAK" type="ebsv-c030:KasseneigenerHinweis_Type"/>
						<xs:element name="MZRSchluesselzahl" type="ebsv-c028:MZRSchluesselzahl_weakType" nillable="true"/>
						<xs:choice minOccurs="0">
							<xs:element name="ZIK">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LeistungsberechtigtePerson">
											<xs:annotation>
												<xs:documentation>Ayant droit</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Versichertennummer" type="ebsv-c001:Versichertennummer11oder13Stellen_Type"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Abschlussdatum" type="ebsv-c007:AHVDatumJM_Type"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="IKKopieAuszug">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="temporaer" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="LeistungsberechtigtePerson">
														<xs:annotation>
															<xs:documentation>Ayant droit</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Versichertennummer" type="ebsv-c001:Versichertennummer11oder13Stellen_Type"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Splitting">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VNrEhepartner" type="ebsv-c001:Versichertennummer11oder13Stellen_Type"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:element name="Auftragsdatum" type="ebsv-c007:AHVDatumJMT_Type" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IKKopf">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KasseZweigstelleIKFuehrend" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
						<xs:element name="Versichertennummer" type="ebsv-c001:Versichertennummer8bis13Stellen_Type"/>
						<xs:element name="VersichertenAngaben" type="ebsv-c032:TVersicherteAngabenFakultativ_WeakName" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EintragungIKMeldung" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ebsv-c032:TEintragungIKMinDat">
							<xs:sequence>
								<xs:element name="CodeADS" nillable="true" minOccurs="0">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="ebsv-c032:TCodeADS"/>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="Erwerbszweig" type="ebsv-c019:Erwerbszweig_Type" nillable="true" minOccurs="0"/>
								<xs:element name="Arbeitgeber" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Informationsteil">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="42"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ArbeitgebersPostleitzahl" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="PLZ" nillable="true" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="4"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="PLZKomplementaer" nillable="true" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ZusatzInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NachtragsIK" type="xs:unsignedByte"/>
						<xs:element name="Splitting" type="xs:unsignedByte"/>
						<xs:element name="Uebermittlungsdatum" type="ebsv-c007:AHVDatumJMT_Type"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KontrollMeldung" type="ebsv-c032:KontrollMeldung_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IKStatistikMeldung_Type">
		<xs:annotation>
			<xs:documentation>Paquet codes application 31 + 32 + 34: annonce des CI de l'année</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelleIKFuehrend" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Verarbeitungsjahr" type="ebsv-c007:AHVDatumJ_Type"/>
			<xs:element name="StandIKStatistikVorher" type="ebsv-c032:TStandIKStatistik">
				<xs:annotation>
					<xs:documentation>Code application 31</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Aufzeichnungen" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Code aplication 32</xs:documentation>
						</xs:annotation>
						<xs:element name="IKKopf">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Versichertennummer" type="ebsv-c001:Versichertennummer11oder13StellenOderUnbekannt_Type" minOccurs="0"/>
									<xs:element name="AnzahlVersicherte" type="ebsv-c014:Short2stellig_Type" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="EintragungIKMeldung" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ebsv-c032:TEintragungIKMinDat">
										<xs:sequence>
											<xs:element name="Verarbeitungsjahr" type="ebsv-c007:AHVDatumJ_Type" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StandIKStatistikNacher">
				<xs:annotation>
					<xs:documentation>Code application 34</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ebsv-c032:TStandIKStatistik">
							<xs:sequence>
								<xs:element name="LetzteMeldung">
									<xs:annotation>
										<xs:documentation xml:lang="de">
                                            1 = Zwischenmeldung 2 = Letzte Meldung des Jahres
                                        </xs:documentation>
										<xs:documentation xml:lang="fr">
                                            1=Annonce intercalaire 2=Dernière annonce de l'année
                                        </xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:short">
											<xs:minInclusive value="1"/>
											<xs:maxInclusive value="2"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TStandIKStatistik">
		<xs:annotation>
			<xs:documentation>Partie commune du code application 31 et 34</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VorzeichenCode" type="ebsv-c018:SchluesselzahlStornoeintrag_Type"/>
			<xs:element name="SummeEinkommen" type="xs:unsignedLong">
				<xs:annotation>
					<xs:documentation>Total des revenus inscrits jusqu'ici</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TEintragungIKMinDat">
		<xs:annotation>
			<xs:documentation>Partie commune du code application 32 et 38</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ListeFolgerecordNr" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FolgerecordNr" type="ebsv-c027:FolgerecordNr_Type" nillable="true" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AKAbrechnungsNr" type="ebsv-c032:AKAbrechnungsNr_Type" nillable="true"/>
			<xs:element name="SchluesselzahlStornoeintrag" type="ebsv-c018:SchluesselzahlStornoeintrag_Type" nillable="true"/>
			<xs:element name="SchluesselzahlBeitragsart" type="ebsv-c018:SchluesselzahlBeitragsart_Type" nillable="true"/>
			<xs:element name="BesondereSchluesselzahlIK" type="ebsv-c018:BesondereSchluesselzahlIK_Type" nillable="true" minOccurs="0"/>
			<xs:element name="BetreuungsgutschriftBruchteil" type="ebsv-c018:BetreuungsgutschriftBruchteil_Type" nillable="true" minOccurs="0"/>
			<xs:element name="SonderfallcodeIK" type="ebsv-c018:SonderfallcodeIK_Type" nillable="true" minOccurs="0"/>
			<xs:element name="Beitragsdauer">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Anfangsmonat">
							<xs:simpleType>
								<xs:restriction base="xs:unsignedByte">
									<xs:maxInclusive value="99"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Endmonat">
							<xs:simpleType>
								<xs:restriction base="xs:unsignedByte">
									<xs:maxInclusive value="99"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Beitragsjahr" type="ebsv-c007:AHVDatumJ_Type"/>
			<xs:element name="Einkommen" type="ebsv-c015:BetragFR_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ALVEntschaedigungenMeldung_Type">
		<xs:annotation>
			<xs:documentation>
                Paquet codes application 31 + 32 + 34: Annonce des indemnités assurance-chômage pour l'inscription au CI
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelleIKFuehrend" type="ebsv-c016:IrgendeineZweigstelle_weakType"/>
			<xs:element name="Verarbeitungsjahr" type="ebsv-c007:AHVDatumJ_Type"/>
			<xs:element name="Aufzeichnungen" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Code aplication 32</xs:documentation>
						</xs:annotation>
						<xs:element name="IKKopf">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Versichertennummer" type="ebsv-c001:Versichertennummer11oder13StellenOderUnbekannt_Type"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="EintragungIKMeldung" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ListeFolgerecordNr" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="FolgerecordNr" type="ebsv-c027:FolgerecordNr_Type" nillable="true" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="AKAbrechnungsNr" type="ebsv-c032:AKAbrechnungsNr_Type" nillable="true"/>
									<xs:element name="SchluesselzahlStornoeintrag" type="ebsv-c018:SchluesselzahlStornoeintrag_Type" nillable="true"/>
									<xs:element name="SchluesselzahlBeitragsart" type="ebsv-c018:SchluesselzahlBeitragsart_Type" nillable="true"/>
									<xs:element name="Beitragsdauer">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Anfangsmonat">
													<xs:simpleType>
														<xs:restriction base="xs:unsignedByte">
															<xs:maxInclusive value="99"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Endmonat">
													<xs:simpleType>
														<xs:restriction base="xs:unsignedByte">
															<xs:maxInclusive value="99"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Beitragsjahr" type="ebsv-c007:AHVDatumJ_Type"/>
									<xs:element name="Einkommen" type="ebsv-c015:BetragFR_Type"/>
									<xs:element name="Verarbeitungsjahr" type="ebsv-c007:AHVDatumJ_Type" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StandIKStatistikNacher">
				<xs:annotation>
					<xs:documentation>Code application 34</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VorzeichenCode" type="ebsv-c018:SchluesselzahlStornoeintrag_Type"/>
						<xs:element name="SummeEntschaedigungen" type="xs:unsignedLong">
							<xs:annotation>
								<xs:documentation>Total des revenus inscrits jusqu'ici</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
