webavs-api/src/main/resources/wsdl/webAvsComptabiliteService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://comptabilite.ws.orion.globaz.ch/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://comptabilite.ws.orion.globaz.ch/" name="WebAvsComptabiliteServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://comptabilite.ws.orion.globaz.ch/" schemaLocation="http://localhost:9030/webavs/ws/webAvsComptabiliteService?xsd=1"/>
</xsd:schema>
</types>
<message name="downloadFile">
<part name="parameters" element="tns:downloadFile"/>
</message>
<message name="downloadFileResponse">
<part name="parameters" element="tns:downloadFileResponse"/>
</message>
<message name="listerApercuCompteAnnexe">
<part name="parameters" element="tns:listerApercuCompteAnnexe"/>
</message>
<message name="listerApercuCompteAnnexeResponse">
<part name="parameters" element="tns:listerApercuCompteAnnexeResponse"/>
</message>
<message name="genererExtraitCompteAnnexe">
<part name="parameters" element="tns:genererExtraitCompteAnnexe"/>
</message>
<message name="genererExtraitCompteAnnexeResponse">
<part name="parameters" element="tns:genererExtraitCompteAnnexeResponse"/>
</message>
<portType name="WebAvsComptabiliteService">
<operation name="downloadFile">
<input message="tns:downloadFile"/>
<output message="tns:downloadFileResponse"/>
</operation>
<operation name="listerApercuCompteAnnexe">
<input message="tns:listerApercuCompteAnnexe"/>
<output message="tns:listerApercuCompteAnnexeResponse"/>
</operation>
<operation name="genererExtraitCompteAnnexe">
<input message="tns:genererExtraitCompteAnnexe"/>
<output message="tns:genererExtraitCompteAnnexeResponse"/>
</operation>
</portType>
<binding name="WebAvsComptabiliteServiceImplPortBinding" type="tns:WebAvsComptabiliteService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="downloadFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listerApercuCompteAnnexe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="genererExtraitCompteAnnexe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebAvsComptabiliteServiceImplService">
<port name="WebAvsComptabiliteServiceImplPort" binding="tns:WebAvsComptabiliteServiceImplPortBinding">
<soap:address location="http://localhost:9030/webavs/ws/webAvsComptabiliteService"/>
</port>
</service>
</definitions>