webavs-api/src/main/resources/wsdl/webAvsCotisationsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cotisation.ws.orion.globaz.ch/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cotisation.ws.orion.globaz.ch/" name="WebAvsCotisationsServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://cotisation.ws.orion.globaz.ch/" schemaLocation="http://localhost:9030/webavs/ws/webAvsCotisationsService?xsd=1"/>
</xsd:schema>
</types>
<message name="listerMassesActuelles">
<part name="parameters" element="tns:listerMassesActuelles"/>
</message>
<message name="listerMassesActuellesResponse">
<part name="parameters" element="tns:listerMassesActuellesResponse"/>
</message>
<message name="executerPreRemplissageDan">
<part name="parameters" element="tns:executerPreRemplissageDan"/>
</message>
<message name="executerPreRemplissageDanResponse">
<part name="parameters" element="tns:executerPreRemplissageDanResponse"/>
</message>
<message name="genererDocumentPucsLisible">
<part name="parameters" element="tns:genererDocumentPucsLisible"/>
</message>
<message name="genererDocumentPucsLisibleResponse">
<part name="parameters" element="tns:genererDocumentPucsLisibleResponse"/>
</message>
<message name="findTauxAssuranceForCotisation">
<part name="parameters" element="tns:findTauxAssuranceForCotisation"/>
</message>
<message name="findTauxAssuranceForCotisationResponse">
<part name="parameters" element="tns:findTauxAssuranceForCotisationResponse"/>
</message>
<message name="WebAvsException">
<part name="fault" element="tns:WebavsException"/>
</message>
<message name="findDecompteMois">
<part name="parameters" element="tns:findDecompteMois"/>
</message>
<message name="findDecompteMoisResponse">
<part name="parameters" element="tns:findDecompteMoisResponse"/>
</message>
<portType name="WebAvsCotisationsService">
<operation name="listerMassesActuelles">
<input message="tns:listerMassesActuelles"/>
<output message="tns:listerMassesActuellesResponse"/>
</operation>
<operation name="executerPreRemplissageDan">
<input message="tns:executerPreRemplissageDan"/>
<output message="tns:executerPreRemplissageDanResponse"/>
</operation>
<operation name="genererDocumentPucsLisible">
<input message="tns:genererDocumentPucsLisible"/>
<output message="tns:genererDocumentPucsLisibleResponse"/>
</operation>
<operation name="findTauxAssuranceForCotisation">
<input message="tns:findTauxAssuranceForCotisation"/>
<output message="tns:findTauxAssuranceForCotisationResponse"/>
<fault message="tns:WebAvsException" name="WebAvsException"/>
</operation>
<operation name="findDecompteMois">
<input message="tns:findDecompteMois"/>
<output message="tns:findDecompteMoisResponse"/>
</operation>
</portType>
<binding name="WebAvsCotisationsServiceImplPortBinding" type="tns:WebAvsCotisationsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listerMassesActuelles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="executerPreRemplissageDan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="genererDocumentPucsLisible">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findTauxAssuranceForCotisation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebAvsException">
<soap:fault name="WebAvsException" use="literal"/>
</fault>
</operation>
<operation name="findDecompteMois">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebAvsCotisationsServiceImplService">
<port name="WebAvsCotisationsServiceImplPort" binding="tns:WebAvsCotisationsServiceImplPortBinding">
<soap:address location="http://localhost:9030/webavs/ws/webAvsCotisationsService"/>
</port>
</service>
</definitions>