webavs-api/src/main/resources/wsdl/webAvsAffiliationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://affiliation.ws.orion.globaz.ch/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://affiliation.ws.orion.globaz.ch/" name="WebAvsAffiliationServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://affiliation.ws.orion.globaz.ch/" schemaLocation="http://localhost:9030/webavs/ws/webAvsAffiliationService?xsd=1"/>
</xsd:schema>
</types>
<message name="findCategorieAffiliation">
<part name="parameters" element="tns:findCategorieAffiliation"/>
</message>
<message name="findCategorieAffiliationResponse">
<part name="parameters" element="tns:findCategorieAffiliationResponse"/>
</message>
<message name="findActiveSuiviCaisse">
<part name="parameters" element="tns:findActiveSuiviCaisse"/>
</message>
<message name="findActiveSuiviCaisseResponse">
<part name="parameters" element="tns:findActiveSuiviCaisseResponse"/>
</message>
<message name="findAdresseCourrierAffilie">
<part name="parameters" element="tns:findAdresseCourrierAffilie"/>
</message>
<message name="findAdresseCourrierAffilieResponse">
<part name="parameters" element="tns:findAdresseCourrierAffilieResponse"/>
</message>
<message name="WebAvsException">
<part name="fault" element="tns:WebavsException"/>
</message>
<message name="checkAffiliationAndUpdateModeDeclaration">
<part name="parameters" element="tns:checkAffiliationAndUpdateModeDeclaration"/>
</message>
<message name="checkAffiliationAndUpdateModeDeclarationResponse">
<part name="parameters" element="tns:checkAffiliationAndUpdateModeDeclarationResponse"/>
</message>
<portType name="WebAvsAffiliationService">
<operation name="findCategorieAffiliation">
<input message="tns:findCategorieAffiliation"/>
<output message="tns:findCategorieAffiliationResponse"/>
</operation>
<operation name="findActiveSuiviCaisse">
<input message="tns:findActiveSuiviCaisse"/>
<output message="tns:findActiveSuiviCaisseResponse"/>
</operation>
<operation name="findAdresseCourrierAffilie">
<input message="tns:findAdresseCourrierAffilie"/>
<output message="tns:findAdresseCourrierAffilieResponse"/>
<fault message="tns:WebAvsException" name="WebAvsException"/>
</operation>
<operation name="checkAffiliationAndUpdateModeDeclaration">
<input message="tns:checkAffiliationAndUpdateModeDeclaration"/>
<output message="tns:checkAffiliationAndUpdateModeDeclarationResponse"/>
<fault message="tns:WebAvsException" name="WebAvsException"/>
</operation>
</portType>
<binding name="WebAvsAffiliationServiceImplPortBinding" type="tns:WebAvsAffiliationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findCategorieAffiliation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findActiveSuiviCaisse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAdresseCourrierAffilie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebAvsException">
<soap:fault name="WebAvsException" use="literal"/>
</fault>
</operation>
<operation name="checkAffiliationAndUpdateModeDeclaration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebAvsException">
<soap:fault name="WebAvsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WebAvsAffiliationServiceImplService">
<port name="WebAvsAffiliationServiceImplPort" binding="tns:WebAvsAffiliationServiceImplPortBinding">
<soap:address location="http://localhost:9030/webavs/ws/webAvsAffiliationService"/>
</port>
</service>
</definitions>