webavs-web/src/main/resources/xsd/acorV4/xsd/splitting-interne-out.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by Bundesamt für Informatik und Telekommunikation (Bundesamt für Informatik und Telekommunikation) -->
<!--W3C Schema generated by XMLSpy v2013 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:splitting_interne="http://www.zas.admin.ch/xmlns/splitting-interne-out/0"
		   targetNamespace="http://www.zas.admin.ch/xmlns/splitting-interne-out/0"
		   elementFormDefault="qualified"
		   attributeFormDefault="unqualified">
	<xs:element name="dossier" type="splitting_interne:Dossier"/>
	<xs:simpleType name="GenreCotisation">
		<xs:restriction base="xs:int">
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeSplitting">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeExtourne">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Mandat">
		<xs:sequence>
			<xs:element name="inscription" type="splitting_interne:Inscription" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="fin" type="xs:gYear" use="required"/>
		<xs:attribute name="debut" type="xs:gYear" use="required"/>
	</xs:complexType>
	<xs:complexType name="Inscription">
		<xs:sequence>
			<xs:element name="anneeCotisation" type="xs:gYear"/>
			<xs:element name="montant">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="genreCotisation" type="splitting_interne:GenreCotisation"/>
			<xs:element name="codeExtourne" type="splitting_interne:CodeExtourne"/>
			<xs:element name="codeSplitting" type="splitting_interne:CodeSplitting"/>
			<xs:element name="numAffilie" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="dst" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Dossier">
		<xs:sequence>
			<xs:element name="assure" type="splitting_interne:Assure"/>
			<xs:element name="conjoint" type="splitting_interne:Assure"/>
		</xs:sequence>
		<xs:attribute name="mariage" type="xs:date" use="required"/>
		<xs:attribute name="divorce" type="xs:date" use="required"/>
		<xs:attribute name="conjoint" type="xs:string" use="required"/>
		<xs:attribute name="assure" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Assure">
		<xs:sequence>
			<xs:element name="mandat" type="splitting_interne:Mandat" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="navs" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
