webavs-web/src/main/resources/wsdl/wirr/xsd/ebsv-c024/1/ebsv-c024-000000-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebsv-c024="http://www.bsv.admin.ch/xmlns/ebsv-c024/1" targetNamespace="http://www.bsv.admin.ch/xmlns/ebsv-c024/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0">
	<!-- Ce fichier est issu du fichier TRAX Prestations9-types.xsd -->
	<xs:simpleType name="AnzahlErziehungsgutschrift9_Type">
		<xs:annotation>
			<xs:documentation xml:lang="fr">Nombre de bonifications pour tâches d'éducation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="44"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AngerechneteEinkommen_Type">
		<xs:annotation>
			<xs:documentation xml:lang="fr">
                Code revenus pris en compte pour les bases de calcul purement 9e
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EinkommensgrenzenCode_Type">
		<xs:annotation>
			<xs:documentation>
                Code limites de revenu, REO soumis aux limites de revenu: oui/non ? (purement 9e)
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="MinimalgarantieCode_Type">
		<xs:annotation>
			<xs:documentation>REO en tant que minimum garanti: oui/non (purement 9e)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="OrdentlicheAHVRente9_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Leistungsart: Ordentliche AHV-Rente (9e)</xs:documentation>
			<xs:documentation xml:lang="fr">Rente ordinaire de l'AVS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation xml:lang="de">ordentliche Altersrente (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">Rente ordinaire de vieillesse (AVS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation xml:lang="de">ordentliche Witwen-/Wittwerrente (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">Rente ordinaire de veuve ou de veuf (AVS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation xml:lang="de">ordentliche Waisenrente (Vater) (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">Rente ordinaire d'orphelin de père (AVS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation xml:lang="de">ordentliche Waisenrente (Mutter) (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">Rente ordinaire d'orphelin de mère (AVS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="16">
				<xs:annotation>
					<xs:documentation xml:lang="de">ordentliche Weisenrente 60% (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">Rente ordinaire d'orphelin 60% (AVS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="33">
				<xs:annotation>
					<xs:documentation xml:lang="de">ordentliche Zusatzrente für den Ehegatten (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">
                        Rente complémentaire ordinaire en faveur du conjoint (AVS)
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="34">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kinderrente (zur Rente des Vaters) (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">
                        Rente ordinaire pour enfant liée à la rente du père (AVS)
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36">
				<xs:annotation>
					<xs:documentation xml:lang="de">
                        ordentliche Kinderrente (zur Rente der Mutter) (AHV)
                    </xs:documentation>
					<xs:documentation xml:lang="fr">
                        Rente ordinaire pour enfant liée à la rente de la mère (AVS)
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrdentlicheIVRente9_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Lesitungsart: Ordentliche IV-Rente (9e)</xs:documentation>
			<xs:documentation xml:lang="fr">Rente ordinaire de l'AI</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:enumeration value="50">
				<xs:annotation>
					<xs:documentation xml:lang="de">ordentliche Invalidenrente (IV)</xs:documentation>
					<xs:documentation xml:lang="fr">Rente ordinaire d'invalidité (AI)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zusatzrente für den Ehegatten (IV)</xs:documentation>
					<xs:documentation xml:lang="fr">
                        Rente complémentaire ordinaire en faveur du conjoint (AI)
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="54">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kinderrente (zur Rente des Vaters) (IV)</xs:documentation>
					<xs:documentation xml:lang="fr">Rente pour enfant liée à la rente du père (AI)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="55"/>
			<xs:enumeration value="56">
				<xs:annotation>
					<xs:documentation xml:lang="de">
                        ordentliche Kinderrente (zur Rente der Mutter) (IV)
                    </xs:documentation>
					<xs:documentation xml:lang="fr">
                        Rente ordinaire pour enfant liée à la rente de la mère (AI)
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AusserordentlicheAHVRente9_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Leistungsart: Ausserordentliche AHV-Rente (9e)</xs:documentation>
			<xs:documentation xml:lang="fr">Rente extraordinaire de l'AVS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:enumeration value="20">
				<xs:annotation>
					<xs:documentation xml:lang="de">ausserordentliche Altersrente (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">Rente extraordinaire de vieillesse (AVS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23">
				<xs:annotation>
					<xs:documentation xml:lang="de">ausserordentliche Witwen-/Wittwerrente (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">Rente extraordinaire de veuve ou de veuf (AVS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="24">
				<xs:annotation>
					<xs:documentation xml:lang="de">ausserordentliche Waisenrente (Vater) (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">Rente extraordinaire d'orphelin de père (AVS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="25">
				<xs:annotation>
					<xs:documentation xml:lang="de">ausserordentliche Waisenrente (Mutter) (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">Rente extraordinaire d'orphelin de mère (AVS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="26">
				<xs:annotation>
					<xs:documentation xml:lang="de">ausserordentliche Weisenrente 60% (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">Rente extraordinaire d'orphelin 60% (AVS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46">
				<xs:annotation>
					<xs:documentation xml:lang="de">
                        ausserordentliche Kinderrente (zur Rente der Mutter) (AHV)
                    </xs:documentation>
					<xs:documentation xml:lang="fr">
                        Rente extraordinaire pour enfant liée à la rente de la mère (AVS)
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AusserordentlicheIVRente9_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Leistungsart: Ausserordentliche IV-Rente (9e)</xs:documentation>
			<xs:documentation xml:lang="fr">Rente extraordinaire de l'AI</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:enumeration value="70">
				<xs:annotation>
					<xs:documentation xml:lang="de">ausserordentliche Invalidenrente (IV)</xs:documentation>
					<xs:documentation xml:lang="fr">Rente extraordinaire d'invalidité (AI)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="71"/>
			<xs:enumeration value="72"/>
			<xs:enumeration value="73">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zusatzrente für den Ehegatten (IV)</xs:documentation>
					<xs:documentation xml:lang="fr">
                        Rente complémentaire extraordinaire en faveur du conjoint (AI)
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="74">
				<xs:annotation>
					<xs:documentation xml:lang="de">
                        ausserordentliche Kinderrente (zur Rente des Vaters) (IV)
                    </xs:documentation>
					<xs:documentation xml:lang="fr">
                        Rente extraordinaire pour enfant liée à la rente du père (AI)
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="75"/>
			<xs:enumeration value="76">
				<xs:annotation>
					<xs:documentation xml:lang="de">
                        ausserordentliche Kinderrente (zur Rente der Mutter) (IV)
                    </xs:documentation>
					<xs:documentation xml:lang="fr">
                        Rente extraordinaire pour enfant liée à la rente de la mère (AI)
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HilflosenentschaedigungenAHV9_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Leistungsart: Hilflosenentschaedigungen AHV (9e)</xs:documentation>
			<xs:documentation xml:lang="fr">Allocations pour impotents à domicile, AVS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:enumeration value="95">
				<xs:annotation>
					<xs:documentation xml:lang="de">bei Hilflosigkeit leichten Grades (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">cas d'impotence de faible degré (AVS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="96">
				<xs:annotation>
					<xs:documentation xml:lang="de">bei Hilflosigkeit mittleren Grades (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">cas d'impotence de moyen degré (AVS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="97">
				<xs:annotation>
					<xs:documentation xml:lang="de">bei Hilflosigkeit schweren Grades (AHV)</xs:documentation>
					<xs:documentation xml:lang="fr">cas d'impotence de grave degré (AVS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HilflosenentschaedigungenIV9_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Leistungsart: Hilflosenentschaedigungen IV (9e)</xs:documentation>
			<xs:documentation xml:lang="fr">Allocations pour impotents à domicile, AVS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:enumeration value="91">
				<xs:annotation>
					<xs:documentation xml:lang="de">bei Hilflosigkeit leichten Grades (IV)</xs:documentation>
					<xs:documentation xml:lang="fr">cas d'impotence de faible degré (AI)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="92">
				<xs:annotation>
					<xs:documentation xml:lang="de">bei Hilflosigkeit mittleren Grades (IV)</xs:documentation>
					<xs:documentation xml:lang="fr">cas d'impotence de moyen degré (AI)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="93">
				<xs:annotation>
					<xs:documentation xml:lang="de">bei Hilflosigkeit schweren Grades (IV)</xs:documentation>
					<xs:documentation xml:lang="fr">cas d'impotence de grave degré (AI)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HEZuHauseAHV10_strongType">
		<xs:annotation>
			<xs:documentation>Leistungsart: HE zu Hause AHV (aus 10.Revision)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:enumeration value="85"/>
			<xs:enumeration value="86"/>
			<xs:enumeration value="87"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HEZuHauseIV10_strongType">
		<xs:annotation>
			<xs:documentation>Leistungsart: HE zu Hause IV (aus 10.Revision)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:enumeration value="81"/>
			<xs:enumeration value="82"/>
			<xs:enumeration value="83"/>
			<xs:enumeration value="84"/>
			<xs:enumeration value="88"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrdentlicheRente9_strongType">
		<xs:annotation>
			<xs:documentation>Leistungsart: Ordentliche Rente (9e)</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ebsv-c024:OrdentlicheAHVRente9_strongType ebsv-c024:OrdentlicheIVRente9_strongType"/>
	</xs:simpleType>
	<xs:simpleType name="OrdentlicheWitwenabfindung_strongType">
		<xs:annotation>
			<xs:documentation>Leistungsart: Ordentliche Witwenabfindung</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrdentlicheRente9PlusWitwenabfindung_strongType">
		<xs:annotation>
			<xs:documentation>Leistungsart: Ordentliche Rente (9e) plus Witwenabfindung</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ebsv-c024:OrdentlicheAHVRente9_strongType ebsv-c024:OrdentlicheIVRente9_strongType ebsv-c024:OrdentlicheWitwenabfindung_strongType"/>
	</xs:simpleType>
	<xs:simpleType name="AusserordentlicheRente9_strongType">
		<xs:annotation>
			<xs:documentation>Leistungsart: Ausserordentliche Rente (9e)</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ebsv-c024:AusserordentlicheAHVRente9_strongType ebsv-c024:AusserordentlicheIVRente9_strongType"/>
	</xs:simpleType>
	<xs:simpleType name="AusserordentlicheWitwenabfindung_strongType">
		<xs:annotation>
			<xs:documentation>Leistungsart: Ausserordentliche Witwenabfindung</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AusserordentlicheRente9PlusWitwenabfindung_strongType">
		<xs:annotation>
			<xs:documentation>Leistungsart: Ausserordentliche Rente (9e) plus Witwenabfindung</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ebsv-c024:AusserordentlicheAHVRente9_strongType ebsv-c024:AusserordentlicheIVRente9_strongType ebsv-c024:AusserordentlicheWitwenabfindung_strongType"/>
	</xs:simpleType>
	<xs:simpleType name="Hilflosenentschaedigungen9_strongType">
		<xs:annotation>
			<xs:documentation>Leistungsart: Hilflosenentschaedigung (9e)</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ebsv-c024:HilflosenentschaedigungenAHV9_strongType ebsv-c024:HilflosenentschaedigungenIV9_strongType ebsv-c024:HEZuHauseAHV10_strongType ebsv-c024:HEZuHauseIV10_strongType"/>
	</xs:simpleType>
	<xs:simpleType name="Leistungsart9_strongType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Leistungsart: 9.Revision</xs:documentation>
			<xs:documentation xml:lang="fr">Genre de la prestation (rente ou API, AVS ou AI)</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ebsv-c024:OrdentlicheRente9_strongType ebsv-c024:AusserordentlicheRente9_strongType ebsv-c024:Hilflosenentschaedigungen9_strongType"/>
	</xs:simpleType>
</xs:schema>
