webavs-web/src/main/resources/xsd/P2020/annoncesRC/annoncesPC/annoncesPC-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright : Centrale de Compensation AVS/AI, Genève (2004). -->
<!-- Auteur : S. Juri -->
<!-- Date   : 29.12.2005 -->
<xs:schema targetNamespace="http://www.zas.admin.ch/RC"
           xmlns="http://www.zas.admin.ch/RC"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified"
           version="1.1">

    <xs:include schemaLocation="../../Typebase/General/Caisses-OAI-Agences-types.xsd" />
    <xs:include schemaLocation="../../Typebase/General/DatesPeriodesDurees-types.xsd" />
    <xs:include schemaLocation="../../Typebase/General/Lieux-types.xsd" />
    <xs:include schemaLocation="../../Typebase/General/Montants-types.xsd" />
    <xs:include schemaLocation="../../Typebase/General/RestrictedGeneric-types.xsd" />
    <xs:include schemaLocation="../../Typebase/PersPhys/IdsAssure-types.xsd" />
    <xs:include schemaLocation="../../Typebase/PersPhys/EtatCivil-types.xsd" />
    <xs:include schemaLocation="../../Typebase/Prestations/Prestations-types.xsd" />
    <xs:include schemaLocation="../../Typebase/AI/AI-types.xsd" />
    <xs:include schemaLocation="../../Typebase/AI/FractionRente-types.xsd" />

    <xs:complexType name="ELMeldung_Type">
        <xs:annotation>
            <xs:documentation xml:lang="fr">
                Annonce de cas PC avec droit aux prestations AVS/AI. Code application 61
            </xs:documentation>
            <xs:documentation xml:lang="de">
                Meldung des EL-Fälle mit Anspruch auf AHV/IV-Leistungen. Code Anwendungsgebiet 61
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ELStelleZweigstelle"	type="IrgendeineZweigstelle_weakType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="InternerHinweisELStelle" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Versichertennummer" type="Versichertennummer11oder13Stellen_Type" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ELRueckMeldung_Type">
        <xs:annotation>
            <xs:documentation xml:lang="fr">
                Annonce de cas PC avec droit aux prestations AVS/AI, réponse de la centrale.
                Code application 61
            </xs:documentation>
            <xs:documentation xml:lang="de">
                Meldung des EL-Fälle mit Anspruch auf AHV/IV-Leistungen, Rückmeldung der ZAS.
                Code Anwendungsgebiet 61
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ELStelleZweigstelle"	type="IrgendeineZweigstelle_weakType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="NummerLeistungsauszahlendeAKZweigstelle"	type="IrgendeineZweigstelle_weakType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="InternerHinweisELStelle" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="VNrLeistungsberechtigtePerson" type="Versichertennummer11oder13Stellen_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VNr1Ergaenzend" type="VersichertennummerErgaenzend_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Zivilstand" type="ZivilstandNr_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Fluechtling" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="WohnkantonStaat" type="WohnkantonStaatBSV_weakType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Anspruchsbeginn" type="AHVDatumJM_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="AnspruchsEnde" type="AHVDatumJM_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Berichtsmonat" type="AHVDatumJM_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Mutationscode" type="Mutationscode_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ZustaendigeIVStelle" type="IVStelle_strongType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Invaliditaetsgrad" type="Invaliditaetsgrad_weakType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Gebrechensschluessel" type="UnsignedInt5stellig_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="InvalideHinterlassene" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Leistungsart" type="Leistungsart_alle_Revisionen_strongType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BruchteilRente" type="IVRentenbruchteil_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MonatsbetragNeu" type="BetragFR5MitNull_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MonatsbetragAlt" type="BetragFR5MitNull_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BemerkungenZAS" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Verarbeitungscode" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        0 = Fall im Rentenregister gefunden
                        1 = Versichertennummer falsch
                        2 = Fall im Rentenregister nicht gefunden
                    </xs:documentation>
                    <xs:documentation xml:lang="fr">
                        0 = Cas trouvé dans le registre des rentes
                        1 = Numéro d'assuré erroné
                        2 = Cas inconnu dans le registre des rentes
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="0"></xs:enumeration>
                        <xs:enumeration value="1"></xs:enumeration>
                        <xs:enumeration value="2"></xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ELFaelleOhneAnspruchZuwachsMeldung_Type">
        <xs:annotation>
            <xs:documentation xml:lang="fr">
                Annonce d'augmentation de cas PC sans droit aux prestations AVS/AI.
                Code application 63.
            </xs:documentation>
            <xs:documentation xml:lang="de">
                Zuwachsmeldung von EL-Fälle ohne Anspruch auf AHV/IV-Leistungen.
                Code Anwendungsgebiet 63.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ELFaelleOhneAnspruchMeldung_Type">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ELFaelleOhneAnspruchAbgangsMeldung_Type">
        <xs:annotation>
            <xs:documentation xml:lang="fr">
                Annonce de diminution de cas PC sans droit aux prestations AVS/AI.
                Code application 64.
            </xs:documentation>
            <xs:documentation xml:lang="de">
                Abgangssmeldung von EL-Fälle ohne Anspruch auf AHV/IV-Leistungen.
                Code Anwendungsgebiet 64.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ELFaelleOhneAnspruchMeldung_Type">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ELFaelleOhneAnspruchMeldung_Type">
        <xs:annotation>
            <xs:documentation xml:lang="fr">
                Annonce d'augmentation ou de diminution de cas PC sans droit aux prestations AVS/AI.
                Code application 63 ou 64.
            </xs:documentation>
            <xs:documentation xml:lang="de">
                Zuwachs- oder Abgangsmeldung von EL-Fälle ohne Anspruch auf AHV/IV-Leistungen.
                Code Anwendungsgebiet 63 oder 64.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ELStelleZweigstelle"	type="IrgendeineZweigstelle_weakType"/>
            <xs:element name="Meldungsnummer" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="999999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="InternerHinweisELStelle" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="VNrLeistungsberechtigtePerson" type="Versichertennummer11oder13Stellen_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VNr1Ergaenzend" type="Versichertennummer11oder13Stellen_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Zivilstand" type="ZivilstandNr_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Fluechtling" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Wohnkanton" type="KantonNrBSV_StrongType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Anspruchsbeginn" type="AHVDatumJM_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="AnspruchsEnde" type="AHVDatumJM_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Berichtsmonat" type="AHVDatumJM_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Mutationscode" type="Mutationscode_Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Invaliditaetsgrad" type="Invaliditaetsgrad_weakType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>


    </xs:complexType>
</xs:schema>

