webavs-web/src/main/resources/xsd/acor/xsd/acor-in-ij.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2019 sp1 (http://www.altova.com) von ﻿Bundesamt für Informatik und (Bundesamt für Informatik und) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:acor-common="http://www.zas.admin.ch/xmlns/acor-common/0"
           xmlns:ij="http://www.zas.admin.ch/xmlns/in-ij/0"
           xmlns:trax="http://www.zas.admin.ch/RC"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:annox="http://annox.dev.java.net"
           targetNamespace="http://www.zas.admin.ch/xmlns/in-ij/0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0"
           jaxb:version="2.1"
           jaxb:extensionBindingPrefixes="annox">
    <xs:import namespace="http://www.zas.admin.ch/xmlns/acor-common/0" schemaLocation="./acor-common.xsd"/>
    <xs:import namespace="http://www.zas.admin.ch/RC" schemaLocation="./externalRC.xsd"/>
    <!--<xs:element name="indemniteJournaliere" type="ij:IndemniteJournaliere"/>-->
    <xs:complexType name="IndemniteJournaliereIJ">
        <xs:annotation>
            <xs:appinfo>
                <annox:annotate target="class">@io.swagger.v3.oas.annotations.media.Schema(description = "Indemnité journalière de l'AI (format unique)", required = false)
                </annox:annotate>
            </xs:appinfo>
            <xs:documentation>
                Indemnité journalière de l'AI (format unique)
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
        <xs:extension base="acor-common:Meta">
        <xs:sequence>
            <!--TODO : FAUT-il un $a? ou seulement dette et créance ? le navs, timestamp, visa et groupe sont-il nécessaires ?-->
            <!--TODO : Faire une base de calcul acor comp ?-->
            <xs:element name="compensationDetteCreance" type="ij:Compensation" minOccurs="0"/>
            <xs:element name="ecritureAssure" type="ij:EcritureAssureHistorique" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="basesCalcul" type="ij:BasesCalculCouranteIJ" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="basesCalculLibre" type="ij:IJBasique" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ijCalculee" type="ij:IJCalculee" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="paiementCompteAttenteDemande" type="ij:BasesCalculPaiementIJ" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="paiementCompteAttenteCalcule" type="ij:PaiementIJCalcule" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="recapitulatifPaiement" type="ij:RecapitulatifPaiementIJ" minOccurs="0"/>
            <xs:element name="beneficiaire" type="ij:BeneficiaireIJ" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Compensation">
        <xs:annotation>
            <xs:documentation>Compensation entre le compte de l'assuré créance (ce qu'on lui doit) et dette (ce qu'il nous doit)</xs:documentation>
            <xs:appinfo>
                <annox:annotate target="class">@io.swagger.v3.oas.annotations.media.Schema(description = "Compensation entre le compte de l'\u0026eacute; cr\u0026eacute;ance (ce qu'on lui doit) et dette (ce qu'il nous doit)", required = false)</annox:annotate>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="montant" type="xs:double">
                <xs:annotation><xs:documentation>Le montant de la créance qu'on souhaite utiliser pour compenser la dette</xs:documentation></xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EcritureAssureHistorique">
        <xs:annotation>
            <xs:appinfo>
                <annox:annotate target="class">@io.swagger.v3.oas.annotations.media.Schema(description = "Ecriture du compte de l'assur\u0026eacute;", required = false)</annox:annotate>
            </xs:appinfo>
            <xs:documentation>
                Ecriture du compte de l'assuré
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="montant" type="xs:double"/>
            <xs:element name="dateCreation" type="xs:date" minOccurs="0"/>
            <xs:element name="type" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        DETTE, CREANCE ou COMP
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="DETTE"/>
                        <xs:enumeration value="CREANCE"/>
                        <xs:enumeration value="COMP"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="origine">
                <xs:annotation>
                    <xs:documentation>
                        ACOR_COMP, ACOR_RECT, ACOR_DEC, ACOR_PAI, ACOR_BLOCAGE
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ACOR_COMP"/>
                        <xs:enumeration value="ACOR_RECT"/>
                        <xs:enumeration value="ACOR_DEC"/>
                        <xs:enumeration value="ACOR_PAI"/>
                        <xs:enumeration value="ACOR_BLOCAGE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BasesCalculIJ">
        <xs:annotation>
            <xs:appinfo>
                <annox:annotate target="class">@io.swagger.v3.oas.annotations.media.Schema(description = "Prestation IJ : informations permettant de calculer les montants d'une nouvelle indemnité journalière (ou la rec", required = false)
                </annox:annotate>
            </xs:appinfo>
            <xs:documentation>
                Prestation IJ : informations propres au montant de l'IJ et à son calcul
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="acor-common:Meta">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="genreIndemnite">
                        <xs:annotation>
                            <xs:documentation>
                                Genre de l'indemnité : 1 (grande), 2 (petite), 3 (FPI)
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="officeAI" type="ij:officeAI"/>
                    <xs:element name="datePrononce" type="xs:date"/>
                    <xs:element name="numeroDecision">
                        <xs:annotation>
                            <xs:documentation>
                                Numéro de décision (du prononcé) 11 positions numériques
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:long">
                                <xs:totalDigits value="11"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="etablissement" type="xs:string"/>
                    <xs:element name="statutij">
                        <xs:annotation>
                            <xs:documentation>Statutij : 1=normal, 2=rectificatif, 3=annulée</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="idIJModifiee" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Id de l'IJ modifiée (uniquement si statutij=2)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="genreReadaptation">
                        <xs:annotation>
                            <xs:documentation>1 = observation/instruction, 2 = attente de readaptation, 3 = readaptation
                                medicale, 4= placement à l’essai, 5 = formation profess. initiale, 6 = reclassement, 7 =
                                attente d'emploi, 8 = mise au courant, 9=mesures de réinsertion
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:minInclusive value="1"/>
                                <xs:maxInclusive value="9"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="debutBases" type="xs:date"/>
                    <xs:element name="finBases" type="xs:date" minOccurs="0"/>
                    <xs:element name="revenuMensuelDurantRea" type="xs:double" minOccurs="0"/>
                    <xs:element name="formation" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Champ pertinentn uniquement pour une petite indemnite (voir genreIndemnite)
                                2=sans (mesures médicales)
                                3=formation prof. initiale
                                4=formation initiale prolongée
                                5=formation initiale changée
                                6=formation initiale changée et prolongée
                                7=activité aux. ou atelier protégé
                                8=étudiant avec act. lucrative
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:minInclusive value="2"/>
                                <xs:maxInclusive value="8"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="formationFPI" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Champ pertinentn uniquement pour une indemnite FPI (voir genreIndemnite)
                                1 = FPI avec contrat d'apprentissage (AFP ou CFC) (code 5)
                                2 = FPI sans contrant d'apprentissage (activité auxiliaires/atelier protégé) (code 6)
                                3 = Formation professionnelle initiale sans stage rémunéré (code 7)
                                4 = Formation professionnelle initiale avec stage rémunéré (code 8)
                                5 = Autre formation (formation AI, PRA INSOS, préparation ciblée en vue d'une FPI) (code 9)
                                6 = Cas spécial 1: selon l'art. 22 al. 2 let. b (assurés au bénéfice de mesures médicales de réadaptation au sens de l'art. 12 LAI) (code 10)
                                7 = Cas spécial 2: selon l'art. 22 alt. 2 let. b (assurés au bénéfice de mesures de réinsertion au sens de l'art. 14a LAI) (code 11)
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:minInclusive value="2"/>
                                <xs:maxInclusive value="8"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="statut">
                        <xs:annotation>
                            <xs:documentation>
                                1 = salarié 2 = indépendant 3 = non actif 4 = agriculteurs indépendants (selon LFA)
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="3"/>
                                <xs:enumeration value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="demiIJAC" type="xs:double" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Demi IJ de l'AC : montant brut, selon DIJ 5043, FFF.CC ou 0
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="garantieAA" minOccurs="0">
                        <xs:complexType>
                            <xs:annotation>
                                <xs:documentation>Demi IJ de l'AC : montant brut, selon DIJ 5043, FFF.CC
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleContent>
                                <xs:extension base="xs:double">
                                    <xs:attribute name="type">
                                        <xs:annotation>
                                            <xs:documentation>NR=non réduite, R=réduite</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="NR"/>
                                                <xs:enumeration value="R"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="cantonImpots" minOccurs="0" type="trax:KantonNrBSV_StrongType"/>
                    <xs:element name="tauxLibre" type="xs:boolean">
                        <xs:annotation><xs:documentation>Si true les décomptes associés doivent avoir un taux d'impôts saisi</xs:documentation></xs:annotation>
                    </xs:element>
                    <xs:element name="mesureRea8a" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>Pas de réduction en cas de cumul avec une rente</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="nouvelleMesure" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>Permet de déterminer le nombre de jour maladie : si true le compte est
                                réinitialisé
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="revenus" type="ij:BasesCalculRevenusIJ" minOccurs="0" maxOccurs="3"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BasesCalculCouranteIJ">
        <xs:complexContent>
            <xs:extension base="ij:BasesCalculIJ">
                <xs:sequence>
                    <xs:element name="basesCalculDecomptes" type="ij:BasesCalculDecompteCourantIJ" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation><xs:documentation>Décomptes (mensuels) à calculer si il y a lieu. Pour une nouvelle IJ à calculer</xs:documentation></xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IJBasique">
        <xs:annotation>
            <xs:appinfo>
                <annox:annotate target="class">@io.swagger.v3.oas.annotations.media.Schema(description = "Prestation IJ calculee : informations propres au montant de l'IJ et à son calcul (sans decompte caclule)", required = false)
                </annox:annotate>
            </xs:appinfo>
            <xs:documentation>
                Prestation IJ : informations propres au montant de l'IJ et à son calcul (sans decompte caclule)
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="acor-common:Meta">
                <xs:sequence>
                    <xs:element name="basesCalculIJ" type="ij:BasesCalculIJ"/>
                    <xs:element name="revenus" type="ij:RevenusCourantsIJ"/>
                    <xs:element name="montants" type="ij:MontantsIJ"/>
                    <xs:element name="deductionRente" type="xs:double" minOccurs="0"/>
                    <xs:element name="garantieRevision" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:enumeration value="3"/>
                                <xs:enumeration value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="nbEnfant" type="xs:int" minOccurs="0"/>
                    <xs:element name="decompteACalculer" type="ij:BasesCalculDecompteCourantIJ" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation><xs:documentation>Les décomptes à calculer pour cette ij (déjà calculée). </xs:documentation></xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IJCalculee">
        <xs:annotation>
            <xs:appinfo>
                <annox:annotate target="class">@io.swagger.v3.oas.annotations.media.Schema(description = "Prestation IJ calculée : informations propres au montant de l'IJ et à son calcul", required = false)
                </annox:annotate>
            </xs:appinfo>
            <xs:documentation>
                Prestation IJ : informations propres au montant de l'IJ et à son calcul
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ij:IJBasique">
                <xs:sequence>
                    <xs:element name="periodeNonValide" type="ij:PeriodeIJNonValide" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="decompteCalcule" type="ij:DecompteCalculeIJ" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation><xs:documentation>Les décomptes calculé pour cette ij. </xs:documentation></xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="officeAI">
        <xs:union memberTypes="trax:IVStelle9_weakType trax:IVStelle_weakType"/>
    </xs:simpleType>


    <xs:complexType name="RevenusCourantsIJ">
        <xs:annotation>
            <xs:documentation>Informations sur le revenu déteminant pour le calcul de l'IJ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="determinant" type="xs:double"/>
            <xs:element name="date" type="xs:date" minOccurs="0">
                <xs:annotation><xs:documentation>Pour une IJ en saisie manuelle cette date n'est pas nécessairement renseignée (elle devient automatiquement le début de droit de l'IJ)</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="journalier" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BasesCalculRevenusIJ">
        <xs:annotation>
            <xs:documentation>Informations sur le revenu avant la réadaptasion pour le calcul de l'IJ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="revenu" type="xs:double"/>
            <xs:element name="annee" type="xs:date"/>
            <xs:element name="type">
                <xs:annotation>
                    <xs:documentation>1 = horaire 2 = journalier 3 = hebdomadaire 4 = quatre semaines 5 = mensuel 6 =
                        annuel
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="heuresHebdo" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Pertinenet uniquement si type=1</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="numeroAffilie" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Un employeur ou l'assuré si revenu indépendant. Obligatoire seulement si plusieurs
                        revenus sont déclarés
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nomEmployeur" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MontantsIJ">
        <xs:annotation>
            <xs:documentation>Informations sur le revenu déteminant pour le calcul de l'IJ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="deBase" type="xs:double"/>
            <xs:element name="enfant" type="xs:double" minOccurs="0"/>
            <xs:element name="externe" type="xs:double"/>
            <xs:element name="interne" type="xs:double"/>
            <xs:element name="libres" type="xs:boolean">
                <xs:annotation><xs:documentation>true si et seulement si cette IJ est une IJ dont les montants ont été saisi manuellement (il ne s'agit pas d'une IJ en historque ni à calculer)</xs:documentation></xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PeriodeIJNonValide">
        <xs:annotation>
            <xs:documentation>Période durant laquelle une IJ n'est pas valide</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="debut" type="xs:date"/>
            <xs:element name="fin" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BasesCalculDecompteIJ">
        <xs:annotation><xs:documentation>bases de calcul pour un décompte (mensuel) de paiement)</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="statut">
                <xs:annotation><xs:documentation>1 = normal 2 = rectificatif 3 = annulateur</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="idDecompteRemplace" type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>en cas de statut 2 ou 3 uniquement : identifiant du décompte remplacé</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="dateCreation" type="xs:date"/>
            <xs:element name="debut" type="xs:date"/>
            <xs:element name="fin" type="xs:date"/>
            <!-- inutile avec joura a payer-->
            <!--<xs:element name="nbJoursInternes" type="xs:int" minOccurs="0">
                    <xs:annotation><xs:documentation>obligatoire si joursAPayer absent</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="nbJoursExternes" type="xs:int" minOccurs="0">
                <xs:annotation><xs:documentation>obligatoire si joursAPayer absent</xs:documentation></xs:annotation>
            </xs:element>-->
            <xs:element name="joursAPayer">
                <xs:annotation><xs:documentation>Vecteur de longeur = durée de la période selon champs 1 et 2, chaque position contenant une des valeurs suivantes : 1 = jour à payer en tant qu’interne 2 = jour à payer en tant qu’externe 0 = jour sans paiement, 3 : maladie payé, 4 : maladie non payé. Ex. pour une période déclarée du 01/01/2011 au 07/01/2011 : 2220211 signifie qu’il faut payer les 1,2,3 et 5ème jours comme externe et les 6 et 7ème jours comme interne (le 4ème jour n’est pas payé)..</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[01234]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="raisonInterruption" minOccurs="0">
                <xs:annotation><xs:documentation>1 = Maladie/accident sans rap. Avec réadaptation 2 = Maladie/accident en rap. Avec réadaptation  3 = Grossesse 4 = Accouchement  5 = Autres motifs</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="tauxImposition" minOccurs="0">
                <xs:annotation><xs:documentation>Taux d'imposition calculé par Acor ou saisi manuellement. Si absent on s'attend à ce que la bases de calcul de décompte soit une BasesCalculDecompteCourantIJ, dans ce cas le taux sera déterminé par Acor</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:pattern value="\d{1,2}(\.\d{1,4})"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="versementSepare" type="xs:boolean"/>
            <xs:element name="decompteHistorique" type="xs:boolean">
                <xs:annotation><xs:documentation>Un décompte en historique est un décompte calculé par une autre instance de la confédération (ou par un ancien système) qui doit être ignoré dans la comptabilité de la caisse</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="partPatronaleHistorique" type="xs:boolean" minOccurs="0">
                <xs:annotation><xs:documentation>Si le décompte en historique à une part patronale (pas de cotisations)</xs:documentation></xs:annotation>
            </xs:element>

<!--            <xs:element name="joursInterruption" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nbJoursPayes" type="xs:int"/>
                            <xs:element name="raison">
                                <xs:annotation><xs:documentation>1 = Maladie/accident sans rap. Avec réadaptation 2 = Maladie/accident en rap. Avec réadaptation  3 = Grossesse 4 = Accouchement  5 = Autres motifs</xs:documentation></xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="5"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
            </xs:element>-->
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BasesCalculDecompteCourantIJ">
        <xs:complexContent>
            <xs:extension base="ij:BasesCalculDecompteIJ">
                <xs:sequence>
                    <xs:element name="paiementsACalculer" type="ij:BasesCalculPaiementIJ" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation><xs:documentation>Paiement à calculer associés à ce nouveau décompte à calculer</xs:documentation></xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DecompteCalculeIJ">
        <xs:annotation><xs:documentation>Informations de décompte déjà calculé</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element name="basesCalculDecompteIJ" type="ij:BasesCalculDecompteIJ">
                <xs:annotation><xs:documentation>Bases de calcul du décompte qui ont servie à le calculé (et qui l'identifie)</xs:documentation></xs:annotation>
            </xs:element>
<!--            <xs:element name="idDecompteRemplace" type="xs:string">
                <xs:annotation><xs:documentation>Identifiant du décompte que celui-ci remplace (si il y a lieu), dans ce cas statut=2 ou 3</xs:documentation></xs:annotation>
            </xs:element>-->
            <xs:element name="dateComptabilisation" type="xs:date" minOccurs="0"/>
            <xs:element name="tauxCotisation">
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:pattern value="\d{1,2}(\.\d{1,4})"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="paiementISTransmis" type="xs:boolean">
                <xs:annotation><xs:documentation>Un paiement à l'office d'imôts a-t-il été effectué pour ce paiement</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="montantBrut" type="xs:double"/>
            <xs:element name="montantNet" type="xs:double"/>
            <xs:element name="cotisations" type="xs:double" minOccurs="0">
                <xs:annotation><xs:documentation>Cotisations AVS/AI/APG de l’assuré, ne comprenant pas les cotisations versées par un employeur potentiel (valeur négative en cas de décompte rectificateur ou annulateur)</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="cotisationsAC" type="xs:double" minOccurs="0">
                <xs:annotation><xs:documentation>Cotisations AC Cotisations AC de l’assuré, ne comprenant pas les cotisations versées par un employeur potentiel (valeur négative en cas de décompte rectificateur ou annulateur)</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="partPatronale" type="xs:double" minOccurs="0">
                <xs:annotation><xs:documentation>versé à un employeur potentiel (valeur négative en cas de en cas de décompte rectificateur ou annulateur)</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="deductionAO" type="xs:double" minOccurs="0">
                <xs:annotation><xs:documentation>Déduction de cotisation supplémentaire selon saisie du collaborateur (cas spéciaux donnant lieu à 2 retenues de cotisation : autom. + montant saisi)</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="impots" type="xs:double" minOccurs="0">
                <xs:annotation><xs:documentation>montant de l'impôts à la source</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="comptabilise" type="xs:boolean">
                <xs:annotation><xs:documentation>Le décompte a-t-il été comptabilisé</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="montantNet2" type="xs:double">
                <xs:annotation><xs:documentation>si statut = 2, montant net après déduction du décompte d’origine.</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="paiement" type="ij:PaiementIJCalcule" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation><xs:documentation>Remarque : un decompte calculé ne peut contenir que des paiements calculé (les paiements de décomptes après calcul du décompte se font via le compte d'attente)</xs:documentation></xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BasesCalculPaiementIJ">
        <xs:annotation><xs:documentation>Bases de calucul pour produire un paiement</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="idBeneficiaire" type="xs:string" minOccurs="0">
                    <xs:annotation><xs:documentation>si absent alors le paiement est payé à l'assuré (l'assuré à ces propres coordonnées de paiement et ces informations ne sont pas répétées)</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="montant" type="xs:double">
                <xs:annotation><xs:documentation>Le montant du paiement. Montant obligatoire mais peut valoir -1 si le calcul de ce montant est délégué à Acor (solde du décompte)</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="reference" type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>Pour la rubrique 'communication' de l'OPAE</xs:documentation></xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaiementIJCalcule">
        <xs:annotation><xs:documentation>paiement déjà calculé identifié par ces bases de calcul</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element name="basesCalculPaiement" type="ij:BasesCalculPaiementIJ"/>
            <xs:element name="dateCreation" type="xs:date"/>
            <xs:element name="dateStatut" type="xs:date">
                <xs:annotation><xs:documentation>date à laquelle le statut a été modifié pour la dernière fois</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="statut">
                <xs:annotation><xs:documentation>1=à transmettre, 2=transmis, 3=payé, 4=refusé, 5=retourné, 6=bloqué, 7=à bloquer</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="7"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="infoBanque" type="xs:string">
                <xs:annotation><xs:documentation>Informations fournient par la banque en cas de refus (ou autres informations d'avertissements)</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="comptabilise" type="xs:boolean"/>
            <xs:element name="DonneesOPAE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dateTransmission" type="xs:date" minOccurs="0"/>
                        <xs:element name="numero" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--<xs:element name="genreBeneficiaire">
                <xs:annotation><xs:documentation>0=assuré, 1=employeur, 2=tiers, 3=AFC A VOIR</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>-->
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BeneficiaireIJ">
        <xs:annotation><xs:documentation>beneficiaire d'un paiement d'IJ</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="denomination" type="xs:string"/>
            <xs:element name="designationSupplementaire" type="xs:string"/>
            <xs:element name="adresseBeneficiaire" type="acor-common:adresseType"/>
            <xs:element name="adressePaiement" type="acor-common:banqueAdresseType"/>
            <xs:element name="genre">
                <xs:annotation><xs:documentation>0=assure, 1=employeur 2=tiers</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:enumeration value="0"/>
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="modifie" type="xs:boolean"/>
            <xs:element name="actif" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RecapitulatifPaiementIJ">
        <xs:annotation><xs:documentation>Recapitulatif des paiements effectués</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element name="debut" type="xs:date" minOccurs="0"/>
            <xs:element name="fin" type="xs:date" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
