webavs-web/src/main/resources/xsd/acor/xsd/acor-rentes-in-host.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by Bundesamt für Informatik und Telekommunikation (Bundesamt für Informatik und Telekommunikation) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		   xmlns:rentes_in_host="http://www.zas.admin.ch/xmlns/acor-rentes-in-host/0"
		   xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/4"
		   xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/6"
		   xmlns:trax="http://www.zas.admin.ch/RC"
		   xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
		   xmlns:annox="http://annox.dev.java.net"
		   targetNamespace="http://www.zas.admin.ch/xmlns/acor-rentes-in-host/0"
		   elementFormDefault="qualified"
		   attributeFormDefault="unqualified"
		   version="5.2"
		   jaxb:version="2.1"
		   jaxb:extensionBindingPrefixes="annox">
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/4" schemaLocation="eCH-0044-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/6" schemaLocation="eCH-0010-6-0.xsd"/>
	<!--<xs:import namespace="http://www.zas.admin.ch/RC"
               schemaLocation="./annoncesRC/Prestations/annoncesRente-types.xsd"/>-->
	<!--<xs:import namespace="http://www.zas.admin.ch/RC"
               schemaLocation="./annoncesRC/rc.xsd"/>-->
	<!--<xs:import namespace="http://www.zas.admin.ch/RC" schemaLocation="./annoncesRC/Prestations/annonceRente.xsd"/>
    <xs:import namespace="http://www.zas.admin.ch/RC" schemaLocation="./annoncesRC/CACI/annonceCI-types.xsd"/>-->
	<xs:import namespace="http://www.zas.admin.ch/RC" schemaLocation="./externalRC.xsd"/>
	<!--<xs:import namespace="http://www.zas.admin.ch/RC"
               schemaLocation="./annoncesRC/CACI/annonceCI-types.xsd"/>-->
	<xs:element name="inHost" type="rentes_in_host:inHostType"/>
	<xs:complexType name="inHostType">
		<xs:annotation>
			<xs:appinfo>
				<annox:annotate target="class">@io.swagger.v3.oas.annotations.media.Schema(description = "fr : Format in des donn\u0026eacute;es du dossier.", required = false)</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rentes_in_host:Meta">
				<xs:sequence>
					<xs:element name="demande" type="rentes_in_host:demandeType"/>
					<xs:element name="assure" type="rentes_in_host:assureType" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="enfant" type="rentes_in_host:enfantType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="famille" type="rentes_in_host:familleType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="versionSchema" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="([0-9]\.?)*-?(DEV|SNAPSHOT)?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="demandeType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:Meta">
				<xs:sequence>
					<xs:element name="navs" type="xs:long">
						<xs:annotation>
							<xs:appinfo>
								<annox:annotate target="field">@io.swagger.v3.oas.annotations.media.Schema(description = "fr : Num\u0026eacute;ro AVS (13) pour l'assur\u0026eacute; ma\u0026icirc;tre de la demande. (DEMANDE/1)",example="7560747116424", required = true)</annox:annotate>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="caisseAgence" type="trax:IrgendeineZweigstelle_weakType"/>
					<xs:element name="adresseCaisse" type="rentes_in_host:organisationAdresseType"/>
					<xs:element name="moisRapport">
						<xs:annotation>
							<xs:documentation>
								0 = mois de traitement, 1 = mois suivant le mois de traitement.
								This information is set (as a Date) in the PoolMeldungZurZAS/lot/PoolKopf/rc:Erstellungsdatum.
								the total of amount payed (f_calcul/evenement/bases_calcul/decision/prestation/rente/versement/montant) with one month more if "moisRapport = 1"
								(idem for the coresponding field of annonce.pay : f_calcul/annexes/pay
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:enumeration value="0"/>
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="noDossier" type="xs:string" minOccurs="0"/>
					<xs:element name="typeDemande" type="rentes_in_host:typeDemandeEnum"/>
					<xs:element name="dateTraitement" type="xs:date">
						<xs:annotation>
							<xs:appinfo>
								<annox:annotate target="field">@io.swagger.v3.oas.annotations.media.Schema(description = "fr : la date de traitement (DEMANDE/3)", required = true)</annox:annotate>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="dateDepot" type="xs:date" minOccurs="0"/>
					<xs:element name="langue">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="f"/>
								<xs:enumeration value="d"/>
								<xs:enumeration value="i"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="typeCalcul">
						<xs:annotation>
							<xs:documentation>0 = standard
                                1 = prévisionnel
                                2 = paiement provisoire
                            </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="calculRenteConjoint" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>true = la rente de vieillesse du conjoint plus jeune sera calculée en mode
                                prévisionnel
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="demiRente9" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>module 9ème révision : acor calculera des demi rente de couple plutôt qu'une rente
                                de couple
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="remplaceRente" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>remplacement sur demande de l'épouse des rentes de couple 11, 12, 51,52
                                remplacement sur demande des rentes simples des femmes devenues veuves avant le 1er décembre
                                1996 et dont l’échelle est celle du mari (Circ. II 8042 ss)
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="secteur" type="xs:int" minOccurs="0"/>
					<xs:element name="groupe" type="xs:int" minOccurs="0"/>
					<xs:element name="visa" type="xs:string" minOccurs="0"/>
					<xs:element name="visaChef" type="xs:string" minOccurs="0"/>
					<xs:element name="libre" type="xs:string" minOccurs="0"/>
					<xs:element name="dateRepriseCaisse" type="xs:date" minOccurs="0"/>
					<xs:element name="dateDeterminantePrescription" type="xs:date" minOccurs="0"/>
					<xs:element name="dureePrescription" type="rentes_in_host:dureePrescriptionEnum" minOccurs="0"/>
					<xs:element name="dateMinMut" type="xs:date" minOccurs="0">
						<xs:annotation><xs:documentation>Aucun événement ne sera traité avant cette date</xs:documentation></xs:annotation>
					</xs:element>
					<xs:element name="dateMaxMut" type="xs:date" minOccurs="0">
						<xs:annotation><xs:documentation>Aucun événement ne sera traité après cette date</xs:documentation></xs:annotation>
					</xs:element>
					<xs:element name="demandeEuro" type="rentes_in_host:demandeEuroType" minOccurs="0"/>
					<xs:element name="montantMinimumEmployeurAPG" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                                Concerne les APG : montant minimum versé à l’assuré en francs (p. ex : 10 ou 5) (mettre 0 si la caisse n'utilise pas ACOR pour les APG)
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="demandeEuroType">
		<xs:sequence>
			<xs:element name="e202" type="xs:boolean" minOccurs="0"/>
			<xs:element name="e203" type="xs:boolean" minOccurs="0"/>
			<xs:element name="e205" type="xs:boolean" minOccurs="0"/>
			<xs:element name="e210" type="xs:boolean" minOccurs="0"/>
			<xs:element name="e210DateJour" type="xs:boolean" minOccurs="0"/>
			<xs:element name="institutionInstruction" type="xs:boolean" minOccurs="0"/>
			<xs:element name="swap" type="xs:boolean" minOccurs="0"/>
			<xs:element name="langue">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="f"/>
						<xs:enumeration value="d"/>
						<xs:enumeration value="i"/>
						<xs:enumeration value="e"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="dureePrescriptionEnum">
		<xs:annotation>
			<xs:documentation>Durée de la prescription en mois; 0=pas de prescription, 12=1 année selon Art. 25 LPGA,
                60=5 ans selon Art. 24 LPGA, 84=7 ans selon Art. 97 CP
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="60"/>
			<xs:enumeration value="84"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeDemandeEnum">
		<xs:annotation>
			<xs:appinfo>
				<annox:annotate target="enum">@io.swagger.v3.oas.annotations.media.Schema(description = "fr : le type de la demande (DEMANDE/2)", required = true)</annox:annotate>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="v"/>
			<xs:enumeration value="s"/>
			<xs:enumeration value="i"/>
			<xs:enumeration value="r"/>
			<xs:enumeration value="c"/>
			<xs:enumeration value="l"/>
			<xs:enumeration value="j"/>
			<xs:enumeration value="t"/>
			<xs:enumeration value="splitt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="abstractAssureType" abstract="true">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:Meta">
				<xs:sequence>
					<xs:element name="navs" type="xs:long"/>
					<xs:element name="nom" type="eCH-0044:baseNameType" minOccurs="0"/>
					<xs:element name="prenom" type="eCH-0044:officialFirstNameType" minOccurs="0"/>
					<xs:element name="dateNaissance" type="xs:date" minOccurs="0"/>
					<xs:element name="dateDeces" type="xs:date" minOccurs="0"/>
					<xs:element name="nationalite" type="trax:LandNrBSV_weakType" minOccurs="0"/>
					<xs:element name="domicile" type="trax:WohnkantonStaatBSV_weakType" minOccurs="0"/>
					<xs:element name="refugie" type="xs:boolean"/>
					<xs:element name="renteOrdinaire9" type="rentes_in_host:renteOrdinaire9Type" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="renteExtraordinaire9" type="rentes_in_host:renteExtraordinaire9Type" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="renteOrdinaire10" type="rentes_in_host:renteOrdinaire10Type" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="renteExtraordinaire10" type="rentes_in_host:renteExtraordinaire10Type" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="donneesPostales" type="rentes_in_host:donneesPostalesType" minOccurs="0"/>
					<xs:element name="donneesEuro" type="rentes_in_host:donneesEuroType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="assureType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:abstractAssureType">
				<xs:sequence>
					<xs:element name="sexe" type="rentes_in_host:sexType"/>
					<xs:element name="dateRemariage" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Ce champ est réservé à l'utilisation de V3 il va disparaître en mode V4, il ne faut pas l'utiliser. Si cet assuré est remarié il faut indiquer l'assuré dans les assurés et les liens dans les familles.
							</xs:documentation>
							<xs:appinfo>
								<annox:annotate target="field">@io.swagger.v3.oas.annotations.media.Schema(description = "Ce champ est réservé à l'utilisation de V3 il va disparaître en mode V4, il ne faut pas l'utiliser. Si cet assuré est remarié il faut indiquer l'assuré dans les assurés et les liens dans les familles.", required = false)</annox:annotate>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="dateRedivorce" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Ce champ est réservé à l'utilisation de V3 il va disparaître en mode V4, il ne faut pas l'utiliser. Si cet assuré est remarié il faut indiquer l'assuré dans les assurés et les liens dans les familles.
							</xs:documentation>
							<xs:appinfo>
								<annox:annotate target="field">@io.swagger.v3.oas.annotations.media.Schema(description = "Ce champ est réservé à l'utilisation de V3 il va disparaître en mode V4, il ne faut pas l'utiliser. Si cet assuré est remarié il faut indiquer l'assuré dans les assurés et les liens dans les familles.", required = false)</annox:annotate>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="donneesAI" type="rentes_in_host:aiInformations" minOccurs="0"/>
					<xs:element name="reductionFauteGrave" type="trax:KuerzungSelbstverschulden_Type" minOccurs="0"/>
					<xs:element name="donneesVeto" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="vetoPrestation">
									<xs:annotation>
										<xs:documentation>1 = transfert, 2 =remboursement, 3 = autre raison
                                        </xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:int">
											<xs:enumeration value="1"/>
											<xs:enumeration value="2"/>
											<xs:enumeration value="3"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="dateVeto" type="xs:date" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="dateDepotRemboursementTransfert" type="xs:date" minOccurs="0"/>
					<xs:element name="flexibilisation" type="rentes_in_host:flexibilisationType" minOccurs="0"/>
					<xs:element name="ci" type="rentes_in_host:ciType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="periodeIJ" type="rentes_in_host:periodeIJType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="periodeTravail" type="rentes_in_host:periodeTravailType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="periodeEtrangere" type="rentes_in_host:periodeEtrangereType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="periode" type="rentes_in_host:periodeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="chargeEnfant" type="xs:long" minOccurs="0"/>
					<xs:element name="generateur" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                                Lorsque les deux assurés divorcés sont décédés et que le demandeur est un enfant, ce
                                flag permet de déterminer le décès que l'on veut traiter en priorité (en demande de
                                survivant)
                                Dans tous les autres cas ce flag est ignoré
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="arc" type="rentes_in_host:arcType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="montantRenteEtrangere" type="xs:int" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="arcType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:Meta">
				<xs:sequence>
					<xs:element name="codeAnnulation">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:enumeration value="0"/>
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dateValidite" type="xs:gYearMonth"/>
					<xs:element name="motif">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="99"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="navsConjoint" type="xs:long"/>
					<xs:element name="caisseAgence" type="trax:IrgendeineZweigstelle_weakType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="donneesPostalesType">
		<xs:sequence>
			<xs:element name="adresse" type="rentes_in_host:adresseType"/>
			<xs:element name="banque" type="rentes_in_host:banqueAdresseType"/>
			<xs:element name="mandataire" type="rentes_in_host:organisationAdresseType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="donneesEuroType">
		<xs:sequence>
			<xs:element name="organismeLiaisons" type="rentes_in_host:organismeLiaisonType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="e202" type="rentes_in_host:e202Type" minOccurs="0"/>
			<xs:element name="e203" type="rentes_in_host:e203Type" minOccurs="0"/>
			<xs:element name="e205" type="rentes_in_host:e205Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="adresseType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:Meta">
				<xs:sequence>
					<xs:element name="adresse" type="xs:string"/>
					<xs:element name="localite" type="eCH-0010:localityType"/>
					<xs:element name="codePostal" type="xs:string"/>
					<xs:element name="pays" type="trax:LandNrBSV_weakType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="organisationAdresseType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:adresseType">
				<xs:sequence>
					<xs:element name="nom" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="banqueAdresseType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:organisationAdresseType">
				<xs:sequence>
					<xs:element name="nomTitulaire" type="xs:string"/>
					<xs:element name="bic" type="rentes_in_host:bicType"/>
					<xs:element name="iban" type="rentes_in_host:ibanType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ibanType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bicType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="periodeMois">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:Meta">
				<xs:sequence>
					<xs:element name="debut" type="xs:gYearMonth" minOccurs="0"/>
					<xs:element name="fin" type="xs:gYearMonth" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PeriodeJour">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:Meta">
				<xs:sequence>
					<xs:element name="debut" type="xs:date" minOccurs="0"/>
					<xs:element name="fin" type="xs:date" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="periodeIJType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:PeriodeJour">
				<xs:sequence>
					<xs:element name="mesureNouvelle" type="xs:boolean"/>
					<xs:element name="nbMoisRecouvrement">
						<xs:annotation><xs:documentation>Nombre de mois entier de recouvrement avec une rente AI courant en même temps que la période d'IJ</xs:documentation></xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="periodeRecueilliGType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:periodeMois">
				<xs:sequence>
					<xs:element name="tuteur" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="periodeRecueilliCType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:periodeMois">
				<xs:sequence>
					<xs:element name="parentNonBiologique" type="xs:long"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="periodeBTEType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:periodeMois">
				<xs:choice>
					<xs:element name="educateur" type="xs:long"/>
					<xs:element name="tiers" type="xs:boolean"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="periodeTravailType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:periodeMois">
				<xs:sequence>
					<xs:element name="montantDebut" type="trax:BetragFR_Type"/>
					<xs:element name="montantFin" type="trax:BetragFR_Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="periodeEtrangereType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:periodeMois">
				<xs:sequence>
					<xs:element name="etat" type="trax:LandNrBSV_weakType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="periodeType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:periodeMois">
				<xs:attribute name="type" type="rentes_in_host:periodeTypeEnum" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="periodeTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="domicile"/>
			<xs:enumeration value="nationalite"/>
			<xs:enumeration value="afac"/>
			<xs:enumeration value="exemption"/>
			<xs:enumeration value="incarceration"/>
			<xs:enumeration value="etude"/>
			<xs:enumeration value="renonciation"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="periodeEnfantType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:periodeMois">
				<xs:attribute name="type" type="rentes_in_host:periodeEnfantTypeEnum" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="periodeEnfantTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="domicile"/>
			<xs:enumeration value="nationalite"/>
			<xs:enumeration value="etude"/>
			<xs:enumeration value="allocationFamiliale"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="flexibilisationType">
		<xs:sequence>
			<xs:element name="debut" type="xs:date"/>
			<xs:choice>
				<xs:element name="partPercue">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="montant" type="trax:BetragFR_Type"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="enfantSexType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="MALE"/>
		<xs:enumeration value="FEMALE"/>
		<xs:enumeration value="UNKNOWN"/>
	</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sexType">
		<xs:restriction base="rentes_in_host:enfantSexType">
			<xs:enumeration value="MALE"/>
			<xs:enumeration value="FEMALE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="enfantType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:abstractAssureType">
				<xs:sequence>
					<xs:element name="sexe" type="rentes_in_host:enfantSexType"/>
					<xs:choice>
						<xs:element name="navsPere" type="xs:long"/>
						<xs:element name="pereInconnu" type="xs:boolean"/>
					</xs:choice>
					<xs:choice>
						<xs:element name="navsMere" type="xs:long"/>
						<xs:element name="mereInconnue" type="xs:boolean"/>
					</xs:choice>
					<xs:element name="etatCivil" type="trax:ZivilstandNr_Type">
						<xs:annotation>
							<xs:documentation>Un enfant de plus de 18 ans peut avoir un etat civil autre que célibataire (notion annoncée au registre des rentes en cas de rente complémentaire pour enfant). L'état civil d'un adulte n'est pas nécessaire 8déduit de la situation familliale)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dateAdoption" type="xs:date" minOccurs="0"/>
					<xs:element name="periode" type="rentes_in_host:periodeEnfantType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="periodeBTE" type="rentes_in_host:periodeBTEType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="periodeRecueilliG" type="rentes_in_host:periodeRecueilliGType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="periodeRecueilliC" type="rentes_in_host:periodeRecueilliCType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="familleType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:Meta">
				<xs:sequence>
					<xs:element name="navs" type="xs:long" minOccurs="2" maxOccurs="2"/>
					<xs:element name="lien" type="rentes_in_host:lienType"/>
					<xs:element name="debut" type="xs:date"/>
					<xs:element name="donneesFin" minOccurs="0" maxOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="fin" type="xs:date"/>
								<xs:element name="type" type="rentes_in_host:finLienType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="periodeSeparation" type="rentes_in_host:PeriodeJour" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="pensionAlimentaire" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ciType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:Meta">
				<xs:sequence>
					<xs:element name="brancheEconomique" type="trax:Erwerbszweig_Type" minOccurs="0"/>
					<xs:element name="codeDiminution" type="trax:SchluesselzahlStornoeintrag_Type"/>
					<xs:element name="genreCotisation" type="rentes_in_host:genreCotisationType"/>
					<xs:element name="codeParticulier" type="trax:BesondereSchluesselzahlIK_Type" minOccurs="0"/>
					<xs:element name="moisDebut" type="rentes_in_host:moisCotisationType" minOccurs="0"/>
					<xs:element name="moisFin" type="rentes_in_host:moisCotisationType" minOccurs="0"/>
					<xs:element name="annee" type="xs:gYear"/>
					<xs:element name="montant" type="trax:BetragFR_Type"/>
					<xs:element name="caisseAgence" type="trax:IrgendeineZweigstelle_weakType"/>
					<xs:element name="numeroAffilie" type="trax:AKAbrechnungsNr_Type" minOccurs="0"/>
					<xs:element name="codeAmortissement" type="trax:TCodeADS" minOccurs="0"/>
					<xs:element name="participationBonificationAssistance" type="trax:BetreuungsgutschriftBruchteil_Type" minOccurs="0"/>
					<xs:element name="codeProvenance">
						<xs:annotation>
							<xs:documentation>1: transfert par ligne, 2: saisie host/serveur,3: saisie ACOR, 4:Modifié par Acor, 5:saisie pour communication de période, 6 : revenu prévisionnel
                            </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="codeSpecial" type="rentes_in_host:casSpecialEtendu" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="genreCotisationType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Schlüsselzahl für Beitragsart</xs:documentation>
			<xs:documentation xml:lang="fr">Code du genre de cotisation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation>Période assimilée (A) utilisée à la CdC (EAI)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="casSpecialCdC">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="casSpecialEtendu">
		<xs:union memberTypes="trax:SonderfallcodeIK_Type rentes_in_host:casSpecialCdC"/>
	</xs:simpleType>
	<xs:simpleType name="moisCotisationType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation>Durée (D) utilisée à la CdC (EAI)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="77"/>
			<xs:enumeration value="66"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="commonRenteType" abstract="true">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:Meta">
				<xs:sequence>
					<xs:element name="genre" type="trax:Leistungsart_alle_Revisionen_strongType"/>
					<xs:element name="indemniteForfaitaire" type="xs:boolean"/>
					<xs:element name="fraction">
						<xs:simpleType>
							<xs:restriction base="xs:float">
								<xs:enumeration value="0.25"/>
								<xs:enumeration value="0.5"/>
								<xs:enumeration value="0.75"/>
								<xs:enumeration value="1.0"/>
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="debutDroit" type="xs:date"/>
					<xs:element name="finDroit" type="xs:date" minOccurs="0"/>
					<xs:element name="codeMutation" type="rentes_in_host:acorMutationscode_Type" minOccurs="0"/>
					<xs:element name="montant" type="trax:BetragFR_Type"/>
					<xs:element name="anneeEtat" type="xs:gYear"/>
					<xs:element name="casSpecial" type="trax:SonderfallcodeRente_Type" minOccurs="0" maxOccurs="5"/>
					<xs:element name="reductionFauteGrave" type="trax:KuerzungSelbstverschulden_Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="renteOrdinaire9Type">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:commonRenteType">
				<xs:sequence>
					<xs:element name="bases" type="rentes_in_host:ordinaireBase9Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="renteExtraordinaire9Type">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:commonRenteType">
				<xs:sequence>
					<xs:element name="bases" type="rentes_in_host:extraordinaireBase9Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="rente10Type">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:commonRenteType">
				<xs:sequence>
					<xs:element name="codeSurvivantInvalide" type="xs:boolean" minOccurs="0"/>
					<xs:element name="transferee" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="renteOrdinaire10Type">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:rente10Type">
				<xs:sequence>
					<xs:element name="bases" type="rentes_in_host:ordinaireBase10Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="renteExtraordinaire10Type">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:rente10Type">
				<xs:sequence>
					<xs:element name="bases" type="rentes_in_host:extraordinaireBase10Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="abstractBaseFType" abstract="true">
		<xs:sequence>
			<xs:element name="anneeNiveau" type="xs:gYear" minOccurs="0"/>
			<xs:element name="donneesAI" type="rentes_in_host:aiType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="abstractAiType" abstract="true">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:Meta">
				<xs:sequence>
					<xs:element name="IVStelle" type="rentes_in_host:officeAI"/>
					<xs:element name="Invaliditaetsgrad" type="trax:Invaliditaetsgrad_numType"/>
					<xs:element name="Gebrechensschluessel" type="trax:Gebrechensschluessel_numWeakType"/>
					<xs:element name="Funktionsausfallcode" type="trax:IVFunktionsausfall_numWeakType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="aiType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:abstractAiType">
				<xs:sequence>
					<xs:element name="DatumVersicherungsfall" type="xs:date"/>
					<xs:element name="IstFruehInvalid" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="aiCurrentType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:abstractAiType">
				<xs:sequence>
					<xs:element name="debutInvalidite" type="xs:date"/>
					<xs:element name="finInvalidite" type="xs:date" minOccurs="0"/>
					<xs:element name="codeMutation" type="xs:integer" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="aiInformations">
		<xs:sequence>
			<xs:element name="periodeAI" type="rentes_in_host:aiCurrentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="casPenible" type="xs:boolean" minOccurs="0"/>
			<xs:element name="derniereRevisionAI" type="xs:date" minOccurs="0"/>
			<xs:element name="donneesNonCollaboration" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="rentes_in_host:Meta">
						<xs:sequence>
							<xs:element name="partReduction">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="100"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="debut" type="xs:gYearMonth"/>
							<xs:element name="fin" type="xs:gYearMonth" minOccurs="0"/>
						</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="lai39_3" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="officeAI">
		<xs:union memberTypes="trax:IVStelle9_weakType trax:IVStelle_weakType"/>
	</xs:simpleType>
	<xs:complexType name="echelleBaseFType" abstract="true">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:abstractBaseFType">
				<xs:sequence>
					<xs:element name="donneesEchelle" type="rentes_in_host:donneesEchelleType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="donneesEchelleType">
		<xs:complexContent>
			<xs:extension base="trax:SkalaBerechnung_Type">
				<xs:sequence>
					<xs:element name="dureeEtrangereAvant73" type="trax:BeitragsdauerVor1973_Type"/>
					<xs:element name="dureeEtrangereApres73" type="trax:BeitragsdauerAb1973_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ramBase9Type" abstract="true">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:echelleBaseFType">
				<xs:sequence>
					<xs:element name="donneesRam" type="trax:DJE9Beschreibung_Type" minOccurs="0"/>
					<xs:element name="donneesBonifications" type="trax:Gutschriften9_Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ramBase9FType" abstract="true">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:ramBase9Type">
				<xs:sequence>
					<xs:element name="donneesAIFemme" type="rentes_in_host:aiType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="extraordinaireBase9Type">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:ramBase9FType">
				<xs:sequence>
					<xs:element name="limiteRevenu" type="trax:EinkommensgrenzenCode_Type"/>
					<xs:element name="minimumGaranti" type="trax:MinimalgarantieCode_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--    <xs:complexType name="abstractOrdinaireBase9Type" abstract="true">
        <xs:complexContent>
            <xs:restriction base="rentes_in_host:ramBase9FType">
                <xs:sequence>
                    <xs:element name="anneeNiveau" type="xs:gYear"/>
                    <xs:element name="donneesEchelle" type="rentes_in_host:donneesEchelleType"/>
                    <xs:element name="donneesRam" type="trax:DJE9Beschreibung_Type"/>
                    <xs:element name="donneesBonifications" type="trax:Gutschriften9_Type" minOccurs="0"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>-->
	<xs:complexType name="ordinaireBase9Type">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:ramBase9Type">
				<xs:sequence>
					<xs:element name="donneesAgeFlexible" type="rentes_in_host:commonAgeFlexible" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="commonAgeFlexible">
		<xs:sequence>
			<xs:element name="donneesAjournement" type="trax:Rentenaufschub_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ageFlexible10">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:commonAgeFlexible">
				<xs:sequence>
					<xs:element name="donneesAnticipation" type="trax:Rentenvorbezug_Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="extraordinaireBase10Type">
		<xs:complexContent>
			<xs:restriction base="rentes_in_host:abstractBaseFType">
				<xs:sequence>
					<xs:element name="anneeNiveau" type="xs:gYear"/>
					<xs:element name="donneesAI" type="rentes_in_host:aiType" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="abstractOrdinaireBase10Type" abstract="true">
		<xs:complexContent>
			<xs:restriction base="rentes_in_host:echelleBaseFType">
				<xs:sequence>
					<xs:element name="anneeNiveau" type="xs:gYear"/>
					<xs:element name="donneesAI" type="rentes_in_host:aiType" minOccurs="0"/>
					<xs:element name="donneesEchelle" type="rentes_in_host:donneesEchelleType"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ordinaireBase10Type">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:abstractOrdinaireBase10Type">
				<xs:sequence>
					<xs:element name="donneesRam" type="trax:DJE10Beschreibung_Type"/>
					<xs:element name="donneesBonifications" type="trax:Gutschriften10_Type" minOccurs="0"/>
					<xs:element name="donneesAgeFlexible" type="rentes_in_host:ageFlexible10" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="lienType">
		<xs:restriction base="trax:ZivilstandNr_Type">
			<xs:enumeration value="2"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="finLienType">
		<xs:restriction base="trax:ZivilstandNr_Type">
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="e205Type">
		<xs:sequence>
			<xs:element name="textCode205" type="rentes_in_host:textCode205Enum" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="textLibre" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="textCode205Enum">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="101"/>
			<xs:enumeration value="102"/>
			<xs:enumeration value="103"/>
			<xs:enumeration value="104"/>
			<xs:enumeration value="105"/>
			<xs:enumeration value="107"/>
			<xs:enumeration value="109"/>
			<xs:enumeration value="110"/>
			<xs:enumeration value="111"/>
			<xs:enumeration value="112"/>
			<xs:enumeration value="113"/>
			<xs:enumeration value="114"/>
			<xs:enumeration value="115"/>
			<xs:enumeration value="212"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="abstractE2023Type" abstract="true">
		<xs:sequence>
			<xs:element name="assureInfo" type="rentes_in_host:assureInfoType" minOccurs="0"/>
			<xs:element name="naissance" type="rentes_in_host:naissance2023Type" minOccurs="0"/>
			<xs:element name="renteEtrangere" type="rentes_in_host:renteEtrangereType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="e202Type">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:abstractE2023Type">
				<xs:sequence>
					<xs:element name="noFiscal" type="xs:string" minOccurs="0"/>
					<xs:element name="noFiscalDistrict" type="xs:string" minOccurs="0"/>
					<xs:element name="noMatricule" type="xs:string" minOccurs="0"/>
					<xs:element name="documentIdentite" type="xs:string" minOccurs="0"/>
					<xs:element name="activiteProf" type="rentes_in_host:activiteProfType" minOccurs="0"/>
					<xs:element name="prestationLAMAL" type="xs:boolean" minOccurs="0"/>
					<xs:element name="impotence" type="rentes_in_host:impotenceType" minOccurs="0"/>
					<xs:element name="compensation" type="xs:boolean" minOccurs="0"/>
					<xs:element name="arrerages" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="e203Type">
		<xs:sequence>
			<xs:element name="decede" type="rentes_in_host:e203DecedeType"/>
			<xs:element name="survivant" type="rentes_in_host:e203SurvivantType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="e203DecedeType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:abstractE2023Type">
				<xs:sequence>
					<xs:element name="navs" type="xs:long" minOccurs="0"/>
					<xs:element name="deces" type="rentes_in_host:e203DecesType"/>
					<xs:element name="activite" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="e203DecesType">
		<xs:sequence>
			<xs:element name="lieu" type="xs:string" minOccurs="0"/>
			<xs:element name="causeAccidentTravail" type="xs:boolean" minOccurs="0"/>
			<xs:element name="causeAccidentRoute" type="xs:boolean" minOccurs="0"/>
			<xs:element name="causePersonne" minOccurs="0">
				<xs:annotation>
					<xs:documentation>0 = vide, 1 = tiers, 2 = demandeur, 3 = tiers pas responsable, 4 = demandeur pas
                        responsable
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="e203SurvivantType">
		<xs:sequence>
			<xs:element name="nomAnterieur" type="xs:string" minOccurs="0"/>
			<xs:element name="lieuNaissance" type="xs:string" minOccurs="0"/>
			<xs:element name="noAssurance" type="xs:string" minOccurs="0"/>
			<xs:element name="activiteSalarie" type="xs:boolean" minOccurs="0"/>
			<xs:element name="activiteFonctionnaire" type="xs:boolean" minOccurs="0"/>
			<xs:element name="activiteNonSalarie" type="xs:boolean" minOccurs="0"/>
			<xs:element name="montantRevenu" type="xs:int" minOccurs="0"/>
			<xs:element name="anneesRevenu" type="xs:gYear" minOccurs="0"/>
			<xs:element name="prestationLAMAL" type="xs:boolean" minOccurs="0"/>
			<xs:element name="compensation" type="xs:boolean" minOccurs="0"/>
			<xs:element name="arrerages" type="xs:boolean" minOccurs="0"/>
			<xs:element name="eleveEnfant" type="xs:boolean" minOccurs="0"/>
			<xs:element name="allocationEnfant" type="xs:boolean" minOccurs="0"/>
			<xs:element name="institutionDebitrice" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="assureInfoType">
		<xs:sequence>
			<xs:element name="nomNaissance" type="xs:string" minOccurs="0"/>
			<xs:element name="nomAnterieur" type="xs:string" minOccurs="0"/>
			<xs:element name="nomPrenomPere" type="xs:string" minOccurs="0"/>
			<xs:element name="nomPrenomMere" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="activiteProfType">
		<xs:sequence>
			<xs:element name="planification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>1 = en cours, 2 = terminé, 3 = fin prévue
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cessationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>1 = salarié, 2 = fonctionnaire, 3 = non salarié
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="impotenceType">
		<xs:sequence>
			<xs:element name="aptitudeTravail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>1 = inapte, 2 = apte
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="degreAssistance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>0 = non ,1 = pour un acte, 2 = pour tous es actes
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="moyenExistenceInsuffisant" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="prestationComplementaire" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="prestationComplementaireReduite" type="xs:boolean" default="false" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="renteEtrangereType">
		<xs:sequence>
			<xs:element name="debutDroit" type="xs:date" minOccurs="0"/>
			<xs:element name="ajournement" type="xs:boolean" minOccurs="0"/>
			<xs:element name="dateAjournement" type="xs:date" minOccurs="0"/>
			<xs:element name="paysAjournement" type="trax:LandNrBSV_weakType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="naissance2023Type">
		<xs:sequence>
			<xs:element name="lieu" type="xs:string" minOccurs="0"/>
			<xs:element name="province" type="xs:string" minOccurs="0"/>
			<xs:element name="pays" type="trax:LandNrBSV_weakType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organismeLiaisonType">
		<xs:complexContent>
			<xs:extension base="rentes_in_host:Meta">
				<xs:sequence>
					<xs:element name="id" type="xs:int" minOccurs="0"/>
					<xs:element name="noAssureEtranger" type="xs:string" minOccurs="0"/>
					<xs:element name="refDossier" type="xs:string" minOccurs="0"/>
					<xs:element name="nom" type="xs:string" minOccurs="0"/>
					<xs:element name="adresse" type="rentes_in_host:adresseType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Meta" abstract="true">
		<xs:sequence>
			<xs:element name="metaInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:string" minOccurs="0"/>
						<xs:element name="origin" minOccurs="0">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="modified" type="xs:boolean"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="metaData" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="acorMutationscode_Type">
		<xs:union memberTypes="trax:Grundabgang_Type trax:Mutationscode_Type"/>
	</xs:simpleType>
</xs:schema>
