webavs-web/src/main/resources/xsd/P2020/annoncesRC/CACI/annonceCI-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright : Centrale de Compensation AVS/AI, Genève (2004). -->
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by OFIT (private) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by andreas frutiger (private) -->
<xs:schema targetNamespace="http://www.zas.admin.ch/RC" xmlns="http://www.zas.admin.ch/RC"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
    version="1.1">
    <xs:include schemaLocation="../annoncesCommon-types.xsd" />
    <xs:include schemaLocation="./annoncesCACICommon-types.xsd" />
    <xs:include schemaLocation="../../Typebase/General/Npa-types.xsd" />
    <xs:include schemaLocation="../../Typebase/CI/BrancheEco-types.xsd" />
    <xs:include schemaLocation="../../Typebase/ARC/MotifAnnonce-types.xsd" />
    <xs:include schemaLocation="../../Typebase/ARC/CodeEnregistrement-types.xsd" />
    <xs:include schemaLocation="../../Typebase/CI/typesCI-types.xsd" />
    <xs:include schemaLocation="../../Typebase/General/Montants-types.xsd" />
    <xs:include schemaLocation="../../Typebase/General/RestrictedGeneric-types.xsd" />
    <xs:simpleType name="TCodeADS">
        <xs:annotation>
            <xs:documentation>Code ADS</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="1" />
            <xs:pattern value="[ADS]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="KontrollMeldung_Type">
        <xs:annotation>
            <xs:documentation>Code application 39</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ListeFolgerecordNr" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FolgerecordNr" type="FolgerecordNr_Type" nillable="true" maxOccurs="2" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="VorzeichenCode" type="SchluesselzahlStornoeintrag_Type" />
            <xs:element name="TotalEinkommen" type="xs:unsignedInt" />
            <xs:element name="AnzahlIKEintragung" type="xs:unsignedShort" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IKMeldung_Type">
        <xs:annotation>
            <xs:documentation>Paquet codes application 38 + 39: transmission du CI</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Auftrag">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="KasseZweigstelleAuftraggebend" type="IrgendeineZweigstelle_weakType" />
                        <xs:element name="KasseneigenerHinweisAuftragsAK" type="KasseneigenerHinweis_Type" />
                        <xs:element name="MZRSchluesselzahl" type="MZRSchluesselzahl_weakType" nillable="true" />
                        <xs:choice minOccurs="0">
                            <xs:element name="ZIK">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="LeistungsberechtigtePerson">
                                            <xs:annotation>
                                                <xs:documentation>Ayant droit</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Versichertennummer"
                                                        type="Versichertennummer11oder13Stellen_Type" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Abschlussdatum" type="AHVDatumJM_Type" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IKKopieAuszug">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="temporaer" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="LeistungsberechtigtePerson">
                                                        <xs:annotation>
                                                            <xs:documentation>Ayant droit</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Versichertennummer"
                                                                    type="Versichertennummer11oder13Stellen_Type" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Splitting">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="VNrEhepartner" type="Versichertennummer11oder13Stellen_Type" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:element name="Auftragsdatum" type="AHVDatumJMT_Type" minOccurs="0" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IKKopf">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="KasseZweigstelleIKFuehrend" type="IrgendeineZweigstelle_weakType" />
                        <xs:element name="Versichertennummer" type="Versichertennummer8bis13Stellen_Type" />
                        <xs:element name="VersichertenAngaben" type="TVersicherteAngabenFakultativ_WeakName" minOccurs="0" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EintragungIKMeldung" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="TEintragungIKMinDat">
                            <xs:sequence>
                                <xs:element name="CodeADS" nillable="true" minOccurs="0">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="TCodeADS" />
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="Erwerbszweig" type="Erwerbszweig_Type" nillable="true" minOccurs="0" />
                                <xs:element name="Arbeitgeber" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Informationsteil">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:maxLength value="42" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="ArbeitgebersPostleitzahl" minOccurs="0">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="PLZ" nillable="true" 
                                                            minOccurs="0">
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:string">
                                                                    <xs:maxLength value="4" />
                                                                </xs:restriction>
                                                            </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="PLZKomplementaer" 
                                                            nillable="true" minOccurs="0">
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:string">
                                                                    <xs:maxLength value="2" />
                                                                </xs:restriction>
                                                            </xs:simpleType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="ZusatzInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="NachtragsIK" type="xs:unsignedByte" />
                        <xs:element name="Splitting" type="xs:unsignedByte" />
                        <xs:element name="Uebermittlungsdatum" type="AHVDatumJMT_Type" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="KontrollMeldung" type="KontrollMeldung_Type" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IKStatistikMeldung_Type">
        <xs:annotation>
            <xs:documentation>Paquet codes application 31 + 32 + 34: annonce des CI de l'année</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="KasseZweigstelleIKFuehrend" type="IrgendeineZweigstelle_weakType" />
            <xs:element name="Verarbeitungsjahr" type="AHVDatumJ_Type" />
            <xs:element name="StandIKStatistikVorher" type="TStandIKStatistik">
                <xs:annotation>
                    <xs:documentation>Code application 31</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Aufzeichnungen" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:annotation>
                            <xs:documentation>Code aplication 32</xs:documentation>
                        </xs:annotation>
                        <xs:element name="IKKopf">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Versichertennummer" type="Versichertennummer11oder13StellenOderUnbekannt_Type" minOccurs="0" />
                                    <xs:element name="AnzahlVersicherte" type="Short2stellig_Type" minOccurs="0" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="EintragungIKMeldung" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="TEintragungIKMinDat">
                                        <xs:sequence>
                                            <xs:element name="Verarbeitungsjahr" type="AHVDatumJ_Type" minOccurs="0" />
                                        </xs:sequence>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StandIKStatistikNacher">
                <xs:annotation>
                    <xs:documentation>Code application 34</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="TStandIKStatistik">
                            <xs:sequence>
                                <xs:element name="LetzteMeldung">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="de">
                                            1 = Zwischenmeldung 2 = Letzte Meldung des Jahres
                                        </xs:documentation>
                                        <xs:documentation xml:lang="fr">
                                            1=Annonce intercalaire 2=Dernière annonce de l'année
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:short">
                                            <xs:minInclusive value="1" />
                                            <xs:maxInclusive value="2" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TStandIKStatistik">
        <xs:annotation>
            <xs:documentation>Partie commune du code application 31 et 34</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="VorzeichenCode" type="SchluesselzahlStornoeintrag_Type" />
            <xs:element name="SummeEinkommen" type="xs:unsignedLong">
                <xs:annotation>
                    <xs:documentation>Total des revenus inscrits jusqu'ici</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TEintragungIKMinDat">
        <xs:annotation>
            <xs:documentation>Partie commune du code application 32 et 38</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ListeFolgerecordNr" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FolgerecordNr" type="FolgerecordNr_Type" nillable="true"
                            maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AKAbrechnungsNr" type="AKAbrechnungsNr_Type" nillable="true" />
            <xs:element name="SchluesselzahlStornoeintrag" type="SchluesselzahlStornoeintrag_Type" nillable="true" />
            <xs:element name="SchluesselzahlBeitragsart" type="SchluesselzahlBeitragsart_Type" nillable="true" />
            <xs:element name="BesondereSchluesselzahlIK" type="BesondereSchluesselzahlIK_Type" nillable="true"
                minOccurs="0" />
            <xs:element name="BetreuungsgutschriftBruchteil" type="BetreuungsgutschriftBruchteil_Type" nillable="true"
                minOccurs="0" />
            <xs:element name="SonderfallcodeIK" type="SonderfallcodeIK_Type" nillable="true" minOccurs="0" />
            <xs:element name="Beitragsdauer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Anfangsmonat">
                            <xs:simpleType>
                                <xs:restriction base="xs:unsignedByte">
                                    <xs:maxInclusive value="99" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Endmonat">
                            <xs:simpleType>
                                <xs:restriction base="xs:unsignedByte">
                                    <xs:maxInclusive value="99" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Beitragsjahr" type="AHVDatumJ_Type" />
            <xs:element name="Einkommen" type="BetragFR_Type" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ALVEntschaedigungenMeldung_Type">
        <xs:annotation>
            <xs:documentation>
                Paquet codes application 31 + 32 + 34: Annonce des indemnités assurance-chômage pour l'inscription au CI
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="KasseZweigstelleIKFuehrend" type="IrgendeineZweigstelle_weakType" />
            <xs:element name="Verarbeitungsjahr" type="AHVDatumJ_Type" />
            <xs:element name="Aufzeichnungen" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:annotation>
                            <xs:documentation>Code aplication 32</xs:documentation>
                        </xs:annotation>
                        <xs:element name="IKKopf">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Versichertennummer"
                                        type="Versichertennummer11oder13StellenOderUnbekannt_Type" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="EintragungIKMeldung" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ListeFolgerecordNr" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="FolgerecordNr" type="FolgerecordNr_Type"
                                                    nillable="true" maxOccurs="unbounded" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="AKAbrechnungsNr" type="AKAbrechnungsNr_Type" nillable="true" />
                                    <xs:element name="SchluesselzahlStornoeintrag"
                                        type="SchluesselzahlStornoeintrag_Type" nillable="true" />
                                    <xs:element name="SchluesselzahlBeitragsart" type="SchluesselzahlBeitragsart_Type"
                                        nillable="true" />
                                    <xs:element name="Beitragsdauer">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Anfangsmonat">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:unsignedByte">
                                                            <xs:maxInclusive value="99" />
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="Endmonat">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:unsignedByte">
                                                            <xs:maxInclusive value="99" />
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Beitragsjahr" type="AHVDatumJ_Type" />
                                    <xs:element name="Einkommen" type="BetragFR_Type" />
                                    <xs:element name="Verarbeitungsjahr" type="AHVDatumJ_Type" minOccurs="0" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StandIKStatistikNacher">
                <xs:annotation>
                    <xs:documentation>Code application 34</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="VorzeichenCode" type="SchluesselzahlStornoeintrag_Type" />
                        <xs:element name="SummeEntschaedigungen" type="xs:unsignedLong">
                            <xs:annotation>
                                <xs:documentation>Total des revenus inscrits jusqu'ici</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
