webavs-web/src/main/resources/xsd/P2020/annoncesRC/annoncesApgIj/annoncesApgIj-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 (http://www.altova.com) by Christina Blumer-Truong (OFIT, 1203 Geneve) -->
<!-- Copyright : Centrale de Compensation AVS/AI, Genève (2004). -->
<!-- Auteur : S. Juri -->
<!-- Date   : 29.12.2005 -->
<xs:schema xmlns="http://www.zas.admin.ch/RC" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zas.admin.ch/RC" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	<xs:include schemaLocation="../../Typebase/General/Caisses-OAI-Agences-types.xsd"/>
	<xs:include schemaLocation="../../Typebase/General/Montants-types.xsd"/>
	<xs:include schemaLocation="../../Typebase/General/DatesPeriodesDurees-types.xsd"/>
	<xs:include schemaLocation="../../Typebase/General/Lieux-types.xsd"/>
	<xs:include schemaLocation="../../Typebase/Compta/Compta-types.xsd"/>
	<xs:include schemaLocation="../../Typebase/PersPhys/EtatCivil-types.xsd"/>
	<xs:include schemaLocation="../../Typebase/PersPhys/IdsAssure-types.xsd"/>
	<xs:include schemaLocation="../../Typebase/PersPhys/NombreEnfants-types.xsd"/>
	<xs:include schemaLocation="../../Typebase/AI/AI-types.xsd"/>
	<!-- Annoces IJ -->
	<!-- Meldungen für IV-Taggelder -->
	<xs:complexType name="IVTaggelderMeldung_Type">
		<xs:annotation>
			<xs:documentation xml:lang="fr">
				Annonce des indemnités journalières AI à la centrale. Code application 8G
			</xs:documentation>
			<xs:documentation xml:lang="de">
				Meldung der IV-Taggelder an die ZAS. Code Anwendungsgebiet 8G
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="IrgendeineZweigstelle_weakType"/>
			<xs:element name="BuchungsmonatJahr" type="AHVDatumJM_Type" minOccurs="0"/>
			<xs:element name="MeldungsInhalt" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">
						1 = laufendes Taggeld
						3 = Nachzahlung
						4 = Rückforderung
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						1 = indemnité journalière courante
						3 = paiement rétroactif
						4 = restitution
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Taggeldart" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">1 = grosses Taggeld
2 = kleines Taggeld
3 = Einarbeitungszuschuss (5.IV-Revision)
4 = Entschädigung für Betreuungskosten (5.IV-Revision)</xs:documentation>
					<xs:documentation xml:lang="fr">1 = grande IJ
2 = petite IJ
3 = allocation d'initiation au travail (5e révision AI)
4 = allocation pour frais d'assistance (5e révision AI)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Versichertennummer" type="Versichertennummer11oder13Stellen_Type" minOccurs="0"/>
			<xs:element name="VNrEhepartner" type="Versichertennummer11oder13Stellen_Type" minOccurs="0"/>
			<xs:element name="Zivilstand" type="ZivilstandIVTaggelder5Rev_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">5.IV-Revision: 1-4, 6-8
(die Codes 5 und 9 erscheinen nicht, da Trennung beim Taggeld keinen Einfluss auf die Leistung hat)</xs:documentation>
					<xs:documentation xml:lang="fr">5e révision AI: 1-4, 6-8</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnzahlKinder" type="AnzahlKinder_Type" minOccurs="0"/>
			<xs:element name="MassgebendesTageseinkommen" type="BetragFRRP4_Type" minOccurs="0"/>
			<xs:element name="ZustaendigeIVStelle" type="IVStelle_strongType" minOccurs="0"/>
			<xs:element name="Eingliederungsart" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">1 = Untersuchung bzw. Abklärung
2 = Wartezeit
3 = med. Eingliederung
4 = Arbeitsversuch (IVRevision 6a)
5 = erstm. Berufliche Ausbildung
6 = Umschulung
7 = warten auf Arbeitsantritt nach Umschulung
8 = Anlehre
9 = Integrationsmassnahme</xs:documentation>
					<xs:documentation xml:lang="fr">1 = examen ou instruction
2 = délai d’attente
3 = mesure médicale de réadaptation
4 = formation scolaire spéciale (jusqu'au 31 déc 2007)
5 = formation professionnelle initiale					6 = reclassement professionnel
7 = dans l’attente de l’emploi après reclassement professionnel
8 = mise au courant
9 = mesure de réinsertion</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="8"/>
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UVGarantie" type="xs:boolean" minOccurs="0"/>
			<xs:element name="GekuerztesTaggeld" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Besitzstand4IVRevision" type="xs:boolean" minOccurs="0"/>
			<xs:element name="NrVerfuegung" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">25-/27-stellige Verfuegungsnummer 
(nur für neu zugesprochene Taggelder; bleibt leer bei bereits laufenden Faellen)</xs:documentation>
					<xs:documentation xml:lang="fr">numéro de décision à 25 ou 27 positions 
(seulement en cas d'une nouvelle IJ, reste vide pour les cas en cours)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ZustaendigeIVStelle" type="IVStelle_strongType"/>
						<xs:element name="ElfstelligeNrVerfuegung" type="VerfuegungNummer_Type">
							<xs:annotation>
								<xs:documentation xml:lang="de">JJJJ + NNNNNN + Pruefziffer</xs:documentation>
								<xs:documentation xml:lang="fr">AAAA + NNNNNN + chiffre de contrôle</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Versichertennummer" type="Versichertennummer11oder13Stellen_Type"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ErsteTaggeldPeriode" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">1.Taggeldperiode (oder Nachzahlung/Rückforderung)</xs:documentation>
					<xs:documentation xml:lang="fr">1ère période d'indemnité journalière (ou paiement rétroactif, voire restitution)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AbzugVerpflegungUnterkunft" type="xs:boolean" minOccurs="0"/>
						<xs:element name="AnzahlTage" type="AnzahlTage3Stellig_Type" minOccurs="0"/>
						<xs:element name="Tagesansatz" type="BetragFRRP3_Type" minOccurs="0"/>
						<xs:element name="AnzahlTageEingliederungsunterbruchMitTaggeld" type="AnzahlTage3Stellig_Type" minOccurs="0"/>
						<xs:element name="GrundDerUnterbrechung" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">
									1 = Krankheit/Unfall (nicht im Zusammenhang mit Eingliederung)
									2 = Krankheit/Unfall (im Zusammenhang mit Eingliederung)
									3 = Schwangerschaft
									4 = Niederkunft
									5 = andere Gründe
								</xs:documentation>
								<xs:documentation xml:lang="fr">
									1 = maladie/accident (sans rapport avec la réadaptation)
									2 = maladie/accident (en rapport avec la réadaptation)
									3 = grossesse
									4 = accouchement
									5 = autres motifs
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:short">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="9"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AuszahlungTaggeld" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">
									1 = Versicherte Person
									2 = Arbeitgeber/Eingliederungsstätte
									3 = Aufteilung zwischen Arbeitgeber und versicherter
								</xs:documentation>
								<xs:documentation xml:lang="fr">
									1 = personne assurée
									2 = employeur/centre de réadaptation
									3 = répartition entre employeur et personne assurée
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:short">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="IVTaggeldTotal" type="BetragFRRP5_Type" minOccurs="0"/>
						<xs:element name="VorzeichenCode" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">
									false,0=positiv
									true,1=negativ
								</xs:documentation>
								<xs:documentation xml:lang="fr">
									false,0=positif
									true,1=négatif
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PeriodeBeginn" type="AHVDatumJMT_Type" minOccurs="0"/>
						<xs:element name="PeriodeEnde" type="AHVDatumJMT_Type" minOccurs="0"/>
						<xs:element name="AnspruchKindergeld" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Nur bei Taggeldansprüchen gemäss 5.IV-Revision (ohne Besitzstandsgarantie):
false,0 = nein
true,1   = ja</xs:documentation>
								<xs:documentation xml:lang="fr">Droit à la prestation pour enfant
(Seulement si droit à des IJ selon 5e révision AI, sans garantie des droits acquis):
false,0 = non
true,1   = oui</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Besitzstand5IVRevision" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Besitzstand 5.IV-Revision:
false,0 = Nein
true,1   = Ja</xs:documentation>
								<xs:documentation xml:lang="fr">Garantie des droits acquis 5e révision AI:
false,0 = non
true,1   = oui</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TaggeldPeriode" minOccurs="0" maxOccurs="2">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AbzugVerpflegungUnterkunft" type="xs:boolean" minOccurs="0"/>
						<xs:element name="AnzahlTage" type="AnzahlTage3Stellig_Type" minOccurs="0"/>
						<xs:element name="Tagesansatz" type="BetragFRRP3_Type" minOccurs="0"/>
						<xs:element name="AnzahlTageEingliederungsunterbruchMitTaggeld" type="AnzahlTage3Stellig_Type" minOccurs="0"/>
						<xs:element name="GrundDerUnterbrechung" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">
									1 = Krankheit/Unfall (nicht im Zusammenhang mit Eingliederung)
									2 = Krankheit/Unfall (im Zusammenhang mit Eingliederung)
									3 = Schwangerschaft
									4 = Niederkunft
									5 = andere Gründe
								</xs:documentation>
								<xs:documentation xml:lang="fr">
									1 = maladie/accident (sans rapport avec la réadaptation)
									2 = maladie/accident (en rapport avec la réadaptation)
									3 = grossesse
									4 = accouchement
									5 = autres motifs
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:short">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="9"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AuszahlungTaggeld" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">
									1 = Versicherte Person
									2 = Arbeitgeber/Eingliederungsstätte
									3 = Aufteilung zwischen Arbeitgeber und versicherter
								</xs:documentation>
								<xs:documentation xml:lang="fr">
									1 = personne assurée
									2 = employeur/centre de réadaptation
									3 = répartition entre employeur et personne assurée
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:short">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="IVTaggeldTotal" type="BetragFRRP5_Type" minOccurs="0"/>
						<xs:element name="VorzeichenCode" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">
									false,0=positiv
									true,1=negativ
								</xs:documentation>
								<xs:documentation xml:lang="fr">
									false,0=positif
									true,1=négatif
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PeriodeBeginn" type="AHVDatumJMT_Type" minOccurs="0"/>
						<xs:element name="PeriodeEnde" type="AHVDatumJMT_Type" minOccurs="0"/>
						<xs:element name="AnspruchKindergeld" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Nur bei Taggeldansprüchen gemäss 5.IV-Revision (ohne Besitzstandsgarantie):
false,0 = nein
true,1   = ja</xs:documentation>
								<xs:documentation xml:lang="fr">Droit à la prestation pour enfant
(Seulement si droit à des IJ selon 5e révision AI, sans garantie des droits acquis):
false,0 = non
true,1   = oui</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Besitzstand5IVRevision" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Besitzstand 5.IV-Revision:
false,0 = Nein
true,1   = Ja</xs:documentation>
								<xs:documentation xml:lang="fr">Garantie des droits acquis 5e révision AI:
false,0 = non
true,1   = oui</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BetragEntschaedigungBetreuungskosten" type="BetragFRRP5_Type" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">5.IV-Revision: Hoehe der Entschaedigung fuer Betreuungskosten (Betrag FFFFFRR)</xs:documentation>
								<xs:documentation xml:lang="fr">5e révision AI: Montant de l'allocation pour frais d'assistance (FFFFFCC)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BetragEinarbeitungszuschuss" type="BetragFRRP5_Type" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">5.IV-Revision: Höhe Einarbeitungszuschuss (FFFFFRR)</xs:documentation>
								<xs:documentation xml:lang="fr">5e révision AI: montant allocation d'initiation au travail (FFFFFFCC)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IVTaggelderMeldungBis2003_Type">
		<xs:annotation>
			<xs:documentation xml:lang="fr">
				Annonce des indemnités journalières AI à la centrale. Cas jusqu'au 31.12.2003 Code application 85
			</xs:documentation>
			<xs:documentation xml:lang="de">
				Meldung der IV-Taggelder an die ZAS. Fälle bis 31.12.2003 Code Anwendungsgebiet 85
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="IrgendeineZweigstelle_weakType"/>
			<xs:element name="BuchungsmonatJahr" type="AHVDatumJM_Type" minOccurs="0"/>
			<xs:element name="Kartenart" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">
						1 = Meldekarte
						3 = Korrekturkarte für Nachzahlung
						4 = Korrekturkarte für Rückforderung
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						1 = questionnaire
						3 = carte rectificative pour paiement rétroactif
						4 = carte rectificative pour restitution
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Versichertennummer" type="Versichertennummer11oder13Stellen_Type" minOccurs="0"/>
			<xs:element name="Zivilstand" type="ZivilstandNr_Type" minOccurs="0"/>
			<xs:element name="AnzahlKinder" type="AnzahlKinder_Type" minOccurs="0"/>
			<xs:element name="EffektivesDurchschnittlichesTageseinkommenNichtPlafoniert" type="BetragFRRP4_Type" minOccurs="0"/>
			<xs:element name="IVStelle" type="IVStelle_strongType" minOccurs="0"/>
			<xs:element name="EntschaedigungAlleinstehende" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Haushaltentschaedigung" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Unterstuetzungszulage" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Betriebszulage" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Eingliederungszuschlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="KleinesIVTaggeld" type="xs:boolean" minOccurs="0"/>
			<xs:element name="TaggeldPeriode" minOccurs="0" maxOccurs="3">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AnzahlTage" type="AnzahlTage3Stellig_Type" minOccurs="0"/>
						<xs:element name="Tagesansatz" type="BetragFRRP3_Type" minOccurs="0"/>
						<xs:element name="CodeEingliederungsart" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:short">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="8"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="UVGarantie" type="xs:boolean" minOccurs="0"/>
						<xs:element name="TaggeldGekuerzt" type="xs:boolean" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IVTaggeldTotal" type="BetragFRRP5Bis_Type" minOccurs="0"/>
			<xs:element name="PeriodeBeginn" type="AHVDatumJMT_Type" minOccurs="0"/>
			<xs:element name="PeriodeEnde" type="AHVDatumJMT_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Annonces APG -->
	<!-- Meldungen für EO -->
	<xs:complexType name="EoMeldung_Type">
		<xs:annotation>
			<xs:documentation xml:lang="fr">
				Annonce APG nouveau droit. Code application 8F
			</xs:documentation>
			<xs:documentation xml:lang="de">
				Meldung von EO nach neuem Recht. Code Anwendungsgebiet 8F
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="IrgendeineZweigstelle_weakType"/>
			<xs:element name="BuchungsmonatJahr" type="AHVDatumJM_Type" minOccurs="0"/>
			<xs:element name="MeldungsInhalt" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">
						1 = Entschädigungsantrag
						2 = Duplikat
						3 = Korrekturmeldung für Nachzahlung
						4 = Korrekturmeldung für Rückforderung
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						1 = Demande d’allocation
						2 = Duplicata
						3 = Annonce rectificative pour paiement rétroactif
						4 = Annonce rectificative pour restitution
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DienstartLeistungsart" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">
						10 = Normaldienst
						11 = Dienst als Rekrut
						12 = Gradänderungsdienst
						13 = Rekrutierung
						14 = Durchdiener Uof
						20 = Normaldienst
						21 = Grundausbildung
						22 = Katastrophenschutz / Services Führungskräfte und Spezialisten.
						23 = 
						30 = Kaderbildung Jugend und Sport
						40 = Normaldienst
						41 = Dienst mit Rekrutenansatz
						50 = Jungschützleiterkurs
						90 = Mutterschaftsentschädigung
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						10 = service normal
						11 = service en qualité de recrue
						12 = service d’avancement
						13 = recrutement
						14 = sof en service long
						20 = service normal
						21 = formation de base
						22 = protection civile / services cadres et spécialistes
						23 = Services commandants
						30 = formation de cadre jeunesse + sports
						40 = service normal
						41 = service avec taux recrues
						50 = cours moniteurs de jeunes tireurs
						90 = allocation de maternité
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="10"/>
						<xs:enumeration value="11"/>
						<xs:enumeration value="12"/>
						<xs:enumeration value="13"/>
						<xs:enumeration value="14"/>
						<xs:enumeration value="20"/>
						<xs:enumeration value="21"/>
						<xs:enumeration value="22"/>
						<xs:enumeration value="23"/>
						<xs:enumeration value="30"/>
						<xs:enumeration value="40"/>
						<xs:enumeration value="41"/>
						<xs:enumeration value="50"/>
						<xs:enumeration value="90"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="KontoNummerRefNummer" type="Kontonummer_Type" minOccurs="0"/>
			<xs:element name="VNrLeistungsansprechendePerson" type="Versichertennummer11oder13Stellen_Type" minOccurs="0"/>
			<xs:element name="KontrollNummer" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WohnkantonStaat" type="WohnkantonStaatBSV_weakType" minOccurs="0"/>
			<xs:element name="ZivilstandEntschaedigungsberechtigtePerson" type="ZivilstandNr_Type" minOccurs="0"/>
			<xs:element name="ErwerbsartVorEinrueckenNiederkunft" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">
						1=Arbeitnehmende (inkl ANobAG)
						2=Selbständigerwerbende
						3=Nichterwerbstätige
						4=Arbeitnehmende und Selbständigerwerbende gleichzeitig
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						1 = salarié (y.c. celles et ceux dont l’employeur n’est pas tenu de	payer des cotisations)
						2 = indépendant(e)
						3 = non-actif(ve)
						4 = simultanément salarié(e) et indépendant(e)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DurchschnittTageseinkommen" type="BetragFRRP4_Type" minOccurs="0"/>
			<xs:element name="AnzahlKinder" type="AnzahlKinder_Type" minOccurs="0"/>
			<xs:element name="DienstperiodeBeginn" type="AHVDatumJMT_Type" minOccurs="0"/>
			<xs:element name="DienstperiodeEnde" type="AHVDatumJMT_Type" minOccurs="0"/>
			<xs:element name="AnzahlDiensttage" type="AnzahlTage3Stellig_Type" minOccurs="0"/>
			<xs:element name="TagesansatzGrundentschaedigung" type="BetragFRRP3_Type" minOccurs="0"/>
			<xs:element name="Taggeldgarantie" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Betriebszulage" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Betreuungskostenzulage" type="xs:boolean" minOccurs="0"/>
			<xs:element name="BetreuungskostenzulageBetrag" type="BetragFRRP4_Type" minOccurs="0"/>
			<xs:element name="TotalEO" type="BetragFRRP5_Type" minOccurs="0"/>
			<xs:element name="Auszahlungsart" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">
						1 = an entschädigungsberechtigte Person direkt
						2 = an Arbeitgeber
						3 = Aufteilung zwischen Arbeitgeber und versicherter Person	
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						1 = directement à l’ayant droit
						2 = à l’employeur
						3 = répartition entre employeur et personne assurée
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VNrKindsvater" type="Versichertennummer11oder13Stellen_Type" minOccurs="0"/>
			<xs:element name="EntschaedigungsberechtigungBeginn" type="AHVDatumJMT_Type" minOccurs="0"/>
			<xs:element name="EntschaedigungsberechtigungEnde" type="AHVDatumJMT_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EoMeldungNachAltemRecht_Type">
		<xs:annotation>
			<xs:documentation xml:lang="fr">
				Annonce APG ancien droit. Code application 81
			</xs:documentation>
			<xs:documentation xml:lang="de">
				Meldung von EO nach altem Recht. Code Anwendungsgebiet 81
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KasseZweigstelle" type="IrgendeineZweigstelle_weakType"/>
			<xs:element name="BuchungsmonatJahr" type="AHVDatumJM_Type" minOccurs="0"/>
			<xs:element name="Kartenart" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">
						1 = Meldekarte
						2 = Ersatzkarte
						3 = Korrekturkarte für Nachzahlung
						4 = Korrekturkarte für Rückforderung
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						1 = questionnaire
						2 = duplicata
						3 = carte rectificative pour paiement rétroactif
						4 = carte rectificative pour restitution
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Dienstart" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">
						1 = Armee Normaldienst
						2 = Armee Beförderungsdienst
						3 = Zivilschutz
						4 = Jugend+Sport
						5 = Jungschützenleiter
						6 = Zivildienst
						7 = Rekrutierung
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						1 = arméé, service normal
						2 = armée, service d'avancement
						3 = protection civile
						4 = jeunesse + sports
						5 = moniteurs de jeunes tireurs
						6 = service civil
						7 = recrutement
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="KontoNummerRefNummer" type="Kontonummer_Type" minOccurs="0"/>
			<xs:element name="Versichertennummer" type="Versichertennummer11oder13Stellen_Type" minOccurs="0"/>
			<xs:element name="KontrollNummer" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rekrut" type="xs:boolean" minOccurs="0"/>
			<xs:element name="DienstperiodeBeginn" type="AHVDatumJMT_Type" minOccurs="0"/>
			<xs:element name="DienstperiodeEnde" type="AHVDatumJMT_Type" minOccurs="0"/>
			<xs:element name="AnzahlDiensttage" type="AnzahlTage3Stellig_Type" minOccurs="0"/>
			<xs:element name="ErwerbsartVorEinruecken" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">
						1=Arbeitnehmende (inkl ANobAG)
						2=Selbständigerwerbende
						3=Nichterwerbstätige
						4=Arbeitnehmende und Selbständigerwerbende gleichzeitig
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						1 = salarié (y compris ceux dont l’employeur n’est pas tenu de	payer des cotisations)
						2 = indépendant
						3 = non-actif
						4 = simultanément salarié et indépendant
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DurchschnittTageseinkommen" type="BetragFRRP3_Type" minOccurs="0"/>
			<xs:element name="EntschaedigungAlleinstehende" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Haushaltentschaedigung" type="xs:boolean" minOccurs="0"/>
			<xs:element name="AnzahlKinder" type="AnzahlKinder_Type" minOccurs="0"/>
			<xs:element name="Betriebszulage" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Unterstuetzungszulage" type="BetragFRRP3_Type" minOccurs="0"/>
			<xs:element name="Tagesansatz" type="BetragFRRP3_Type" minOccurs="0"/>
			<xs:element name="EOEntschaedigungTotal" type="BetragFRRP5Bis_Type" minOccurs="0"/>
			<xs:element name="Grundentschaedigung" type="xs:boolean" minOccurs="0"/>
			<xs:element name="TagesansatzGrundentschaedigung" type="BetragFRRP3_Type" minOccurs="0"/>
			<xs:element name="Betreuungskostenzulage" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Betreuungskostenzulagebetrag" type="BetragFRRP4Bis_Type" minOccurs="0"/>
			<xs:element name="NurBetreuungskostenzulage" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
