webavs-web/src/main/resources/xsd/acor/xsd/annoncesRC/CACI/annonceRA-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright : Centrale de Compensation AVS/AI, Genève (2004). -->
<xs:schema targetNamespace="http://www.zas.admin.ch/RC"
	xmlns="http://www.zas.admin.ch/RC"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.1">
	<xs:include schemaLocation="../annoncesCommon-types.xsd" />
	<xs:include schemaLocation="annoncesCACICommon-types.xsd" />
	<xs:include schemaLocation="../../Typebase/ARC/NumeroAnnonce-types.xsd" />
	<xs:include	schemaLocation="../../Typebase/ARC/CodeEnregistrement-types.xsd" />
	<xs:include schemaLocation="../../Typebase/ARC/MotifAnnonce-types.xsd" />
	<xs:complexType name="TKopfMeldung">
		<xs:sequence>
			<xs:element name="ListeFolgerecordNr" type="ListeFolgerecordNr_Type" minOccurs="0" />
			<xs:element name="KasseZweigstelle" type="IrgendeineZweigstelle_weakType"/>
			<xs:element name="KasseneigenerHinweis" type="KasseneigenerHinweis_Type" />
			<xs:element name="Meldungsnummer" type="Meldungsnummer_Type" nillable="true" />
			<xs:element name="MZRSchluesselzahl" type="MZRSchluesselzahl_weakType" nillable="true" />
			<xs:element name="Auftragsdatum" type="AHVDatumJMT_Type" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TBasisMeldungOhneId">
		<xs:complexContent>
			<xs:extension base="TKopfMeldung">
				<xs:sequence>
					<xs:element name="VersichertenAngaben"
						type="TVersicherteAngabenVoll" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TBasisMeldungMitId">
		<xs:complexContent>
			<xs:extension base="TKopfMeldung">
				<xs:sequence>
					<xs:element name="Versichertennummer"
						type="Versichertennummer11oder13Stellen_Type">
						<xs:annotation>
							<xs:documentation>
								Si NAVS, alors 11 positions (DCA/CI
								annexe2)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VersichertenAngaben"
						type="TVersicherteAngabenFakultativ" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TBasisMeldungMitFakId">
		<xs:complexContent>
			<xs:extension base="TKopfMeldung">
				<xs:sequence>
					<xs:element name="Versichertennummer"
						type="Versichertennummer11oder13Stellen_Type" />
					<xs:element name="VersichertenAngaben"
						type="TVersicherteAngabenFakultativ" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ListeFolgerecordNr_Type">
		<xs:annotation>
			<xs:documentation>
				Liste des codes enregistrement
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FolgerecordNr" type="FolgerecordNr_Type" nillable="true" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LeistungsberechtigtePerson_Type">
		<xs:annotation>
			<xs:documentation>Ayant droit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IstDerAnspruchgeber">
				<xs:annotation>
					<xs:documentation>
						L'ayant droit est le donneur de droit
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:maxInclusive value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Versichertennummer"
				type="Versichertennummer11oder13Stellen_Type" minOccurs="0" />
			<xs:element name="VersichertenAngaben"
				type="TVersicherteAngabenFakultativ" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VAIKMeldungNeuerVersicherter_Type">
		<xs:annotation>
			<xs:documentation>
				Code application 11: nouvel assuré
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TBasisMeldungOhneId">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VAIKMeldungAenderungVersichertenDaten_Type">
		<xs:annotation>
			<xs:documentation>
				Code application 11: changement des données de l'assuré
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TBasisMeldungOhneId">
				<xs:sequence maxOccurs="3">
					<xs:element name="Versichertennummer"
						type="Versichertennummer11oder13Stellen_Type" />
					<xs:element name="FruehereVersichertenAngaben"
						type="TVersicherteAngabenFakultativ" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VAIKMeldungVerkettungVersichertenNr_Type">
		<xs:annotation>
			<xs:documentation>
				Code application 11: changement du chaînage des
				identificateurs d'assuré
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TKopfMeldung">
				<xs:sequence minOccurs="2" maxOccurs="unbounded">
					<xs:element name="Versichertennummer"
						type="Versichertennummer11oder13Stellen_Type" />
					<xs:element name="VersichertenAngaben"
						type="TVersicherteAngabenFakultativ" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VAIKMeldungVAErsatz_Type">
		<xs:annotation>
			<xs:documentation>
				Code application 11: réimpression CA
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TBasisMeldungMitFakId">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VAIKMeldungIKEroeffnung_Type">
		<xs:annotation>
			<xs:documentation>
				Code application 11: ouverture de CI
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TBasisMeldungMitFakId"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VAIKMeldungZIK_Type">
		<xs:annotation>
			<xs:documentation>
				Code application 11: RCI
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TBasisMeldungMitId">
				<xs:sequence>
					<xs:element name="LeistungsberechtigtePerson" type="LeistungsberechtigtePerson_Type" />
					<xs:element name="Abschlussdatum" type="AHVDatumJM_Type" />
					<xs:element name="CHWohnsitzCode" type="CHWohnsitzCode_Type" minOccurs="0" />
					<xs:element name="WohnsitzDauer" type="AHVPeriodeJM_Type" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VAIKMeldungZIKRueckgaengigmachung_Type">
		<xs:annotation>
			<xs:documentation>
				Code application 11: révocation RCI
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TBasisMeldungMitId">
				<xs:sequence>
					<xs:element name="Abschlussdatum" type="AHVDatumJM_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VAIKMeldungIKKopieAuszug_Type">
		<xs:annotation>
			<xs:documentation>
				Code application 11: copie ou extrait de CI
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TBasisMeldungMitId">
				<xs:sequence>
						<xs:element name="temporaer" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LeistungsberechtigtePerson" type="LeistungsberechtigtePerson_Type"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					<xs:element name="CHWohnsitzCode" type="CHWohnsitzCode_Type" minOccurs="0" />
					<xs:element name="WohnsitzDauer" type="AHVPeriodeJM_Type" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VAIKMeldungSplitting_Type">
		<xs:annotation>
			<xs:documentation>
				Code application 11: splitting
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TKopfMeldung">
				<xs:sequence>
					<xs:element name="Versichertennummer" type="Versichertennummer11oder13Stellen_Type" />
					<xs:element name="VNrEhepartner" type="Versichertennummer11oder13Stellen_Type"/>
					<xs:element name="SplittingPeriode" type="SplittingPeriode_Type" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VAIKMeldungSplittingRueckgaengigmachung_Type">
		<xs:annotation>
			<xs:documentation>
				Code application 11: révocation splitting
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TKopfMeldung">
				<xs:sequence>
					<xs:element name="Versichertennummer" type="Versichertennummer11oder13Stellen_Type" />
					<xs:element name="VNrEhepartner" type="Versichertennummer11oder13Stellen_Type"/>
					<xs:element name="SplittingPeriode" type="SplittingPeriode_Type" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VAIKMeldungKassenWechsel_Type">
		<xs:annotation>
			<xs:documentation>
				Code application 11: changement de caissse
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TKopfMeldung">
				<xs:sequence>
					<xs:element name="Versichertennummer" type="Versichertennummer11oder13Stellen_Type" />
					<xs:element name="KasseZweigstelleNeu" type="IrgendeineZweigstelle_weakType" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VAIKMeldungEintrittAHVIV_Type">
		<xs:annotation>
			<xs:documentation>
				Code application 11: entrée dans l'AVS/AI d'un assuré
				déjà dans le registre central des assurés
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TKopfMeldung">
				<xs:sequence>
					<xs:element name="Versichertennummer" type="Versichertennummer11oder13Stellen_Type" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VAIKMeldungAustauschReferenzNummer_Type">
		<xs:annotation>
			<xs:documentation>Code application 11: remplacement du NAVS de référence par un NAVS dans l'historique</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TKopfMeldung">
				<xs:sequence>
					<xs:element name="Versichertennummer" type="Versichertennummer11oder13Stellen_Type" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
